# Игнорируем скомпилированные Python-файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем резервные копии (backup)
*.bak
*.backup
*~
*.tmp
*.old
*.orig
*.save

# Можно также игнорировать скрытые системные файлы редакторов
.DS_Store
Thumbs.db
