# Игнорируем скомпилированные Python-файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем резервные копии (backup)
*.bak
*.backup
*~
*.tmp
*.old
*.orig
*.save
*.rar
*.zip

/user_data/
/basic_pack/Textures/