{% set CLASS_NAME_MAP = {
    0: 'CONTAINER',
    1: 'GRID_CONTAINER',
    2: 'ANCHOR',
    3: 'BUTTON',
    4: 'SLIDER',
    5: 'TEXT',
} %}

{% set CLASS_ATTRIBUTES = {
    'ANCHOR': ['isMovable'],
    'GRID_CONTAINER': ['isResizable'],
    'BUTTON': ['isClickable', 'isHoldable', 'hadPopup'],
    'SLIDER': ['isClickable', 'isHoldable']
} %}

{% set FN_MAP = {
    0: 'AlignCenterXY',
    1: 'AlignCenterX',
    2: 'AlignCenterY',
    3: 'AlignLeft',
    4: 'AlignRight',
    5: 'AlignBottom',
    6: 'AlignTop',
    7: 'FixAspectRatio',
} %}

{% set FX_MAP = {
    'CommandListCoreFxBoxRound': 'BoxRound',
    'CommandListCoreFxBoxCircle': 'BoxCircle',
    'CommandListCoreFxGradient': 'Gradient',
    'CommandListCoreFxShadow': 'Shadow',
    'CommandListCoreFxBlur': 'Blur',
    'CommandListCoreFxOutline': 'Outline',
    'CommandListCoreFxHover': 'Hover',
    'CommandListCoreFxHover3D': 'Hover3D',
    'CommandListCoreFxGpuAnimRotate': 'GpuAnimRotate'
} %}

{% macro format_var(input_string) -%}
    {%- if input_string -%}
        {%- set chars_to_strip = '$@#%' -%}
        {{- '$' ~ input_string.lstrip(chars_to_strip) -}}
    {%- endif -%}
{%- endmacro %}

{%macro debug_info(element)%}
{% if element.visibility_mode == 'CONDITIONAL' and element.visibility_condition %}
; Visibility: Conditional
if = {{ element.visibility_condition }}
{% else %}
; Visibility: Always
{% endif %}
; Name = {{ element.element_name }}
; ParentID = {{ element.parent_id | default(-1) }} {# <--- ВОТ ИЗМЕНЕНИЕ #}
; Class = {{ element.elem_class }}
; Priority = {{ element.priority }}
; Tag = {{ element.tag }}
; QT Hide = {{ element.qt_hide }}

{%endmacro%}