{% import "texworks.j2" as texworks with context %}
{% import "modules/functions.j2" as fn with context %}
{% import "modules/utils.j2" as utils with context %}

{%macro generate_variables(mod_file,scene)%}
;macro generate_variables(mod_file,scene)
{% if scene.rzm %}
    {% if scene.rzm.rzm_values %}
        {% for value in scene.rzm.rzm_values %}
            {% if value.value_name %}
                {% if value.value_type == 'VECTOR' %}
                {% set v_name = utils.format_var(value.value_name) %}
                global persist ${{ v_name }}_X = {{ "%.3f"|format(value.vector_value[0]) }}
                global persist ${{ v_name }}_Y = {{ "%.3f"|format(value.vector_value[1]) }}
                global persist ${{ v_name }}_Z = {{ "%.3f"|format(value.vector_value[2]) }}
                global persist ${{ v_name }}_W = {{ "%.3f"|format(value.vector_value[3]) }}
                {% elif value.value_type == 'INT' or value.int_value %}
                global persist ${{utils.format_var(value.value_name)}} = {%if value.int_value != null%}{{value.int_value}}{%else%}0{%endif%}   
                {% else %}
                global persist ${{utils.format_var(value.value_name)}} = {%if value.float_value != null%}{{value.float_value}}{%else%}0.0{%endif%}    
                {%endif%}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
{%endmacro%}

{% macro generate_toggle(mod_file,scene) %}
    ;macro generate_toggle(mod_file,scene)
    {# --- ИЗМЕНЕНО ЗДЕСЬ: Путь к коллекции теперь 'toggle_definitions' --- #}
{% if scene.rzm %}
    {% if scene.rzm.toggle_definitions %}
        {% for toggle in scene.rzm.toggle_definitions %}
            {% if toggle.toggle_name %}
            global persist ${{utils.format_var(toggle.toggle_name)}} = {{toggle.toggle_start_index | default(0) | int}}   
            {%endif%}
                {#{toggle.toggle_length}#}
        {% endfor %}
    {% endif %}
{% endif %}
{% endmacro %}

{%macro entryPoint(mod_file,scene)%}
[Present]
$rayvich_back_values_x23 = x23
$rayvich_back_values_y23 = y23
$rayvich_back_values_z23 = z23
$rayvich_back_values_w23 = w23
$rayvich_back_values_x24 = x24
$rayvich_back_values_y24 = y24
$rayvich_back_values_z24 = z24
$rayvich_back_values_w24 = w24
$rayvich_back_values_x30 = x30
$rayvich_back_values_y30 = y30
$rayvich_back_values_z30 = z30
$rayvich_back_values_w30 = w30
$rayvich_back_values_x31 = x31
$rayvich_back_values_y31 = y31
$rayvich_back_values_z31 = z31
$rayvich_back_values_w31 = w31
$rayvich_back_values_x32 = x32
$rayvich_back_values_y32 = y32
$rayvich_back_values_z32 = z32
$rayvich_back_values_w32 = w32
$rayvich_back_values_x33 = x33
$rayvich_back_values_y33 = y33
$rayvich_back_values_z33 = z33
$rayvich_back_values_w33 = w33
$rayvich_back_values_x34 = x34
$rayvich_back_values_y34 = y34
$rayvich_back_values_z34 = z34
$rayvich_back_values_w34 = w34
$rayvich_back_values_x35 = x35
$rayvich_back_values_y35 = y35
$rayvich_back_values_z35 = z35
$rayvich_back_values_w35 = w35
$rayvich_back_values_x36 = x36
$rayvich_back_values_y36 = y36
$rayvich_back_values_z36 = z36
$rayvich_back_values_w36 = w36
$rayvich_back_values_x37 = x37
$rayvich_back_values_y37 = y37
$rayvich_back_values_z37 = z37
$rayvich_back_values_w37 = w37
$rayvich_back_values_x38 = x38
$rayvich_back_values_y38 = y38
$rayvich_back_values_z38 = z38
$rayvich_back_values_w38 = w38
$rayvich_back_values_x39 = x39
$rayvich_back_values_y39 = y39
$rayvich_back_values_z39 = z39
$rayvich_back_values_w39 = w39
$rayvich_back_values_x40 = x40
$rayvich_back_values_y40 = y40
$rayvich_back_values_z40 = z40
$rayvich_back_values_w40 = w40
$rayvich_back_values_x41 = x41
$rayvich_back_values_y41 = y41
$rayvich_back_values_z41 = z41
$rayvich_back_values_w41 = w41
$rayvich_back_values_x42 = x42
$rayvich_back_values_y42 = y42
$rayvich_back_values_z42 = z42
$rayvich_back_values_w42 = w42
$rayvich_back_values_x43 = x43
$rayvich_back_values_y43 = y43
$rayvich_back_values_z43 = z43
$rayvich_back_values_w43 = w43
$rayvich_back_values_x44 = x44
$rayvich_back_values_y44 = y44
$rayvich_back_values_z44 = z44
$rayvich_back_values_w44 = w44
$rayvich_back_values_x45 = x45
$rayvich_back_values_y45 = y45
$rayvich_back_values_z45 = z45
$rayvich_back_values_w45 = w45
$rayvich_back_values_x46 = x46
$rayvich_back_values_y46 = y46
$rayvich_back_values_z46 = z46
$rayvich_back_values_w46 = w46
$rayvich_back_values_x90 = x90
$rayvich_back_values_y90 = y90
$rayvich_back_values_z90 = z90
$rayvich_back_values_w90 = w90
$rayvich_back_values_x99 = x99
$rayvich_back_values_y99 = y99
$rayvich_back_values_z99 = z99
$rayvich_back_values_w99 = w99
$rayvich_back_values_x100 = x100
$rayvich_back_values_y100 = y100
$rayvich_back_values_z100 = z100
$rayvich_back_values_w100 = w100
$rayvich_back_values_x101 = x101
$rayvich_back_values_y101 = y101
$rayvich_back_values_z101 = z101
$rayvich_back_values_w101 = w101
$rayvich_back_values_x102 = x102
$rayvich_back_values_y102 = y102
$rayvich_back_values_z102 = z102
$rayvich_back_values_w102 = w102
$rayvich_back_values_x110 = x110
$rayvich_back_values_y110 = y110
$rayvich_back_values_z110 = z110
$rayvich_back_values_w110 = w110

x23 = 0
y23 = 0
z23 = 0
w23 = 0
x24 = 0
y24 = 0
z24 = 0
w24 = 0
x30 = 0
y30 = 0
z30 = 0
w30 = 0
x31 = 0
y31 = 0
z31 = 0
w31 = 0
x32 = 0
y32 = 0
z32 = 0
w32 = 0
x33 = 0
y33 = 0
z33 = 0
w33 = 0
x34 = 0
y34 = 0
z34 = 0
w34 = 0
x35 = 0
y35 = 0
z35 = 0
w35 = 0
x36 = 0
y36 = 0
z36 = 0
w36 = 0
x37 = 0
y37 = 0
z37 = 0
w37 = 0
x38 = 0
y38 = 0
z38 = 0
w38 = 0
x39 = 0
y39 = 0
z39 = 0
w39 = 0
x40 = 0
y40 = 0
z40 = 0
w40 = 0
x41 = 0
y41 = 0
z41 = 0
w41 = 0
x42 = 0
y42 = 0
z42 = 0
w42 = 0
x43 = 0
y43 = 0
z43 = 0
w43 = 0
x44 = 0
y44 = 0
z44 = 0
w44 = 0
x45 = 0
y45 = 0
z45 = 0
w45 = 0
x46 = 0
y46 = 0
z46 = 0
w46 = 0
x90 = 0
y90 = 0
z90 = 0
w90 = 0
x99 = 0
y99 = 0
z99 = 0
w99 = 0
x100 = 0
y100 = 0
z100 = 0
w100 = 0
x101 = 0
y101 = 0
z101 = 0
w101 = 0
x102 = 0
y102 = 0
z102 = 0
w102 = 0
x110 = 0
y110 = 0
z110 = 0
w110 = 0

run = CommandListRZMain

x24 = $rayvich_back_values_x24
y24 = $rayvich_back_values_y24
z24 = $rayvich_back_values_z24
w24 = $rayvich_back_values_w24
x30 = $rayvich_back_values_x30
y30 = $rayvich_back_values_y30
z30 = $rayvich_back_values_z30
w30 = $rayvich_back_values_w30
x31 = $rayvich_back_values_x31
y31 = $rayvich_back_values_y31
z31 = $rayvich_back_values_z31
w31 = $rayvich_back_values_w31
x32 = $rayvich_back_values_x32
y32 = $rayvich_back_values_y32
z32 = $rayvich_back_values_z32
w32 = $rayvich_back_values_w32
x33 = $rayvich_back_values_x33
y33 = $rayvich_back_values_y33
z33 = $rayvich_back_values_z33
w33 = $rayvich_back_values_w33
x34 = $rayvich_back_values_x34
y34 = $rayvich_back_values_y34
z34 = $rayvich_back_values_z34
w34 = $rayvich_back_values_w34
x35 = $rayvich_back_values_x35
y35 = $rayvich_back_values_y35
z35 = $rayvich_back_values_z35
w35 = $rayvich_back_values_w35
x36 = $rayvich_back_values_x36
y36 = $rayvich_back_values_y36
z36 = $rayvich_back_values_z36
w36 = $rayvich_back_values_w36
x37 = $rayvich_back_values_x37
y37 = $rayvich_back_values_y37
z37 = $rayvich_back_values_z37
w37 = $rayvich_back_values_w37
x38 = $rayvich_back_values_x38
y38 = $rayvich_back_values_y38
z38 = $rayvich_back_values_z38
w38 = $rayvich_back_values_w38
x39 = $rayvich_back_values_x39
y39 = $rayvich_back_values_y39
z39 = $rayvich_back_values_z39
w39 = $rayvich_back_values_w39
x40 = $rayvich_back_values_x40
y40 = $rayvich_back_values_y40
z40 = $rayvich_back_values_z40
w40 = $rayvich_back_values_w40
x41 = $rayvich_back_values_x41
y41 = $rayvich_back_values_y41
z41 = $rayvich_back_values_z41
w41 = $rayvich_back_values_w41
x42 = $rayvich_back_values_x42
y42 = $rayvich_back_values_y42
z42 = $rayvich_back_values_z42
w42 = $rayvich_back_values_w42
x43 = $rayvich_back_values_x43
y43 = $rayvich_back_values_y43
z43 = $rayvich_back_values_z43
w43 = $rayvich_back_values_w43
x44 = $rayvich_back_values_x44
y44 = $rayvich_back_values_y44
z44 = $rayvich_back_values_z44
w44 = $rayvich_back_values_w44
x45 = $rayvich_back_values_x45
y45 = $rayvich_back_values_y45
z45 = $rayvich_back_values_z45
w45 = $rayvich_back_values_w45
x46 = $rayvich_back_values_x46
y46 = $rayvich_back_values_y46
z46 = $rayvich_back_values_z46
w46 = $rayvich_back_values_w46
x90 = $rayvich_back_values_x90
y90 = $rayvich_back_values_y90
z90 = $rayvich_back_values_z90
w90 = $rayvich_back_values_w90
x99 = $rayvich_back_values_x99
y99 = $rayvich_back_values_y99
z99 = $rayvich_back_values_z99
w99 = $rayvich_back_values_w99
x100 = $rayvich_back_values_x100
y100 = $rayvich_back_values_y100
z100 = $rayvich_back_values_z100
w100 = $rayvich_back_values_w100
x101 = $rayvich_back_values_x101
y101 = $rayvich_back_values_y101
z101 = $rayvich_back_values_z101
w101 = $rayvich_back_values_w101
x102 = $rayvich_back_values_x102
y102 = $rayvich_back_values_y102
z102 = $rayvich_back_values_z102
w102 = $rayvich_back_values_w102
x110 = $rayvich_back_values_x110
y110 = $rayvich_back_values_y110
z110 = $rayvich_back_values_z110
w110 = $rayvich_back_values_w110

[CommandListRZMain]
if $ModInitialised != 1
    $initFrame = $initFrame + 1
endif
if $initFrame > 1 && $ModInitialised != 1
{% if scene.rzm %}
    {% if scene.rzm.addons.tex_works == 1 %}
    run = CommandListTexWorks
    ;run = CommandListAddonsFaceTexWorks
    {% endif %}
{% endif %}
    $ModInitialised = 1
endif

if $active
    if $first_run
            {% if scene.rzm.shapes %}
            {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
                {% if component.strides %}
                    Resource{{ component.fullname }}Position = copy Resource{{ component.fullname }}Position.Base
                    {% if mod_file.game.name == "HonkaiStarRail" %}
                    Resource{{ component.fullname }}PositionCS = copyResource{{ component.fullname }}PositionCS.Base
                    {% endif %}
                {% endif %}
            {% endfor %}
            run = CustomShaderComputeShapes
        {% endif %}
        $first_run = 0
    endif
    {% if scene.rzm.shapes %}
    ;run = CustomShaderComputeShapes
    {% endif %}
    run = CommandListPreSnippet
    run = CommandListTexWorks
    run = CommandListEntryPoint
    run = CommandListPostSnippet
endif

post $active = 0
post $di_count = 0
$click = 0

[CommandListEntryPoint]
if $menu
run = CustomShaderDI2D
run = CommandListBaseDataCompute
run = CommandListGamepadProcessInput
x85 = $window0AreaX
w85 = $window0AreaY
z85 = $window0AreaZ
w85 = $window0AreaW
{% if scene.rzm and scene.rzm.elements %}
{%- for element in scene.rzm.elements if element.parent_id == -1 -%}
{%- if not (element.disable_export and not element.is_preset) -%}
{%- if element.is_preset == True or element.is_helper == True -%}
;run = CommandListElement{{ element.element_name }}
{% else -%}
run = CommandListElement{{ element.element_name }}
{% endif %}
{%- endif -%}
{%- endfor -%}

{% endif -%}
run = CommandListInteractionManager
run = CommandListNavFinalizeSearch
{% if scene.rzm %}
    {% if scene.rzm.addons %}
        {% if scene.rzm.addons.debugger_info == 1 %}
        run = CommandListElementDebug
        {% endif %}
    {% endif %}
{% endif %}
endif

[CommandListInteractionManager]
if $inputMode == 0
    $clickTriggerID = -1

    if $isMouseButtonDown == 1
        if $capturedID == -1
            if $hoveredID != -1
                $capturedID = $hoveredID
            else
                $capturedID = -2
            endif
            $holdTimer = 0.0
        endif
        
        if $capturedID > -1
            $holdTimer = $holdTimer + $dt
        endif
    else
        if $capturedID != -1
            if $capturedID > -1 && $holdTimer < $holdThreshold
                $clickTriggerID = $capturedID
            endif
            
            $capturedID = -1
            $dragState = 0
            $holdTimer = 0.0
        endif
    endif
endif

[CustomShader.rzm.CustomDraw.XRAY.ENHANCED]
cull = front
alpha_to_coverage = false
depth_bias = 0
depth_func = greater
depth_write_mask = zero
blend = ADD SRC_ALPHA INV_SRC_ALPHA

; --- МАГИЯ СТЕНСИЛА ПРОТИВ ТРЕУГОЛЬНИКОВ ---
stencil_enable = true
stencil_ref = 1
stencil_read_mask = 0xff
stencil_write_mask = 0xff
if $CD_draw_type == 2
    drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
    drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif

[CustomShader.rzm.CustomDraw.XRAY]
cull = none
alpha_to_coverage = false 
depth_bias = 0
slope_scaled_depth_bias = 0.0
depth_func = greater 
depth_write_mask = zero
blend = ADD SRC_ALPHA INV_SRC_ALPHA
if $CD_draw_type == 2
    drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
    drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif
run = CustomShader.rzm.CustomDraw.XRAY.PASS2
[CustomShader.rzm.CustomDraw.XRAY.PASS2]
depth_func = less_equal 
depth_write_mask = zero 
if $CD_draw_type == 2
    drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
    drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif

[CustomShader.rzm.CustomDraw.XRAY.FRONT]
cull = none
alpha_to_coverage = false 
depth_bias = 0
slope_scaled_depth_bias = 0.0
depth_func = less_equal
depth_write_mask = zero
blend = ADD SRC_ALPHA INV_SRC_ALPHA
if $CD_draw_type == 2
    drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
    drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif

[CustomShader.rzm.CustomDraw.XRAY.BACK]
cull = none
alpha_to_coverage = false 
depth_bias = 0
slope_scaled_depth_bias = 0.0
depth_func = less_equal
depth_write_mask = zero
blend = ADD SRC_ALPHA INV_SRC_ALPHA
if $CD_draw_type == 2
    drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
    drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif

[CustomShader.rzm.CustomDraw.XRAY.ENDFIELD]
depth_bias = 500
slope_scaled_depth_bias = 1.0
cull = back
blend = ADD SRC_ALPHA INV_SRC_ALPHA
depth_func = less_equal
alpha_to_coverage = true
if $CD_draw_type == 2
drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif

[CustomShader.rzm.CustomDraw.FRAMETRACE]
depth_bias = 500
slope_scaled_depth_bias = 1.0
cull = back
blend = ADD SRC_ALPHA INV_SRC_ALPHA
depth_func = less_equal
alpha_to_coverage = true
if $CD_draw_type == 2
drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif

{%endmacro%}

{%macro baseCompute(mod_file,scene)%}
[CommandListBaseDataCompute]
if $inputMode == 0
    if cursor_x > 0 && cursor_y > 0 && cursor_x < 1 && cursor_y < 1
        $cursorX = cursor_x
        $cursorY = 1.0 - cursor_y
    elif cursor_window_x > 0 && cursor_window_y > 0 && cursor_window_x < 1 && cursor_window_y < 1
        $cursorX = cursor_window_x / rt_width
        $cursorY = 1.0 - cursor_window_y / rt_height
    else
        $cursorX = cursor_screen_x / rt_height
        $cursorY = 1.0 - cursor_screen_y / rt_height
    endif
endif
if window_width != 0 && window_height != 0
  $screenW = window_width
  $screenH = window_height
elif rt_width != 0 && rt_height != 0
  $screenW = rt_width
  $screenH = rt_height
else
  $screenW = res_width
  $screenH = res_height
endif

if $screenW > $screenH
	$ratioCorrection = $screenH / $screenW
else 
	$ratioCorrection = $screenW / $screenH
endif
if $inputMode == 0
    $cursorX = $cursorX * $screenW
    $cursorY = $cursorY * $screenH
endif
{% if scene.rzm %}
    {% for grid in scene.rzm.elements %}
        {% if grid.elem_class == 'GRID_CONTAINER' and not (grid.disable_export and not grid.is_preset) %}
            ${{ grid.element_name }}_new_frame = 1
        {% endif %}
    {% endfor %}
{% endif %}
$id = -1
if $inputMode == 0
$hoveredID = -1
endif
$dt = time - $ts
$dtCustom = time - $ts
$dtCustom = $dtCustom * {{ scene.rzm.config.custom_interpolation_speed | default (16.0) }}
$ts = time
{%endmacro%}

{% macro menuDrawUi(mod_file,scene)%}
[CustomShaderRCI2D_POPUP]
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110
cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = $colorR
y101 = $colorG
z101 = $colorB
w101 = $colorA
if $drawType == 1 || $drawType == 2 || $drawtype == 21 ||  $drawtype == 20 ||  $drawtype == 9000
	x102 = $texPosX / 256
	y102 = $texPosY / 128
	z102 = $texSizeX / 256
	w102 = $texSizeY / 128
elif $drawType == 3
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
elif $drawType == 5
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
else
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
endif
x109 = 0
y109 = 0
z109 = 0
w109 = 0
x110 = x110
y110 = y110
z110 = 0
w110 = $drawType
y111 = 768 + $di_count
if $flipX == 1 && $flipY == 1
    x105 = 3 
elif $flipX == 1
    x105 = 1
elif $flipY == 1
    x105 = 2
else
    x105 = 0
endif
dispatch = 1, 1, 1
x105 = 0
$di_count = $di_count + 1

[CustomShaderRCI2D_SLIDER]
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110
cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = 0.0
y101 = 0.0
z101 = 0.0
w101 = 0.75
if $drawType == 1 || $drawType == 2 || $drawtype == 21 ||  $drawtype == 20 ||  $drawtype == 9000
	x102 = $texPosX / 256
	y102 = $texPosY / 128
	z102 = $texSizeX / 256
	w102 = $texSizeY / 128
elif $drawType == 3
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
elif $drawType == 5
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
else
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
endif
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
if $slider_node_disable_blur == 0
w110 = 90
else
w110 = 0
endif
y111 = $di_count

if $flipX == 1 && $flipY == 1
    x105 = 3 
elif $flipX == 1
    x105 = 1
elif $flipY == 1
    x105 = 2
else
    x105 = 0
endif
dispatch = 1, 1, 1
x105 = 0
$di_count = $di_count + 1
if $slider_node_disable_nums == 0
run = CommandListCoreFXRenderSliderNumbers
endif


[CustomShaderRCI2D_SLIDER.TEXT]
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110
cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = 0.0
y101 = 0.0
z101 = 0.0
w101 = 0.75
if $drawType == 1 || $drawType == 2 || $drawtype == 21 ||  $drawtype == 20 ||  $drawtype == 9000
	x102 = $texPosX / 256
	y102 = $texPosY / 128
	z102 = $texSizeX / 256
	w102 = $texSizeY / 128
elif $drawType == 3
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
elif $drawType == 5
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
else
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
endif
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
if $slider_node_disable_blur == 0
    w110 = 90
else
    w110 = 0
endif
y111 = $di_count

if $flipX == 1 && $flipY == 1
    x105 = 3 
elif $flipX == 1
    x105 = 1
elif $flipY == 1
    x105 = 2
else
    x105 = 0
endif
dispatch = 1, 1, 1
x105 = 0
$di_count = $di_count + 1
run = CommandListCoreFXRenderSliderText
if $slider_node_disable_nums == 0
run = CommandListCoreFXRenderSliderNumbers
endif

[CustomShaderRCI2D_TEXT_LEFT]
$texSizeX = 0
run = CustomShaderRCI2D_TEXT
[CustomShaderRCI2D_TEXT_CENTER]
$texSizeX = 1
run = CustomShaderRCI2D_TEXT
[CustomShaderRCI2D_TEXT_RIGHT]
$texSizeX = 2
run = CustomShaderRCI2D_TEXT
[CustomShaderRCI2D_TEXT]
$drawType = 3
if $TextIsData == 1
$drawType = 4
endif
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110
cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = $colorR
y101 = $colorG
z101 = $colorB
w101 = $colorA
if $flipX == 1 && $flipY == 1
x105 = 3 
elif $flipX == 1
x105 = 1
elif $flipY == 1
x105 = 2
else
x105 = 0
endif
y105 = $fontSlot
w105 = $rotation
x102 = $texPosX
y102 = $texPosY
z102 = $texSizeX
w102 = $texSizeY
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
w110 = $drawType
y111 = $di_count

dispatch = 1, 1, 1
$di_count = $di_count + 1
$TextIsData = 0

[CustomShaderRCI2D_HOVERTEXT]
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110
cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = ($cursorX + $hoverPositionOffsetX - 5) / $ScreenW
y100 = ($cursorY + $hoverPositionOffsetY - 5) / $ScreenH
z100 = ($symbolSizeX * $textLength + 10) / $ScreenW
w100 = ($symbolSizeY + 10) / $ScreenH
x101 = 0
y101 = 0
z101 = 0
w101 = y24 * 2
x102 = 0
y102 = 0
z102 = 0
w102 = 0
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = 0
y110 = 0
z110 = 0
w110 = 0
y111 = 510
if $flipX == 1 && $flipY == 1
    x105 = 3 
elif $flipX == 1
    x105 = 1
elif $flipY == 1
    x105 = 2
else
    x105 = 0
endif
dispatch = 1, 1, 1
x105 = 0
$di_count = $di_count + 1

z99 = $ScreenW
w99 = $ScreenH
x100 = ($cursorX + $hoverPositionOffsetX) / $ScreenW
y100 = ($cursorY + $hoverPositionOffsetY) / $ScreenH
z100 = ($symbolSizeX * $textLength) / $ScreenW
w100 = $symbolSizeY / $ScreenH
x101 = 1
y101 = 1
z101 = 1
w101 = y24 * 2
x102 = $textOffset
y102 = $textLength
z102 = 0
w102 = 0
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = 0
y110 = 0
z110 = 0
w110 = 3
y111 = 511
if $flipX == 1 && $flipY == 1
    x105 = 3 
elif $flipX == 1
    x105 = 1
elif $flipY == 1
    x105 = 2
else
    x105 = 0
endif
y105 = $fontSlot
w105 = $rotation

dispatch = 1, 1, 1
$di_count = $di_count + 1

[CustomShaderRCI2D]
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u5 = ResourceBuffer105
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110

cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = $colorR
y101 = $colorG
z101 = $colorB
w101 = $colorA
if $drawType == 1 || $drawType == 2 || $drawtype == 21 ||  $drawtype == 20 ||  $drawtype == 9000
{% if scene.rzm %}
    {% if scene.rzm.atlas_size %}
    x102 = $texPosX / {{scene.rzm.atlas_size[0] | int}}
    y102 = $texPosY / {{scene.rzm.atlas_size[1] | int}}
    z102 = $texSizeX / {{scene.rzm.atlas_size[0] | int}}
    w102 = $texSizeY / {{scene.rzm.atlas_size[1] | int}}
    {% else %}
    ;ERROR: размеры атласа не были предопределены
    x102 = $texPosX / 0
    y102 = $texPosY / 0
    z102 = $texSizeX / 0
    w102 = $texSizeY / 0
    {%endif%}
{% endif %}
elif $drawType == 3
x102 = $texPosX
y102 = $texPosY
z102 = $texSizeX
w102 = $texSizeY
elif $drawType == 5
x102 = $texPosX
y102 = $texPosY
z102 = $texSizeX
w102 = $texSizeY
else
x102 = $texPosX
y102 = $texPosY
z102 = $texSizeX
w102 = $texSizeY
endif
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
w110 = $drawType
y111 = $di_count

if $flipX == 1 && $flipY == 1
    x105 = 3 
elif $flipX == 1
    x105 = 1
elif $flipY == 1
    x105 = 2
else
    x105 = 0
endif
w105 = $rotation

dispatch = 1, 1, 1
$di_count = $di_count + 1

x110 = 0
y110 = 0

[ResourceBB]
[CustomShaderDI2D]
ResourceBB = copy_desc bb
vs-t100 = ref ResourceBuffer100
vs-t101 = ref ResourceBuffer101
vs-t102 = ref ResourceBuffer102
vs-t103 = ref ResourceBuffer103
vs-t105 = ref ResourceBuffer105
vs-t109 = ref ResourceBuffer109
vs-t110 = ref ResourceBuffer110

w98 = time % 1
x99 = $cursorX / $ScreenW
y99 = $cursorY / $ScreenH
z99 = $ScreenW
w99 = $ScreenH
ps-t80 = ResourceIcons
vs-t82 = ResourceFont0
ps-t82 = ResourceFont0
vs-t83 = ResourceFont1
ps-t83 = ResourceFont1
vs-t84 = ResourceFont2
ps-t84 = ResourceFont2
vs-t85 = ResourceFont3
ps-t85 = ResourceFont3
run = CustomShaderDI2D.PASS0.BLUR
run = CustomShaderDI2D.PASS.MAIN
clear = ResourceBuffer100
clear = ResourceBuffer101
clear = ResourceBuffer102
clear = ResourceBuffer103
clear = ResourceBuffer105
clear = ResourceBuffer109
clear = ResourceBuffer110


[CustomShaderDI2D.PASS0.BLUR]
{% if scene.rzm.addons.pre_render_blur == 'X1' %}
x101 = 3
run = CustomShaderDI2D.PASS0.BLUR.X1
{% elif scene.rzm.addons.pre_render_blur == 'X2' %}
x101 = 3
run = CustomShaderDI2D.PASS0.BLUR.X1
run = CustomShaderDI2D.PASS0.BLUR.X2
{% elif scene.rzm.addons.pre_render_blur == 'X4' %}
x101 = 12
run = CustomShaderDI2D.PASS0.BLUR.X1
x101 = 8
run = CustomShaderDI2D.PASS0.BLUR.X1.5
x101 = 3
run = CustomShaderDI2D.PASS0.BLUR.X1.75
run = CustomShaderDI2D.PASS0.BLUR.X1.85
run = CustomShaderDI2D.PASS0.BLUR.X2
{% else %}
ps-t90 = bb
{% endif %}

[CustomShaderDI2D.PASS0.BLUR.X1]
ps-t92 = bb
vs = /modules/draw_instancer_pass_0_blur_bb.hlsl
ps = /modules/draw_instancer_pass_0_blur_bb.hlsl
run = BuiltInCommandListUnbindAllRenderTargets
blend = ADD SRC_ALPHA ZERO
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache ResourceBB
Draw = 6,0
{% if scene.rzm.addons.pre_render_blur == 'X2' %}
ps-t91 = copy o0
{% elif scene.rzm.addons.pre_render_blur == 'X4' %}
ps-t93 = copy o0
{% else %}
ps-t90 = copy o0
{% endif %}
[CustomShaderDI2D.PASS0.BLUR.X1.5]
ps-t92 = ps-t93
vs = /modules/draw_instancer_pass_0_blur_bb.hlsl
ps = /modules/draw_instancer_pass_0_blur_bb.hlsl
run = BuiltInCommandListUnbindAllRenderTargets
blend = ADD SRC_ALPHA ZERO
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache ResourceBB
Draw = 6,0
if $ui_graphics_blur != 3
ps-t92 = copy o0
else
ps-t91 = copy o0
endif
[CustomShaderDI2D.PASS0.BLUR.X1.75]
vs = /modules/draw_instancer_pass_0_blur_bb.hlsl
ps = /modules/draw_instancer_pass_0_blur_bb.hlsl
run = BuiltInCommandListUnbindAllRenderTargets
blend = ADD SRC_ALPHA ZERO
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache ResourceBB
Draw = 6,0
ps-t92 = copy o0
[CustomShaderDI2D.PASS0.BLUR.X1.85]
vs = /modules/draw_instancer_pass_0_blur_bb.hlsl
ps = /modules/draw_instancer_pass_0_blur_bb.hlsl
run = BuiltInCommandListUnbindAllRenderTargets
blend = ADD SRC_ALPHA ZERO
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache ResourceBB
Draw = 6,0
ps-t91 = copy o0
[CustomShaderDI2D.PASS0.BLUR.X2]
vs = /modules/draw_instancer_pass_0_5_blur_bb.hlsl
ps = /modules/draw_instancer_pass_0_5_blur_bb.hlsl
blend = ADD SRC_ALPHA ZERO
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache ResourceBB
Draw = 6,0
ps-t90 = copy o0
[CustomShaderDI2D.PASS.MAIN]
vs = /modules/draw_instancer.hlsl
ps = /modules/draw_instancer.hlsl
run = BuiltInCommandListUnbindAllRenderTargets
blend = ADD SRC_ALPHA INV_SRC_ALPHA
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache bb
DrawInstanced = 192, 1024, 0, 0


[ResourceBuffer100]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 1024
[ResourceBuffer101]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 1024
[ResourceBuffer102]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 1024
[ResourceBuffer103]
type = Buffer
array = 1024
format = R8_UINT
[ResourceBuffer105]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 1024
[ResourceBuffer109]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 1024
[ResourceBuffer110]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 1024


[Constants]
global $debugTexShow = 0
[KeyShowTexDebug]
key = L
type = hold
$debugTexShow = 1
post $debugTexShow = 0
{% if scene.rzm.addons.tex_works == 1 %}
    ;[Present]
    ;if $debugTexShow
    ;ResourceTex = copy ResourceAtlasDiffuse
    ;run = CustomShaderDebugShowTexture
    ;endif
    ;[ResourceTex]
    ;[CustomShaderDebugShowTexture]
    ;ps-t50 = ResourceTex
    ;vs = /modules/texworks/simple_draw.hlsl
    ;ps = /modules/texworks/simple_draw.hlsl
    ;run = BuiltInCommandListUnbindAllRenderTargets
    ;blend = ADD SRC_ALPHA INV_SRC_ALPHA
    ;topology = triangle_strip
    ;o0 = set_viewport bb
    ;draw = 4, 0
{% endif %}
{%endmacro%}

{% macro menu_resource_ui(mod_file,scene)%}
;MenuIcons
[ResourceIcons]
filename = .\res\icons.png
[ResourceFont0]
filename = .\res\font_atlas_0.png
[ResourceFont1]
filename = .\res\font_atlas_1.png
[ResourceFont2]
filename = .\res\font_atlas_2.png
[ResourceFont3]
filename = .\res\font_atlas_3.png
[ResourceModNameText]
filename = .\res\mod_name.png
{% endmacro %}

{% macro shape_generate(mod_file,scene)%}
[Constants]
global $shape_changed = 0
{% for shape in scene.rzm.shapes %}
global ${{utils.format_var(shape.shape_name | default(Error) | string)}}Past
{% endfor %}
{% if scene.rzm.shapes %}
    [Present]
    {% for shape in scene.rzm.shapes %}
    post ${{utils.format_var(shape.shape_name | default(Error) | string)}}Past = ${{utils.format_var(shape.shape_name | default(Error) | string)}}
    {% endfor %}
    {% for shape in scene.rzm.shapes %}
        {% if shape.shape_type == "Linear" | default("Linear") %}
            if ${{utils.format_var(shape.shape_name | default(Error) | string)}}Past != ${{utils.format_var(shape.shape_name | default(Error) | string)}}
                $shape_changed = 1
            endif
        {% endif %}
        {% if shape.shape_type == "Anim" | default("Linear")%}
            if ${{utils.format_var(shape.shape_name | default(Error) | string)}} > 0.005
                $shape_changed = 1
            endif
        {% endif %}
    {% endfor %}

    if $shape_changed
        run = CustomShaderComputeShapes
    endif
    post $shape_changed = 0
{% endif %}

{% if scene.rzm.shapes %}
[Constants]
{% for shape in scene.rzm.shapes %}
{% if shape.shape_type == "Anim" | default("Linear") %}
global ${{utils.format_var(shape.shape_name | default(Error) | string)}}Freq
{% endif %}
{% endfor %}
[Present]
run = CommandListBaseDataCompute
[CommandListBaseDataCompute]
if $dt+$sppeeedyy < $sppeeedyy
{% for shape in scene.rzm.shapes if shape.shape_type == "Anim" | default("Linear") %}
    {% if shape.anim_condition %}
    if {{ shape.anim_condition }}
        ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq = ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq + ${{utils.format_var(shape.shape_name | default('Error') | string)}} * ($sppeeedyy)
    endif
    {% else %}
    ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq = ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq + ${{utils.format_var(shape.shape_name | default('Error') | string)}} * ($sppeeedyy)
    {% endif %}
{% endfor %}
else
{% for shape in scene.rzm.shapes if shape.shape_type == "Anim" | default("Linear") %}
    {% if shape.anim_condition %}
    if {{ shape.anim_condition }}
        ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq = ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq + ${{utils.format_var(shape.shape_name | default('Error') | string)}} * ($dt+$sppeeedyy)
    endif
    {% else %}
    ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq = ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq + ${{utils.format_var(shape.shape_name | default('Error') | string)}} * ($dt+$sppeeedyy)
    {% endif %}
{% endfor %}
endif

[CustomShaderComputeShapes]
{% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
    {% if component.strides %}
    run = CustomShaderComputeShapes.{{ component.fullname }}
    {% endif %}
{% endfor %}

{% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
    {% if component.strides %}
    [CustomShaderComputeShapes.{{ component.fullname }}]
    cs = ./modules/position_shape_linear.hlsl
    cs-u5 = copy Resource{{ component.fullname }}Position.Base
    {% for shape in scene.rzm.shapes %}
        {% for key in shape.shape_keys %}
            {% if shape.shape_type == "Linear" | default("Linear") %}
            {% if key.mode == 1 %}
                ;Advanced Key
                x88 = ${{utils.format_var(shape.shape_name | default('Error') | string)}}
                {% set range_min = key.input_range_min | default(0.0) | float %}
                {% set range_max = key.input_range_max | default(1.0) | float %}
                {% set multiplier = key.multiplier | default(1.0) | float %}
                {% set range_span = range_max - range_min %}
                if x88 <= {{ range_min }}
                    x88 = 0.0
                else if x88 >= {{ range_max }}
                    x88 = 1.0
                else
                    {% if range_span > 0.0001 %}
                    x88 = (x88 - {{ range_min }}) / {{ range_span }}
                    {% else %}
                    x88 = 0.0
                    {% endif %}
                endif
                x88 = x88 * {{ multiplier }}
                {% else %}
                x88 = ${{utils.format_var(shape.shape_name | default('Error') | string)}}
            {% endif %}
            cs-t50 = copy Resource{{ component.fullname }}Position.Base
            cs-t51 = copy Resource{{ component.fullname }}Position.{{utils.format_var(shape.shape_name | default('Error') | string)}}_{{ key.key_name }}
            Resource{{ component.fullname }}Position = ref cs-u5
            Dispatch = {{ component.vertex_count }}, 1, 1
            {% endif %}
        {% endfor %}
    {% endfor %}

    run = CustomShaderComputeShapes.{{ component.fullname }}.Anim

    cs-u5 = null
    cs-t50 = null
    cs-t51 = null

    [CustomShaderComputeShapes.{{ component.fullname }}.Anim]
    cs = ./modules/position_shape_anim.hlsl
    {% for shape in scene.rzm.shapes %}
        {% for key in shape.shape_keys %}
            {% if shape.shape_type == "Anim" | default("Linear") %}
            x88 = ${{utils.format_var(shape.shape_name | default(Error) | string)}}Freq
            y88 = {{ key.anim_type_index | default(0) | int }}
            z88 = {{ key.anim_start_frame| default(0.0) | float }}
            w88 = {{ key.anim_end_frame | default(1.0) | float }}
            cs-t50 = copy Resource{{ component.fullname }}Position.Base
            cs-t51 = copy Resource{{ component.fullname }}Position.{{utils.format_var(shape.shape_name | default('Error') | string)}}_{{ key.key_name }}
            Resource{{ component.fullname }}Position = ref cs-u5
            Dispatch = {{ component.vertex_count }}, 1, 1
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% endif %}
{% endfor %}


{% endif %}

;BaseShape
{% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
    {% if component.strides %}
        [Resource{{ component.fullname }}Position.Base]
        type = Buffer
        stride = {{ component.strides.position }}
        filename = /0/{{ component.fullname }}Position.buf

        {% if mod_file.game.name == "HonkaiStarRail" %}
            [Resource{{ component.fullname }}PositionCS.Base]
            type = StructuredBuffer
            stride = {{ component.strides.position }}
            filename = /0/{{ component.fullname }}Position.buf
        {% endif %}
    {% endif %}
{% endfor %}

{% for shape in scene.rzm.shapes %}
    {% for key in shape.shape_keys %}
        ;ShapeKey Resource: {{ shape.shape_name }}.{{ key.key_name }}
        {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 and component.strides %}
        [Resource{{ component.fullname }}Position.{{utils.format_var(shape.shape_name | default('Error') | string)}}_{{ key.key_name }}]
        type = Buffer
        stride = {{ component.strides.position }}
        filename = /{{ key.key_name }}/{{ component.fullname }}Position.buf

        {% if mod_file.game.name == "HonkaiStarRail" %}
        [Resource{{ component.fullname }}PositionCS.{{utils.format_var(shape.shape_name | default('Error') | string)}}_{{ key.key_name }}]
        type = StructuredBuffer
        stride = {{ component.strides.position }}
        filename = /{{ key.key_name }}/{{ component.fullname }}Position.buf
        {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% endmacro %}
{% macro shape_generate_arknights(extracted_object, merged_object, buffers, scene) %}

{# 1. ОБЪЯВЛЕНИЕ ПЕРЕМЕННЫХ (Constants) #}
[Constants]
global $shape_changed = 0
{% for shape in scene.rzm.shapes %}
global ${{utils.format_var(shape.shape_name | default(Error) | string)}}Past
{% if shape.shape_type == "Anim" | default("Linear") %}
global ${{utils.format_var(shape.shape_name | default(Error) | string)}}Freq
{% endif %}
{% endfor %}

{# 2. ЛОГИКА ОБНОВЛЕНИЯ И ТАЙМИНГОВ (Present) #}
[Present]
{% if scene.rzm.shapes %}
    ; --- Проверка изменений для оптимизации ---
    {% for shape in scene.rzm.shapes %}
    post ${{utils.format_var(shape.shape_name | default(Error) | string)}}Past = ${{utils.format_var(shape.shape_name | default(Error) | string)}}
    
    {% if shape.shape_type == "Linear" | default("Linear") %}
    if ${{utils.format_var(shape.shape_name | default(Error) | string)}}Past != ${{utils.format_var(shape.shape_name | default(Error) | string)}}
        $shape_changed = 1
    endif
    {% endif %}
    
    {% if shape.shape_type == "Anim" | default("Linear") %}
    if ${{utils.format_var(shape.shape_name | default(Error) | string)}} > 0.005
        $shape_changed = 1
    endif
    {% endif %}
    {% endfor %}
    
    if $dt + $sppeeedyy < $sppeeedyy
        {% for shape in scene.rzm.shapes if shape.shape_type == "Anim" | default("Linear") %}
        ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq = ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq + ${{utils.format_var(shape.shape_name | default('Error') | string)}} * $sppeeedyy
        {% endfor %}
    else
        {% for shape in scene.rzm.shapes if shape.shape_type == "Anim" | default("Linear") %}
        ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq = ${{utils.format_var(shape.shape_name | default('Error') | string)}}Freq + ${{utils.format_var(shape.shape_name | default('Error') | string)}} * ($dt + $sppeeedyy)
        {% endfor %}
    endif

    ; --- Запуск вычислений ---
    if $shape_changed
        run = CustomShaderComputeShapes
    endif
    post $shape_changed = 0
{% endif %}

{# 3. ТОЧКА ВХОДА В ШЕЙДЕРЫ #}
[CustomShaderComputeShapes]
{% for id, component in enumerate(extracted_object.components) %}
    {% if ('Component' ~ id ~ '_VB0') in buffers and merged_object.components[id].vertex_count > 0 %}
        run = CustomShaderComputeShapes_Component{{ id }}
    {% endif %}
{% endfor %}

{# 4. ОПРЕДЕЛЕНИЕ КОМПОНЕНТОВ #}
{% for id, component in enumerate(extracted_object.components) %}
    {% if ('Component' ~ id ~ '_VB0') in buffers and merged_object.components[id].vertex_count > 0 %}
    
    [CustomShaderComputeShapes_Component{{ id }}]
    cs = ./modules/position_shape_linear_ENDFIELD.hlsl
    cs-u5 = copy Resource_Component{{ id }}_VB0_Base

    {% for shape in scene.rzm.shapes %}
        {% for key in shape.shape_keys %}
            {% if shape.shape_type == "Linear" | default("Linear") %}
            {% if key.mode == 1 %}
                ; Advanced Key Logic
                x88 = ${{ utils.format_var(shape.shape_name | default('Error') | string) }}
                {% set range_min = key.input_range_min | default(0.0) | float %}
                {% set range_max = key.input_range_max | default(1.0) | float %}
                {% set multiplier = key.multiplier | default(1.0) | float %}
                {% set range_span = range_max - range_min %}
                
                if x88 <= {{ range_min }}
                    x88 = 0.0
                else if x88 >= {{ range_max }}
                    x88 = 1.0
                else
                    {% if range_span > 0.0001 %}
                    x88 = (x88 - {{ range_min }}) / {{ range_span }}
                    {% else %}
                    x88 = 0.0
                    {% endif %}
                endif
                x88 = x88 * {{ multiplier }}
            {% else %}
                x88 = ${{ utils.format_var(shape.shape_name | default('Error') | string) }}
            {% endif %}

            cs-t50 = copy Resource_Component{{ id }}_VB0_Base
            cs-t51 = copy Resource_Component{{ id }}_VB0_{{ shape.shape_name }}_{{ key.key_name }}
            Resource_Component{{ id }}_VB0 = ref cs-u5
            Dispatch = {{ merged_object.components[id].vertex_count }}, 1, 1
            {% endif %}
        {% endfor %}
    {% endfor %}

    run = CustomShaderComputeShapes_Component{{ id }}_Anim
    cs-u5 = null
    cs-t50 = null
    cs-t51 = null

    [CustomShaderComputeShapes_Component{{ id }}_Anim]
    cs = ./modules/position_shape_anim_ENDFIELD.hlsl
    {% for shape in scene.rzm.shapes %}
        {% for key in shape.shape_keys %}
            {% if shape.shape_type == "Anim" | default("Linear") %}
            x88 = ${{utils.format_var(shape.shape_name | default(Error) | string)}}Freq
            y88 = {{ key.anim_type_index | default(0) | int }}
            z88 = {{ key.anim_start_frame| default(0.0) | float }}
            w88 = {{ key.anim_end_frame | default(1.0) | float }}
            
            cs-t50 = copy Resource_Component{{ id }}_VB0_Base
            cs-t51 = copy Resource_Component{{ id }}_VB0_{{ shape.shape_name }}_{{ key.key_name }}
            Resource_Component{{ id }}_VB0 = ref cs-u5
            Dispatch = {{ merged_object.components[id].vertex_count }}, 1, 1
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% endif %}
{% endfor %}

{# 5. РЕСУРСЫ #}
{% for id, component in enumerate(extracted_object.components) %}
    {% if ('Component' ~ id ~ '_VB0') in buffers and merged_object.components[id].vertex_count > 0 %}
    [Resource_Component{{ id }}_VB0_Base]
    type = Buffer
    stride = 16
    filename = Meshes/Component{{ id }}_VB0.buf
    {% endif %}
{% endfor %}

{% for shape in scene.rzm.shapes %}
    {% for key in shape.shape_keys %}
        {% for id, component in enumerate(extracted_object.components) %}
            {% if ('Component' ~ id ~ '_VB0') in buffers and merged_object.components[id].vertex_count > 0 %}
            [Resource_Component{{ id }}_VB0_{{ shape.shape_name }}_{{ key.key_name }}]
            type = Buffer
            stride = 16
            {% if shape.disable_export %}
            filename = Meshes/Component{{ id }}_VB0.buf
            {% else %}
            filename = /{{ key.key_name }}/Meshes/Component{{ id }}_VB0.buf
            {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}


{% endmacro %}

{% macro generate_missing_resources(scene) -%}
{% if scene["rzm_missing_textures"] %}
; --- AUTO-GENERATED MISSING RESOURCES ---
    {% for tex_name in scene["rzm_missing_textures"].split(',') %}
        {% if tex_name and tex_name|length > 0 -%}
[Resource{{ tex_name }}]
filename = ./Textures/{{ tex_name }}{{ "" if tex_name.endswith(".dds") else ".dds" }}

        {%- endif -%}
    {% endfor %}
{% endif %}
{%- endmacro %}