{% import "modules/utils.j2" as utils with context %}
{% import "modules/shapes_native.j2" as shapes_native with context %}
{% import "modules/weights_native.j2" as weights_native with context %}

{%macro generate_variables(mod_file,scene)%}
;macro generate_variables(mod_file,scene)
{% if scene.rzm %}
    {% if scene.rzm.rzm_values %}
        {% for value in scene.rzm.rzm_values %}
            {% if value.value_name %}
                {% if value.value_type == 'VECTOR' %}
                {% set v_name = utils.format_var(value.value_name) %}
                global persist ${{ v_name }}_X = {{ "%.3f"|format(value.vector_value[0]) }}
                global persist ${{ v_name }}_Y = {{ "%.3f"|format(value.vector_value[1]) }}
                global persist ${{ v_name }}_Z = {{ "%.3f"|format(value.vector_value[2]) }}
                global persist ${{ v_name }}_W = {{ "%.3f"|format(value.vector_value[3]) }}
                {% elif value.value_type == 'INT' or value.int_value %}
                global persist ${{utils.format_var(value.value_name)}} = {%if value.int_value != null%}{{value.int_value}}{%else%}0{%endif%}   
                {% else %}
                global persist ${{utils.format_var(value.value_name)}} = {%if value.float_value != null%}{{value.float_value}}{%else%}0.0{%endif%}    
                {%endif%}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
{%endmacro%}

{%macro object_data_runtime(mod_file,scene)%}
{# Runtime hooks that depend on exported object/component data.
   Keep these in MOD-BLOCK so Quick Update preserves them. #}
{% set _hover_comps = [] %}
{% if mod_file and mod_file.components %}
    {% for component in mod_file.components if component.draw_vb != "" %}
        {% set _comp_has = {'found': false} %}
        {% for part in component.parts if part.vertex_count > 0 %}
            {% for entry in part.objects if entry.vertex_count > 0 %}
                {% set real_obj = scene.objects.get(entry.name) if scene and scene.objects else none %}
                {% if real_obj and real_obj.get('rzm.Hover', 0) | int > 0 %}
                    {% if _comp_has.update({'found': true}) %}{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if _comp_has.found %}
            {% if _hover_comps.append(component) %}{% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if _hover_comps | length > 0 %}
[Present]
;EGS калл вонючий
if $active == 1
if $ModInitialised == 1
pre run = CommandListRZMPinDetected
endif
endif
{% endif %}
{% if scene.rzm and scene.rzm.shape_configs %}
[CommandListRZMObjectDataInit]
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
        {% if component.strides %}
Resource{{ component.fullname }}Position = copy Resource{{ component.fullname }}_Base
            {% if mod_file.game.name == "HonkaiStarRail" %}
Resource{{ component.fullname }}PositionCS = copyResource{{ component.fullname }}CS_Base
            {% endif %}
            {% set comp_has_uv_anim = [false] %}
            {% if scene and scene.objects %}
                {% for curve in scene.objects if curve.type == 'CURVE' and curve.get('RZM.CURVE_VFX') and curve.rzm_curve_vfx_animated_uv %}
                    {% for col in curve.users_collection %}
                        {% for part in component.parts %}
                            {% for entry in part.objects %}
                                {% for col_obj in col.objects if col_obj.name == entry.name %}
                                    {% if comp_has_uv_anim.append(true) %}{% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if comp_has_uv_anim[-1] %}
Resource{{ component.fullname }}Texcoord = copy Resource{{ component.fullname }}Texcoord_Base
            {% endif %}
        {% endif %}
    {% endfor %}
run = CustomShaderComputeShapes
{% endif %}
{%endmacro%}

{%macro generate_reset_vector_values(mod_file,scene)%}
[CommandListResetVectorValues]
{% if scene.rzm %}
    {% if scene.rzm.rzm_values %}
        {% for value in scene.rzm.rzm_values %}
            {% if value.value_name and value.value_type == 'VECTOR' %}
                {% set v_name = utils.format_var(value.value_name) %}
                local $Local{{ v_name }}_X = {{ "%.3f"|format(value.vector_value[0]) }}
                local $Local{{ v_name }}_Y = {{ "%.3f"|format(value.vector_value[1]) }}
                local $Local{{ v_name }}_Z = {{ "%.3f"|format(value.vector_value[2]) }}
                local $Local{{ v_name }}_W = {{ "%.3f"|format(value.vector_value[3]) }}
                ${{ v_name }}_X = $Local{{ v_name }}_X
                ${{ v_name }}_Y = $Local{{ v_name }}_Y
                ${{ v_name }}_Z = $Local{{ v_name }}_Z
                ${{ v_name }}_W = $Local{{ v_name }}_W
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
{%endmacro%}

{% macro generate_toggle(mod_file,scene) %}
    ;macro generate_toggle(mod_file,scene)
    {# --- ИЗМЕНЕНО ЗДЕСЬ: Путь к коллекции теперь 'toggle_definitions' --- #}
{% if scene.rzm %}
    {% if scene.rzm.toggle_definitions %}
        {% for toggle in scene.rzm.toggle_definitions %}
            {% if toggle.toggle_name %}
            global persist ${{utils.format_var(toggle.toggle_name)}} = {{toggle.toggle_start_index | default(0) | int}}   
            {%endif%}
                {#{toggle.toggle_length}#}
        {% endfor %}
    {% endif %}
{% endif %}
{% endmacro %}

{%macro entryPoint(mod_file,scene)%}
{# --- RZM HOVER DETECT: collect components with hoverable objects --- #}
{% set _hover_comps = [] %}
{% set _cd_flags = {
    'xray': false,
    'xray_custom': false,
    'frametrace': false,
    'rabbit0': false,
    'rabbit1': false,
    'rabbit2': false,
    'rabbit3': false,
    'rabbit4': false,
    'tex0': false,
    'tex1': false,
    'tex2': false,
    'tex3': false,
    'tex4': false,
    'transparent': false,
} %}
{% if mod_file and mod_file.components %}
    {% for component in mod_file.components if component.draw_vb != "" %}
        {% set _comp_has = {'found': false} %}
        {% for part in component.parts if part.vertex_count > 0 %}
            {% for entry in part.objects if entry.vertex_count > 0 %}
                {% set real_obj = scene.objects.get(entry.name) if scene and scene.objects else none %}
                {% if real_obj and real_obj.get('rzm.Hover', 0) | int > 0 %}
                    {% if _comp_has.update({'found': true}) %}{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if _comp_has.found %}
            {% if _hover_comps.append(component) %}{% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if scene and scene.objects %}
    {% for obj in scene.objects %}
        {% for key in obj.keys() if key.startswith('CustomDraw.') %}
            {% set cd_name = key[11:] %}
            {% if cd_name in ['XRAY.MASK', 'XRAY.LAYER0', 'XRAY.LAYER1', 'XRAY.LAYER2'] %}
                {% if _cd_flags.update({'xray_custom': true}) %}{% endif %}
            {% elif cd_name.startswith('XRAY') %}
                {% if _cd_flags.update({'xray': true}) %}{% endif %}
            {% elif cd_name.startswith('TRANSPARENT') %}
                {% if _cd_flags.update({'transparent': true}) %}{% endif %}
            {% elif cd_name == 'FRAMETRACE' %}
                {% if _cd_flags.update({'frametrace': true}) %}{% endif %}
            {% elif cd_name == 'RabbitFxPreset0' %}
                {% if _cd_flags.update({'rabbit0': true}) %}{% endif %}
            {% elif cd_name == 'RabbitFxPreset1' %}
                {% if _cd_flags.update({'rabbit1': true}) %}{% endif %}
            {% elif cd_name == 'RabbitFxPreset2' %}
                {% if _cd_flags.update({'rabbit2': true}) %}{% endif %}
            {% elif cd_name == 'RabbitFxPreset3' %}
                {% if _cd_flags.update({'rabbit3': true}) %}{% endif %}
            {% elif cd_name == 'RabbitFxPreset4' %}
                {% if _cd_flags.update({'rabbit4': true}) %}{% endif %}
            {% elif cd_name == 'TexFxPreset0' %}
                {% if _cd_flags.update({'tex0': true}) %}{% endif %}
            {% elif cd_name == 'TexFxPreset1' %}
                {% if _cd_flags.update({'tex1': true}) %}{% endif %}
            {% elif cd_name == 'TexFxPreset2' %}
                {% if _cd_flags.update({'tex2': true}) %}{% endif %}
            {% elif cd_name == 'TexFxPreset3' %}
                {% if _cd_flags.update({'tex3': true}) %}{% endif %}
            {% elif cd_name == 'TexFxPreset4' %}
                {% if _cd_flags.update({'tex4': true}) %}{% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% set has_any_hover = _hover_comps | length > 0 %}

[Present]
$rayvich_back_values_x23 = x23
$rayvich_back_values_y23 = y23
$rayvich_back_values_z23 = z23
$rayvich_back_values_w23 = w23
$rayvich_back_values_x24 = x24
$rayvich_back_values_y24 = y24
$rayvich_back_values_z24 = z24
$rayvich_back_values_w24 = w24
$rayvich_back_values_x30 = x30
$rayvich_back_values_y30 = y30
$rayvich_back_values_z30 = z30
$rayvich_back_values_w30 = w30
$rayvich_back_values_x31 = x31
$rayvich_back_values_y31 = y31
$rayvich_back_values_z31 = z31
$rayvich_back_values_w31 = w31
$rayvich_back_values_x32 = x32
$rayvich_back_values_y32 = y32
$rayvich_back_values_z32 = z32
$rayvich_back_values_w32 = w32
$rayvich_back_values_x33 = x33
$rayvich_back_values_y33 = y33
$rayvich_back_values_z33 = z33
$rayvich_back_values_w33 = w33
$rayvich_back_values_x34 = x34
$rayvich_back_values_y34 = y34
$rayvich_back_values_z34 = z34
$rayvich_back_values_w34 = w34
$rayvich_back_values_x35 = x35
$rayvich_back_values_y35 = y35
$rayvich_back_values_z35 = z35
$rayvich_back_values_w35 = w35
$rayvich_back_values_x36 = x36
$rayvich_back_values_y36 = y36
$rayvich_back_values_z36 = z36
$rayvich_back_values_w36 = w36
$rayvich_back_values_x37 = x37
$rayvich_back_values_y37 = y37
$rayvich_back_values_z37 = z37
$rayvich_back_values_w37 = w37
$rayvich_back_values_x38 = x38
$rayvich_back_values_y38 = y38
$rayvich_back_values_z38 = z38
$rayvich_back_values_w38 = w38
$rayvich_back_values_x39 = x39
$rayvich_back_values_y39 = y39
$rayvich_back_values_z39 = z39
$rayvich_back_values_w39 = w39
$rayvich_back_values_x40 = x40
$rayvich_back_values_y40 = y40
$rayvich_back_values_z40 = z40
$rayvich_back_values_w40 = w40
$rayvich_back_values_x41 = x41
$rayvich_back_values_y41 = y41
$rayvich_back_values_z41 = z41
$rayvich_back_values_w41 = w41
$rayvich_back_values_x42 = x42
$rayvich_back_values_y42 = y42
$rayvich_back_values_z42 = z42
$rayvich_back_values_w42 = w42
$rayvich_back_values_x43 = x43
$rayvich_back_values_y43 = y43
$rayvich_back_values_z43 = z43
$rayvich_back_values_w43 = w43
$rayvich_back_values_x44 = x44
$rayvich_back_values_y44 = y44
$rayvich_back_values_z44 = z44
$rayvich_back_values_w44 = w44
$rayvich_back_values_x45 = x45
$rayvich_back_values_y45 = y45
$rayvich_back_values_z45 = z45
$rayvich_back_values_w45 = w45
$rayvich_back_values_x46 = x46
$rayvich_back_values_y46 = y46
$rayvich_back_values_z46 = z46
$rayvich_back_values_w46 = w46
$rayvich_back_values_x90 = x90
$rayvich_back_values_y90 = y90
$rayvich_back_values_z90 = z90
$rayvich_back_values_w90 = w90
$rayvich_back_values_x99 = x99
$rayvich_back_values_y99 = y99
$rayvich_back_values_z99 = z99
$rayvich_back_values_w99 = w99
$rayvich_back_values_x100 = x100
$rayvich_back_values_y100 = y100
$rayvich_back_values_z100 = z100
$rayvich_back_values_w100 = w100
$rayvich_back_values_x101 = x101
$rayvich_back_values_y101 = y101
$rayvich_back_values_z101 = z101
$rayvich_back_values_w101 = w101
$rayvich_back_values_x102 = x102
$rayvich_back_values_y102 = y102
$rayvich_back_values_z102 = z102
$rayvich_back_values_w102 = w102
$rayvich_back_values_x110 = x110
$rayvich_back_values_y110 = y110
$rayvich_back_values_z110 = z110
$rayvich_back_values_w110 = w110

x23 = 0
y23 = 0
z23 = 0
w23 = 0
x24 = 0
y24 = 0
z24 = 0
w24 = 0
x30 = 0
y30 = 0
z30 = 0
w30 = 0
x31 = 0
y31 = 0
z31 = 0
w31 = 0
x32 = 0
y32 = 0
z32 = 0
w32 = 0
x33 = 0
y33 = 0
z33 = 0
w33 = 0
x34 = 0
y34 = 0
z34 = 0
w34 = 0
x35 = 0
y35 = 0
z35 = 0
w35 = 0
x36 = 0
y36 = 0
z36 = 0
w36 = 0
x37 = 0
y37 = 0
z37 = 0
w37 = 0
x38 = 0
y38 = 0
z38 = 0
w38 = 0
x39 = 0
y39 = 0
z39 = 0
w39 = 0
x40 = 0
y40 = 0
z40 = 0
w40 = 0
x41 = 0
y41 = 0
z41 = 0
w41 = 0
x42 = 0
y42 = 0
z42 = 0
w42 = 0
x43 = 0
y43 = 0
z43 = 0
w43 = 0
x44 = 0
y44 = 0
z44 = 0
w44 = 0
x45 = 0
y45 = 0
z45 = 0
w45 = 0
x46 = 0
y46 = 0
z46 = 0
w46 = 0
x90 = 0
y90 = 0
z90 = 0
w90 = 0
x99 = 0
y99 = 0
z99 = 0
w99 = 0
x100 = 0
y100 = 0
z100 = 0
w100 = 0
x101 = 0
y101 = 0
z101 = 0
w101 = 0
x102 = 0
y102 = 0
z102 = 0
w102 = 0
x110 = 0
y110 = 0
z110 = 0
w110 = 0
run = CommandListComputeDimensions
run = CommandListRZMain

{% if _cd_flags.xray_custom %}
if $rzm_xray_ready0 || $rzm_xray_ready1 || $rzm_xray_ready2

    run = BuiltInCommandListUnbindAllRenderTargets
    o0 = set_viewport bb

    if $rzm_xray_probe_slot0 == 0
        ps-t20 = ResourceRZMXRay0_O0
    else
        ps-t20 = ResourceRZMXRay0_O1
    endif

    if $rzm_xray_probe_slot1 == 0
        ps-t21 = ResourceRZMXRay1_O0
    else
        ps-t21 = ResourceRZMXRay1_O1
    endif

    if $rzm_xray_probe_slot2 == 0
        ps-t22 = ResourceRZMXRay2_O0
    else
        ps-t22 = ResourceRZMXRay2_O1
    endif

    if $rzm_xray_probe_slot3 == 0
        ps-t23 = ResourceRZMXRayMASK_O0
    else
        ps-t23 = ResourceRZMXRayMASK_O1
    endif

    run = CustomShaderRZMXRayComposite

    ps-t20 = null
    ps-t21 = null
    ps-t22 = null
    ps-t23 = null
endif

post $rzm_xray_ready0 = 0
post $rzm_xray_ready1 = 0
post $rzm_xray_ready2 = 0

post run = CommandListRZMXRayClear
{% endif %}

x24 = $rayvich_back_values_x24
y24 = $rayvich_back_values_y24
z24 = $rayvich_back_values_z24
w24 = $rayvich_back_values_w24
x30 = $rayvich_back_values_x30
y30 = $rayvich_back_values_y30
z30 = $rayvich_back_values_z30
w30 = $rayvich_back_values_w30
x31 = $rayvich_back_values_x31
y31 = $rayvich_back_values_y31
z31 = $rayvich_back_values_z31
w31 = $rayvich_back_values_w31
x32 = $rayvich_back_values_x32
y32 = $rayvich_back_values_y32
z32 = $rayvich_back_values_z32
w32 = $rayvich_back_values_w32
x33 = $rayvich_back_values_x33
y33 = $rayvich_back_values_y33
z33 = $rayvich_back_values_z33
w33 = $rayvich_back_values_w33
x34 = $rayvich_back_values_x34
y34 = $rayvich_back_values_y34
z34 = $rayvich_back_values_z34
w34 = $rayvich_back_values_w34
x35 = $rayvich_back_values_x35
y35 = $rayvich_back_values_y35
z35 = $rayvich_back_values_z35
w35 = $rayvich_back_values_w35
x36 = $rayvich_back_values_x36
y36 = $rayvich_back_values_y36
z36 = $rayvich_back_values_z36
w36 = $rayvich_back_values_w36
x37 = $rayvich_back_values_x37
y37 = $rayvich_back_values_y37
z37 = $rayvich_back_values_z37
w37 = $rayvich_back_values_w37
x38 = $rayvich_back_values_x38
y38 = $rayvich_back_values_y38
z38 = $rayvich_back_values_z38
w38 = $rayvich_back_values_w38
x39 = $rayvich_back_values_x39
y39 = $rayvich_back_values_y39
z39 = $rayvich_back_values_z39
w39 = $rayvich_back_values_w39
x40 = $rayvich_back_values_x40
y40 = $rayvich_back_values_y40
z40 = $rayvich_back_values_z40
w40 = $rayvich_back_values_w40
x41 = $rayvich_back_values_x41
y41 = $rayvich_back_values_y41
z41 = $rayvich_back_values_z41
w41 = $rayvich_back_values_w41
x42 = $rayvich_back_values_x42
y42 = $rayvich_back_values_y42
z42 = $rayvich_back_values_z42
w42 = $rayvich_back_values_w42
x43 = $rayvich_back_values_x43
y43 = $rayvich_back_values_y43
z43 = $rayvich_back_values_z43
w43 = $rayvich_back_values_w43
x44 = $rayvich_back_values_x44
y44 = $rayvich_back_values_y44
z44 = $rayvich_back_values_z44
w44 = $rayvich_back_values_w44
x45 = $rayvich_back_values_x45
y45 = $rayvich_back_values_y45
z45 = $rayvich_back_values_z45
w45 = $rayvich_back_values_w45
x46 = $rayvich_back_values_x46
y46 = $rayvich_back_values_y46
z46 = $rayvich_back_values_z46
w46 = $rayvich_back_values_w46
x90 = $rayvich_back_values_x90
y90 = $rayvich_back_values_y90
z90 = $rayvich_back_values_z90
w90 = $rayvich_back_values_w90
x99 = $rayvich_back_values_x99
y99 = $rayvich_back_values_y99
z99 = $rayvich_back_values_z99
w99 = $rayvich_back_values_w99
x100 = $rayvich_back_values_x100
y100 = $rayvich_back_values_y100
z100 = $rayvich_back_values_z100
w100 = $rayvich_back_values_w100
x101 = $rayvich_back_values_x101
y101 = $rayvich_back_values_y101
z101 = $rayvich_back_values_z101
w101 = $rayvich_back_values_w101
x102 = $rayvich_back_values_x102
y102 = $rayvich_back_values_y102
z102 = $rayvich_back_values_z102
w102 = $rayvich_back_values_w102
x110 = $rayvich_back_values_x110
y110 = $rayvich_back_values_y110
z110 = $rayvich_back_values_z110
w110 = $rayvich_back_values_w110

[CommandListRZMain]
if $ModInitialised != 1
    $initFrame = $initFrame + 1
endif
if $initFrame > 3 && $ModInitialised != 1
{% if scene.rzm %}
    {% if scene.rzm.addons.tex_works == 1 %}
    run = CommandListTexWorks
    ;run = CommandListAddonsFaceTexWorks
    {% endif %}
{% endif %}
    $ModInitialised = 1
endif

if $active
    if $first_run
            {% if scene.rzm.shape_configs %}
            run = CommandListRZMObjectDataInit
        {% endif %}
        $first_run = 0
    endif
    {% if scene.rzm.shape_configs %}
    ;run = CustomShaderComputeShapes
    {% endif %}
    run = CommandListPreSnippet
    run = CommandListTexWorks
    run = CommandListEntryPoint
    run = CommandListPostSnippet
endif

post $active = 0
post $isGameMenu = 0
post $di_count = 0
post $data_offset = 10

[CommandListEntryPoint]
if $menu
run = CustomShaderDI2D
run = CommandListBaseDataCompute
run = CommandListGamepadProcessInput
x85 = $window0AreaX
w85 = $window0AreaY
z85 = $window0AreaZ
w85 = $window0AreaW
{% if scene.rzm and scene.rzm.elements %}
{%- for element in scene.rzm.elements if element.parent_id == -1 -%}
{%- if not (element.disable_export and not element.is_preset) -%}
{%- if element.is_preset == True or element.is_helper == True -%}
;run = CommandListElement{{ element.element_name }}_{{ element.id }}
{% else -%}
run = CommandListElement{{ element.element_name }}_{{ element.id }}
{% endif %}
{%- endif -%}
{%- endfor -%}

{% endif -%}
run = CommandListInteractionManager
run = CommandListNavFinalizeSearch
{% if scene.rzm %}
    {% if scene.rzm.addons %}
        {% if scene.rzm.addons.debugger_info == 1 %}
        run = CommandListElementDebug
        {% endif %}
    {% endif %}
{% endif %}
endif

[CommandListInteractionManager]
if $inputMode == 0
    $clickTriggerID = -1

    if $isMouseButtonDown == 1
        if $capturedID == -1
            if $hoveredID != -1
                $capturedID = $hoveredID
            else
                $capturedID = -2
            endif
            $holdTimer = 0.0
        endif
        
        if $capturedID > -1
            $holdTimer = $holdTimer + $dt
        endif
    else
        if $capturedID != -1
            if $capturedID > -1 && $holdTimer < $holdThreshold
                $clickTriggerID = $capturedID
            endif
            
            $capturedID = -1
            $dragState = 0
            $holdTimer = 0.0
        endif
    endif
else
    $clickTriggerID = -1
endif

{% if _cd_flags.transparent %}
[CustomShader.rzm.CustomDraw.TRANSPARENT]

[CustomShader.rzm.CustomDraw.TRANSPARENT.OUTER]

[CustomShader.rzm.CustomDraw.TRANSPARENT.INNER]

[CustomShader.rzm.CustomDraw.TRANSPARENT.ENDFIELD]

[CustomShader.rzm.CustomDraw.TRANSPARENT.ZZZ]

{% endif %}

{% if _cd_flags.xray %}
[CustomShader.rzm.CustomDraw.XRAY.ENHANCED]
cull = front
alpha_to_coverage = false
depth_bias = 0
depth_func = greater
depth_write_mask = zero
blend = ADD SRC_ALPHA INV_SRC_ALPHA

; --- МАГИЯ СТЕНСИЛА ПРОТИВ ТРЕУГОЛЬНИКОВ ---
stencil_enable = true
stencil_ref = 1
stencil_read_mask = 0xff
stencil_write_mask = 0xff
if $CD_draw_type == 2
    drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
    drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif

[CustomShader.rzm.CustomDraw.XRAY]
cull = none
alpha_to_coverage = false 
depth_bias = 0
slope_scaled_depth_bias = 0.0
depth_func = greater 
depth_write_mask = zero
blend = ADD SRC_ALPHA INV_SRC_ALPHA
if $CD_draw_type == 2
    drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
    drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif
run = CustomShader.rzm.CustomDraw.XRAY.PASS2
[CustomShader.rzm.CustomDraw.XRAY.PASS2]
depth_func = less_equal 
depth_write_mask = zero 
if $CD_draw_type == 2
    drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
    drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif

[CustomShader.rzm.CustomDraw.XRAY.FRONT]
cull = none
alpha_to_coverage = false 
depth_bias = 0
slope_scaled_depth_bias = 0.0
depth_func = less_equal
depth_write_mask = zero
blend = ADD SRC_ALPHA INV_SRC_ALPHA
if $CD_draw_type == 2
    drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
    drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif

[CustomShader.rzm.CustomDraw.XRAY.BACK]
cull = none
alpha_to_coverage = false 
depth_bias = 0
slope_scaled_depth_bias = 0.0
depth_func = less_equal
depth_write_mask = zero
blend = ADD SRC_ALPHA INV_SRC_ALPHA
if $CD_draw_type == 2
    drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
    drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif

[CustomShader.rzm.CustomDraw.XRAY.ENDFIELD]
depth_bias = 500
slope_scaled_depth_bias = 1.0
cull = back
blend = ADD SRC_ALPHA INV_SRC_ALPHA
depth_func = less_equal
alpha_to_coverage = true
if $CD_draw_type == 2
drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
elif $CD_draw_type == 4
drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
endif
{% endif %}

{% if _cd_flags.frametrace %}
[CustomShader.rzm.CustomDraw.FRAMETRACE]
;depth_bias = 500
;slope_scaled_depth_bias = 1.0
;cull = back
;blend = ADD SRC_ALPHA INV_SRC_ALPHA
;depth_func = less_equal
;alpha_to_coverage = true
;if $CD_draw_type == 2
;drawindexed = $CD_INDEX_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX
;elif $CD_draw_type == 4
;drawindexedinstanced = $CD_INDEX_COUNT, $CD_INSTANCE_COUNT, $CD_FIRST_INDEX, $CD_FIRST_VERTEX, $CD_FIRST_INSTANCE
;endif
{% endif %}


{% if _cd_flags.rabbit0 %}
[CustomShader.rzm.CustomDraw.RabbitFxPreset0]
$\rabbitfx\blendmode = 1
$\RabbitFX\brightness = ($brightness * 95 ) + 5
Resource\RabbitFX\Glowmap = ref ResourceModuleTexRGB
run = CommandList\RabbitFX\Run
{% endif %}

{% if _cd_flags.rabbit1 %}
[CustomShader.rzm.CustomDraw.RabbitFxPreset1]
$\rabbitfx\blendmode = 1
$\RabbitFX\brightness = ($brightness * 95 ) + 5
Resource\RabbitFX\Glowmap = ref ResourceModuleTexRB
run = CommandList\RabbitFX\Run
{% endif %}

{% if _cd_flags.rabbit2 %}
[CustomShader.rzm.CustomDraw.RabbitFxPreset2]
$\rabbitfx\blendmode = 1
$\RabbitFX\brightness = ($brightness * 95 ) + 5
Resource\RabbitFX\Glowmap = ref ResourceModuleTexBlueG
run = CommandList\RabbitFX\Run
{% endif %}

{% if _cd_flags.rabbit3 %}
[CustomShader.rzm.CustomDraw.RabbitFxPreset3]
$\rabbitfx\blendmode = 1
$\RabbitFX\brightness = ($brightness * 95 ) + 5
Resource\RabbitFX\Glowmap = ref ResourceModuleTexBlue
run = CommandList\RabbitFX\Run
{% endif %}

{% if _cd_flags.rabbit4 %}
[CustomShader.rzm.CustomDraw.RabbitFxPreset4]
$\rabbitfx\blendmode = 1
$\RabbitFX\brightness = ($brightness * 95 ) + 5
Resource\RabbitFX\Glowmap = ref ResourceModuleTexW
run = CommandList\RabbitFX\Run
{% endif %}

{% if _cd_flags.tex0 %}
[CustomShader.rzm.CustomDraw.TexFxPreset0]
; $\texfx\blendmode = 1
$\TexFx\bloom = 20
$\TexFx\glow = 20
Resource\GIMI\Diffuse = ref ResourceModuleTexRGB
ps-t69 = ref ResourceModuleTexFXTex
run = CommandList\TexFx\T
{% endif %}

{% if _cd_flags.tex1 %}
[CustomShader.rzm.CustomDraw.TexFxPreset1]
; $\texfx\blendmode = 1
$\TexFx\bloom = 20
$\TexFx\glow = 0
ps-t69 = ref ResourceModuleTexBlue
run = CommandList\TexFx\T
{% endif %}

{% if _cd_flags.tex2 %}
[CustomShader.rzm.CustomDraw.TexFxPreset2]
; $\texfx\blendmode = 1
$\TexFx\bloom = 20
$\TexFx\glow = 20
ps-t69 = ref ResourceModuleTexBlueG
run = CommandList\TexFx\T
{% endif %}

{% if _cd_flags.tex3 %}
[CustomShader.rzm.CustomDraw.TexFxPreset3]
; $\texfx\blendmode = 1
$\TexFx\bloom = 0
$\TexFx\glow = 0
ps-t69 = ref ResourceModuleTexW
run = CommandList\TexFx\T
{% endif %}

{% if _cd_flags.tex4 %}
[CustomShader.rzm.CustomDraw.TexFxPreset4]
; $\texfx\blendmode = 1
$\TexFx\bloom = 20
$\TexFx\glow = 20
ps-t69 = ref ResourceModuleTexRB
run = CommandList\TexFx\T
{% endif %}

{% if _cd_flags.rabbit0 or _cd_flags.rabbit1 or _cd_flags.rabbit2 or _cd_flags.rabbit3 or _cd_flags.rabbit4 or _cd_flags.tex0 or _cd_flags.tex1 or _cd_flags.tex2 or _cd_flags.tex3 or _cd_flags.tex4 %}
[ResourceModuleTexRGB]
type = Texture2D
filename = ./modules/rgb.dds
[ResourceModuleTexW]
type = Texture2D
filename = ./modules/w.dds
[ResourceModuleTexB]
type = Texture2D
filename = ./modules/b.dds
[ResourceModuleTexR]
type = Texture2D
filename = ./modules/r.dds
[ResourceModuleTexRB]
type = Texture2D
filename = ./modules/rb.dds
[ResourceModuleTexBlue]
type = Texture2D
filename = ./modules/blue.dds
[ResourceModuleTexBlueG]
type = Texture2D
filename = ./modules/blueG.dds
[ResourceModuleTexFXTex]
type = Texture2D
filename = ./modules/TexFXTex.dds
{% endif %}

{% if _cd_flags.xray_custom %}
; ============================================================
; CUSTOM X-RAY SYSTEM
; ============================================================

[CommandListRZMXRayCapture]
run = CommandListRZMXRayEnsureTargets
run = CommandListRZMXRayBackupOutputs
run = BuiltInCommandListUnbindAllRenderTargets

if $xrayLayer == 0
    run = CustomShaderLowLayerCapture
elif $xrayLayer == 1
    run = CustomShaderMidLayerCapture
elif $xrayLayer == 2
    run = CustomShaderHighLayerCapture
elif $xrayLayer == 3
    run = CustomShaderMaskLayerCapture
endif

run = BuiltInCommandListUnbindAllRenderTargets
run = CommandListRZMXRayRestoreOutputs

if $xrayLayer == 0
    $rzm_xray_ready0 = 1
elif $xrayLayer == 1
    $rzm_xray_ready1 = 1
elif $xrayLayer == 2
    $rzm_xray_ready2 = 1
endif

[CustomShaderLowLayerCapture]
cull = front
o0 = ref ResourceRZMXRay0_O0
o1 = ref ResourceRZMXRay0_O1
if ResourceRZMXRay0_OD !== null
    oD = ref ResourceRZMXRay0_OD
endif
drawindexed = $xrayC, $xrayO, 0

[CustomShaderMidLayerCapture]
cull = back
o0 = ref ResourceRZMXRay1_O0
o1 = ref ResourceRZMXRay1_O1
if ResourceRZMXRay1_OD !== null
    oD = ref ResourceRZMXRay1_OD
endif
drawindexed = $xrayC, $xrayO, 0

[CustomShaderHighLayerCapture]
cull = none
o0 = ref ResourceRZMXRay2_O0
o1 = ref ResourceRZMXRay2_O1
if ResourceRZMXRay2_OD !== null
    oD = ref ResourceRZMXRay2_OD
endif
drawindexed = $xrayC, $xrayO, 0

[CustomShaderMaskLayerCapture]
cull = none
depth_clip_enable = true
depth_enable = true
depth_write_mask = zero
depth_func = greater_equal
stencil_enable = false
blend = disable
alpha_to_coverage = 0
sample_mask = ffffffff
o0 = ref ResourceRZMXRayMASK_O0
o1 = ref ResourceRZMXRayMASK_O1
oD = ref ResourceRZMGameOD
drawindexed = $xrayC, $xrayO, 0

[CommandListRZMXRayEnsureTargets]
if rt_width * rt_height != $rzm_xray_pixels
    $rzm_xray_pixels = rt_width * rt_height
    ResourceRZMXRay0_O0 = null
    ResourceRZMXRay0_O1 = null
    ResourceRZMXRay0_OD = null
    ResourceRZMXRay1_O0 = null
    ResourceRZMXRay1_O1 = null
    ResourceRZMXRay1_OD = null
    ResourceRZMXRay2_O0 = null
    ResourceRZMXRay2_O1 = null
    ResourceRZMXRay2_OD = null
    ResourceRZMXRayMASK_O0 = null
    ResourceRZMXRayMASK_O1 = null
endif

if ResourceRZMXRay0_O0 === null
    ResourceRZMXRay0_O0 = copy_desc o0 unless_null
    ResourceRZMXRay0_O1 = copy_desc o0 unless_null
endif
if ResourceRZMXRay0_OD === null
    ResourceRZMXRay0_OD = copy_desc oD unless_null
endif

if ResourceRZMXRay1_O0 === null
    ResourceRZMXRay1_O0 = copy_desc o0 unless_null
    ResourceRZMXRay1_O1 = copy_desc o0 unless_null
endif
if ResourceRZMXRay1_OD === null
    ResourceRZMXRay1_OD = copy_desc oD unless_null
endif

if ResourceRZMXRay2_O0 === null
    ResourceRZMXRay2_O0 = copy_desc o0 unless_null
    ResourceRZMXRay2_O1 = copy_desc o0 unless_null
endif
if ResourceRZMXRay2_OD === null
    ResourceRZMXRay2_OD = copy_desc oD unless_null
endif

if ResourceRZMXRayMASK_O0 === null
    ResourceRZMXRayMASK_O0 = copy_desc o0 unless_null
    ResourceRZMXRayMASK_O1 = copy_desc o0 unless_null
endif

[CommandListRZMXRayBackupOutputs]
ResourceRZMGameO0 = ref o0
ResourceRZMGameO1 = ref o1
ResourceRZMGameO2 = ref o2
ResourceRZMGameO3 = ref o3
ResourceRZMGameO4 = ref o4
ResourceRZMGameO5 = ref o5
ResourceRZMGameOD = ref oD

[CommandListRZMXRayRestoreOutputs]
o0 = ref ResourceRZMGameO0
o1 = ref ResourceRZMGameO1
o2 = ref ResourceRZMGameO2
o3 = ref ResourceRZMGameO3
o4 = ref ResourceRZMGameO4
o5 = ref ResourceRZMGameO5
oD = ref ResourceRZMGameOD

[CommandListRZMXRayClear]
if ResourceRZMXRay0_O0 !== null
    clear = ResourceRZMXRay0_O0
    clear = ResourceRZMXRay0_O1
endif
if ResourceRZMXRay0_OD !== null
    clear = ResourceRZMXRay0_OD
endif

if ResourceRZMXRay1_O0 !== null
    clear = ResourceRZMXRay1_O0
    clear = ResourceRZMXRay1_O1
endif
if ResourceRZMXRay1_OD !== null
    clear = ResourceRZMXRay1_OD
endif

if ResourceRZMXRay2_O0 !== null
    clear = ResourceRZMXRay2_O0
    clear = ResourceRZMXRay2_O1
endif
if ResourceRZMXRay2_OD !== null
    clear = ResourceRZMXRay2_OD
endif

if ResourceRZMXRayMASK_O0 !== null
    clear = ResourceRZMXRayMASK_O0
    clear = ResourceRZMXRayMASK_O1
endif

[CustomShaderRZMXRayComposite]
local $x24_backup
local $y24_backup
local $z24_backup
local $w24_backup
$x24_backup = x24
$y24_backup = y24
$z24_backup = z24
$w24_backup = w24

local $x25_backup
local $y25_backup
local $z25_backup
local $w25_backup
$x25_backup = x25
$y25_backup = y25
$z25_backup = z25
$w25_backup = w25

x24 = $rzm_xray_opacity0
y24 = $rzm_xray_opacity1
z24 = $rzm_xray_opacity2
w24 = $rzm_xray_opacity

x25 = $rzm_xray_ready0
y25 = $rzm_xray_ready1
z25 = $rzm_xray_ready2
w25 = 0

vs = ./modules/mortal_kombat_xray.hlsl
hs = null
ds = null
gs = null
ps = ./modules/mortal_kombat_xray.hlsl
cs = null

alpha_to_coverage = 0
sample_mask = ffffffff

blend_factor[0] = 0
blend_factor[1] = 0
blend_factor[2] = 0
blend_factor[3] = 0

blend = ADD SRC_ALPHA INV_SRC_ALPHA
alpha = ADD ONE ZERO

cull = none
topology = TRIANGLE_LIST

draw = 3, 0

x24 = $x24_backup
y24 = $y24_backup
z24 = $z24_backup
w24 = $w24_backup

x25 = $x25_backup
y25 = $y25_backup
z25 = $z25_backup
w25 = $w25_backup

[ResourceRZMXRay0_O0]
[ResourceRZMXRay0_O1]
[ResourceRZMXRay0_OD]

[ResourceRZMXRay1_O0]
[ResourceRZMXRay1_O1]
[ResourceRZMXRay1_OD]

[ResourceRZMXRay2_O0]
[ResourceRZMXRay2_O1]
[ResourceRZMXRay2_OD]

[ResourceRZMXRayMASK_O0]
[ResourceRZMXRayMASK_O1]

[ResourceRZMGameO0]
[ResourceRZMGameO1]
[ResourceRZMGameO2]
[ResourceRZMGameO3]
[ResourceRZMGameO4]
[ResourceRZMGameO5]
[ResourceRZMGameOD]
{% endif %}

{%endmacro%}

{# ========================================================
   RZM HOVER DETECT: per-component CustomShader definitions
   and the global pin CommandList.

   Generated only when the mod has hoverable objects.
   ======================================================== #}
{%macro hoverDetectShaders(mod_file,scene)%}
{# Collect components with hoverable objects #}
{% set _hover_comps = [] %}
{% if mod_file and mod_file.components %}
    {% for component in mod_file.components if component.draw_vb != "" %}
        {% set _comp_has = {'found': false} %}
        {% for part in component.parts if part.vertex_count > 0 %}
            {% for entry in part.objects if entry.vertex_count > 0 %}
                {% set real_obj = scene.objects.get(entry.name) if scene and scene.objects else none %}
                {% if real_obj and real_obj.get('rzm.Hover', 0) | int > 0 %}
                    {% if _comp_has.update({'found': true}) %}{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if _comp_has.found %}
            {% if _hover_comps.append(component) %}{% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if _hover_comps | length > 0 %}
; ============================================================
; RZM Hover Detect - per-component bake and detect shaders
; ============================================================

{% for component in _hover_comps %}
[CustomShaderRZMDetect{{ component.fullname }}]
; Component-level GPU cursor hit detector.
; cs-t2 = ObjectMap (hoverable objects in this component)
; cs-u0 = shared accumulator (closest hit across all dispatches)
cs = /modules/rzm_object_detect.hlsl
cs-t0 = vb0
cs-t1 = ib
cs-t2 = ResourceRZMDetect{{ component.fullname }}ObjectMap
cs-t3 = ResourceRZMBakeRT
cs-u0 = ResourceRZMDetectID
x24 = $cursorX
y24 = $cursorY
z24 = $screenW
w24 = $screenH
x25 = $isMouseButtonDown
w26 = 8.0
x27 = $cursorX
y27 = $cursorY
z27 = res_width
w27 = res_height
dispatch = 1, 1, 1

{% for part in component.parts if part.vertex_count > 0 %}
[CustomShaderRZMBake{{ part.fullname }}]
run = BuiltInCommandListUnbindAllRenderTargets
clear = ResourceRZMBakeRT 0.0
{% for slot in range(8) %}
run = CustomShaderRZMBakeSample{{ slot }}_{{ part.fullname }}
{% endfor %}

{% set part_index_count = part.objects | map(attribute='index_count') | sum %}
{% set step_size = (part_index_count // 8) if part_index_count >= 8 else 1 %}
{% for slot in range(8) %}
[CustomShaderRZMBakeSample{{ slot }}_{{ part.fullname }}]
gs = ./modules/rzm_gs_probe.hlsl
gs-t1 = Resource{{ part.fullname }}IB
ps = ./modules/rzm_gs_probe.hlsl
topology = point_list
o0 = set_viewport no_view_cache ResourceRZMBakeRT
x26 = {{ slot }}
y26 = {{ slot * step_size }}
drawindexed = 1, {{ slot * step_size }}, 0

{% endfor %}
{% endfor %}
{% endfor %}

; ============================================================
; RZM Hover Detect - pin shader
; Reads best hit from frame accumulator, writes to pinned
; R32_FLOAT ID buffer and extended info buffer, resets accumulator for next frame.
; ============================================================

[CustomShaderRZMPinDetected]
cs = /modules/rzm_pin_detected.hlsl
cs-u0 = ResourceRZMDetectID
cs-u1 = ResourceRZMPinnedDetectID
cs-u2 = ResourceRZMPinnedDetectInfo
dispatch = 1, 1, 1

; ============================================================
; RZM Hover Detect - throttled store (called via pre run)
; store is expensive (CPU readback). Run at most once per 0.25s.
; ============================================================

[CommandListRZMPinDetected]
local $rzm_detect_next_time
local $rzm_detect_interval = 0.25

if $isMouseButtonDown == 1
    $rzm_detect_next_time = time
endif

if $inputMode == 0

if $hoveredID > 0
	$Detected = -1
    $ObjectDetectAllowed = 0
else
    $ObjectDetectAllowed = 1
	if (time) >= $rzm_detect_next_time
		run = CustomShaderRZMPinDetected
		store = $Detected, ResourceRZMPinnedDetectID, 33
		$rzm_detect_next_time = time + $rzm_detect_interval
	endif
endif

else 
	$Detected = -1
    $ObjectDetectAllowed = 0
endif

{% endif %}
{%endmacro%}

{# ========================================================
   RZM JIGGLE INTERACTION: per-component CustomShader
   Generated when component has objects with rzm.Hover == 7.

   Phase 1: vb0 deformation, identical to prototype.
   Phase 2: per-object params via ResourceRZMJiggleParams (t68).
   ======================================================== #}
{%macro jiggleShaders(mod_file,scene)%}
{% if mod_file and mod_file.components %}
{% for component in mod_file.components if component.draw_vb != "" %}
    {# Collect jiggle objects for this component #}
    {% set _jiggle_objs = [] %}
    {% set _has_mask = {'found': false} %}
    {% for part in component.parts if part.vertex_count > 0 %}
        {% for entry in part.objects if entry.vertex_count > 0 %}
            {% set real_obj = scene.objects.get(entry.name) if scene and scene.objects else none %}
            {% if real_obj and real_obj.get('rzm.Hover', 0) | int == 7 %}
                {% set obj_id = entry.index_offset if entry.index_offset is defined else 0 %}
                {% if _jiggle_objs.append({'id': obj_id, 'obj': real_obj}) %}{% endif %}
            {% endif %}
            {% if real_obj and real_obj.type == 'MESH' %}
                {% if 'rzm_anticollider_mask' in real_obj.data.attributes or 'rzm_anticollider_mask_f32' in real_obj.data.attributes or 'MASK ANTICOLLIDER' in real_obj.vertex_groups %}
                    {% if _has_mask.update({'found': true}) %}{% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% if _jiggle_objs | length > 0 %}
; ============================================================
; RZM Jiggle Interaction — {{ component.fullname }}
; Jiggle colliders: {{ _jiggle_objs | length }}
;   IDs: {% for jo in _jiggle_objs %}{{ jo.id }}{% if not loop.last %}, {% endif %}{% endfor %}

; ============================================================

[CustomShaderRZMJiggle{{ component.fullname }}]
local $CursorXPast
local $CursorYPast
local $WasMouseButtonDown
local $back_x69 = x69
local $back_y69 = y69
local $back_z69 = z69
local $back_w69 = w69

if $isMouseButtonDown == 1
    if $WasMouseButtonDown == 0
        $CursorXPast = $cursorX
        $CursorYPast = $cursorY
        ResourceRZMDetectCapturedID_{{ component.fullname }} = copy ResourceRZMDetectID
    endif
    $WasMouseButtonDown = 1
    w67 = 1
else
    $WasMouseButtonDown = 0
    $CursorXPast = 0
    $CursorYPast = 0
    w67 = 0
endif

cs = ./modules/rzm_jiggle_interaction.hlsl

x67 = $CursorXPast
y67 = $CursorYPast

; Default physics params (overridden per-object in shader via t68)
x68 = 0.5
y68 = 1.00
z68 = 6.0
w68 = 1.00

x69 = $cursorX
y69 = $cursorY
z69 = $screenW
w69 = $screenH

x70 = 0.86
y70 = 0.176
z70 = 0.93
w70 = 0.08

x71 = 0.50
y71 = 1.10
{% if mod_file.game.name in ["ZenlessZoneZero", "GenshinImpact"] %}
z71 = -1.00
{% else %}
z71 = 1.00
{% endif %}
w71 = 0.00

; [72].x = number of jiggle collider entries in ResourceRZMJiggleParams
x72 = {{ _jiggle_objs | length }}
y72 = $rzm_jiggle_mult_radius
z72 = $rzm_jiggle_mult_strength
w72 = $rzm_jiggle_mult_spring
x73 = $rzm_jiggle_mult_damping
{% if mod_file.game.name in ["ZenlessZoneZero", "GenshinImpact"] %}
y73 = -1.00
{% else %}
y73 = 1.00
{% endif %}

cs-t67 = ResourceRZMDetectCapturedID_{{ component.fullname }}
cs-t68 = ResourceRZMJiggleParams_{{ component.fullname }}
cs-t69 = ResourceRZMDetectID
cs-t70 = ResourceRZMJiggleMask_{{ component.fullname }}

cs-u6 = ResourceRZMJiggleState_{{ component.fullname }}

ResourceRZMJiggleTempVB0_{{ component.fullname }} = vb0
cs-t24 = vb0
cs-u5 = copy ResourceRZMJiggleTempVB0_{{ component.fullname }}

Dispatch = ({{ component.vertex_count }} + 255) // 256, 1, 1

vb0 = null
ResourceRZMJiggleTempVB0_{{ component.fullname }} = copy cs-u5

post x69 = $back_x69
post y69 = $back_y69
post z69 = $back_z69
post w69 = $back_w69

    {% endif %}
{% endfor %}
{% endif %}
{%endmacro%}

{%macro baseCompute(mod_file,scene)%}
[CommandListComputeDimensions]
local $pastCursorX
local $pastCursorY
local $cursorJitter
local $cursorJitterThreshold = 4
local $cursorMovingDuration

if $CursorIsMoved == 1
$cursorMovingDuration = $cursorMovingDuration + 1
if $cursorMovingDuration >= 8
$CursorIsMoved = 0
$cursorMovingDuration = 0
endif
endif 
if $inputMode == 0
	if cursor_x > 0 && cursor_y > 0 && cursor_x < 1 && cursor_y < 1
		$cursorX = cursor_x
		$cursorY = 1.0 - cursor_y
	elif cursor_window_x > 0 && cursor_window_y > 0 && cursor_window_x < 1 && cursor_window_y < 1
		$cursorX = cursor_window_x / rt_width
		$cursorY = 1.0 - cursor_window_y / rt_height
	else
		$cursorX = cursor_screen_x / rt_height
		$cursorY = 1.0 - cursor_screen_y / rt_height
	endif
endif
if window_width != 0 && window_height != 0
	$screenW = window_width
	$screenH = window_height
elif rt_width != 0 && rt_height != 0
	$screenW = rt_width
	$screenH = rt_height
else
	$screenW = res_width
	$screenH = res_height
endif

if $screenW > $screenH
	$ratioCorrection = $screenH / $screenW
else 
	$ratioCorrection = $screenW / $screenH
endif

if $screenW > $screenH
	if $canvas_size_y != $screenH
		$screen_modifier_scale = $canvas_size_y / $screenH
	endif
endif

if $inputMode == 0
	$cursorX = $cursorX * $screenW
	$cursorY = $cursorY * $screenH
endif

$cursorX = $cursorX * $screen_modifier_scale
$cursorY = $cursorY * $screen_modifier_scale
$screenW = $screenW * $screen_modifier_scale
$screenH = $screenH * $screen_modifier_scale

$pastCursorX = $pastCursorX - $cursorX
$mathinA = $pastCursorX
run = CommandListMathABS
$cursorJitter = $cursorJitter + $mathout

$pastCursorY = $pastCursorY - $cursorY
$mathinA = $pastCursorY
run = CommandListMathABS
$cursorJitter = $cursorJitter + $mathout

if $cursorJitter > $cursorJitterThreshold && $CursorIsMoved == 0
	$CursorIsMoved = 1
	$cursorJitter = 0
endif

$pastCursorX = $cursorX
$pastCursorY = $cursorY

[CommandListBaseDataCompute]
;run = CommandListComputeDimensions
{% if scene.rzm %}
    {% for grid in scene.rzm.elements %}
        {% if grid.elem_class == 'GRID_CONTAINER' and not (grid.disable_export and not grid.is_preset) %}
            ${{ grid.element_name }}_new_frame = 1
        {% endif %}
    {% endfor %}
{% endif %}
$id = -1
if $inputMode == 0
$hoveredID = -1
$hoveredClassType = -1
endif
$dt = time - $ts
$dtCustom = time - $ts
$dtCustom = $dtCustom * {{ scene.rzm.config.custom_interpolation_speed | default (16.0) }}
$ts = time
{%endmacro%}

{% macro menuDrawUi(mod_file,scene)%}
{% set rzm = scene.rzm %}
{% set has_anim_tracker = [false] %}
{% if rzm %}
    {% set anim_ids = [] %}
    {% for img in rzm.images if img.source_type == 'ANIMATED' %}
        {% set _ = anim_ids.append(img.id) %}
    {% endfor %}
    {% if anim_ids %}
        {% for elem in rzm.elements %}
            {% if elem.image_id in anim_ids or elem.hover_image_id in anim_ids or elem.extramap_image_id in anim_ids %}
                {% set _ = has_anim_tracker.pop() %}{% set _ = has_anim_tracker.append(true) %}
            {% else %}
                {% for c_img in elem.conditional_images %}
                    {% if c_img.image_id in anim_ids %}
                        {% set _ = has_anim_tracker.pop() %}{% set _ = has_anim_tracker.append(true) %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
{% set has_anim = has_anim_tracker[0] %}

[CustomShaderRCI2D.CORE]
cs-u0 = ResourceDataBuffer
cs-u1 = ResourceIndexBuffer
cs-t105 = ResourceStyleBuffer
cs-t106 = ResourceElementStaticMap
cs-t107 = ResourceElementDefaultProps
cs-t108 = ResourceElementBlackList
cs-t109 = ResourceElementDrawData

cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
z111 = $data_offset

if $flipX == 1 && $flipY == 1
	x105 = 3 
elif $flipX == 1
	x105 = 1
elif $flipY == 1
	x105 = 2
else
	x105 = 0
endif

run = CommandListDC


[CommandListDC]
local $x100_0
local $y100_0
local $z100_0
local $w100_0
local $x101_0
local $y101_0
local $z101_0
local $w101_0
local $x102_0
local $y102_0
local $z102_0
local $w102_0
local $x105_0
local $y105_0
local $z105_0
local $w105_0
local $x109_0
local $y109_0
local $z109_0
local $w109_0
local $x110_0
local $y110_0
local $z110_0
local $w110_0
local $x111_0
local $y111_0
local $z111_0
local $w111_0

if $di_count % 2 == 0
$x100_0 = x100
$y100_0 = y100
$z100_0 = z100
$w100_0 = w100
$x101_0 = x101
$y101_0 = y101
$z101_0 = z101
$w101_0 = w101
$x102_0 = x102
$y102_0 = y102
$z102_0 = z102
$w102_0 = w102
$x105_0 = x105
$y105_0 = y105
$z105_0 = z105
$w105_0 = w105
$x109_0 = x109
$y109_0 = y109
$z109_0 = z109
$w109_0 = w109
$x110_0 = x110
$y110_0 = y110
$z110_0 = z110
$w110_0 = w110
$x111_0 = x111
$y111_0 = y111
$z111_0 = z111
$w111_0 = w111
endif

if $di_count % 2 == 1
x10 = x100
y10 = y100
z10 = z100
w10 = w100
x11 = x101
y11 = y101
z11 = z101
w11 = w101
x12 = x102
y12 = y102
z12 = z102
w12 = w102
x15 = x105
y15 = y105
z15 = z105
w15 = w105
x19 = x109
y19 = y109
z19 = z109
w19 = w109
x20 = x110
y20 = y110
z20 = z110
w20 = w110
x21 = x111 + 16
y21 = y111
z21 = z111
w21 = w111

x100 = $x100_0
y100 = $y100_0
z100 = $z100_0
w100 = $w100_0
x101 = $x101_0
y101 = $y101_0
z101 = $z101_0
w101 = $w101_0
x102 = $x102_0
y102 = $y102_0
z102 = $z102_0
w102 = $w102_0
x105 = $x105_0
y105 = $y105_0
z105 = $z105_0
w105 = $w105_0
x109 = $x109_0
y109 = $y109_0
z109 = $z109_0
w109 = $w109_0
x110 = $x110_0
y110 = $y110_0
z110 = $z110_0
w110 = $w110_0
x111 = $x111_0
y111 = $y111_0
z111 = $z111_0
w111 = $w111_0

run = CustomShaderDC
endif

$di_count = $di_count + 1


[CustomShaderDC]
dispatch = 1, 1, 1
$data_offset = $data_offset + $slot_count * 2

[CustomShaderRCI2D_POPUP]
z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = $colorR
y101 = $colorG
z101 = $colorB
w101 = $colorA
x102 = $imageID
y102 = 0
z102 = 0
w102 = 0
x109 = 0
y109 = 0
z109 = 0
w109 = 0
x110 = x110
y110 = y110
z110 = 0
w110 = 0
y111 = 768 + $di_count
$slot_count = 7
z111 = $data_offset
x111 = 0

run = CustomShaderRCI2D.CORE
x105 = 0

[CustomShaderRCI2D_SLIDER]
z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = 0.0
y101 = 0.0
z101 = 0.0
w101 = 0.75
x102 = $imageID
y102 = 0
z102 = 0
w102 = 0
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
if $slider_node_disable_blur == 0
w110 = 90
else
w110 = 0
endif
y111 = $di_count
$slot_count = 7
z111 = $data_offset
x111 = 0

run = CustomShaderRCI2D.CORE
x105 = 0
if $slider_node_disable_nums == 0
run = CommandListCoreFXRenderSliderNumbers
endif

[CustomShaderRCI2D_SLIDER.TEXT]
z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = 0.0
y101 = 0.0
z101 = 0.0
w101 = 0.75
x102 = $imageID
y102 = 0
z102 = 0
w102 = 0
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
if $slider_node_disable_blur == 0
    w110 = 90
else
    w110 = 0
endif
y111 = $di_count
$slot_count = 7
z111 = $data_offset
x111 = 0

run = CustomShaderRCI2D.CORE
x105 = 0
run = CommandListCoreFXRenderSliderText
if $slider_node_disable_nums == 0
run = CommandListCoreFXRenderSliderNumbers
endif

;;[CustomShaderRCI2D_TEXT_LEFT]
;$texSizeX = 0
;run = CustomShaderRCI2D_TEXT
;;[CustomShaderRCI2D_TEXT_CENTER]
;$texSizeX = 1
;run = CustomShaderRCI2D_TEXT
;[CustomShaderRCI2D_TEXT_RIGHT]
;$texSizeX = 2
;[CustomShaderRCI2D_TEXT_FREE_LEFT]
;$texSizeX = 0+3
;run = CustomShaderRCI2D_TEXT
;[CustomShaderRCI2D_TEXT_FREE_CENTER]
;$texSizeX = 1+3
;run = CustomShaderRCI2D_TEXT
;[CustomShaderRCI2D_TEXT_FREE_RIGHT]
;$texSizeX = 2+3
;run = CustomShaderRCI2D_TEXT
[CustomShaderRCI2D_TEXT]
$drawType = 3
if $TextIsData == 1
$drawType = 4
endif
z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = $colorR
y101 = $colorG
z101 = $colorB
w101 = $colorA
y105 = $fontSlot
w105 = $rotation
x102 = $TextID
y102 = $texPosY
z102 = $texSizeX
w102 = $texSizeY
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
w110 = $drawType
y111 = $di_count
$slot_count = 7
z111 = $data_offset
x111 = $elemFlags

run = CustomShaderRCI2D.CORE
$TextIsData = 0
$drawType = 0

[CustomShaderRCI2D_HOVERTEXT]
z99 = $ScreenW
w99 = $ScreenH
x100 = ($cursorX + $hoverPositionOffsetX - 72) / $ScreenW
y100 = ($cursorY + $hoverPositionOffsetY + 0) / $ScreenH
z100 = ($symbolSizeX * $textLength + 25) / $ScreenW
w100 = ($symbolSizeY + 10) / $ScreenH
x101 = 0
y101 = 0
z101 = 0
w101 = y24 * 2
x102 = 0
y102 = 0
z102 = 0
w102 = 0
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = 0
y110 = 0
z110 = 0
w110 = 0
y111 = 510
$slot_count = 7
z111 = $data_offset
x111 = 0

run = CustomShaderRCI2D.CORE
x105 = 0

z99 = $ScreenW
w99 = $ScreenH
x100 = ($cursorX + $hoverPositionOffsetX) / $ScreenW
y100 = ($cursorY + $hoverPositionOffsetY) / $ScreenH
z100 = ($symbolSizeX * $textLength) / $ScreenW
w100 = $symbolSizeY / $ScreenH
x101 = 1
y101 = 1
z101 = 1
w101 = y24 * 2
x102 = $TextID
y102 = $textLength
z102 = 0
w102 = 0
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = 0
y110 = 0
z110 = 0
w110 = 3
y111 = 511
$slot_count = 7
z111 = $data_offset
x111 = 0
y105 = $fontSlot
w105 = $rotation

run = CustomShaderRCI2D.CORE
$drawType = 0

[CustomShaderRCI2D]
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = $colorR
y101 = $colorG
z101 = $colorB
w101 = $colorA
x102 = $imageID
y102 = 0
z102 = 0
w102 = 0
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
w110 = 0
y111 = $di_count
$slot_count = 7
z111 = $data_offset
x111 = $elemFlags
w105 = $rotation

run = CustomShaderRCI2D.CORE

x110 = 0
y110 = 0
[ResourceBB]
[CustomShaderDI2D]
ResourceBB = copy_desc bb
vs-t100 = ref ResourceDataBuffer
vs-t104 = ref ResourceIndexBuffer
{% if scene.rzm.meta_data.languages and scene.rzm.meta_data.languages|length > 0 %}
{% for lang in scene.rzm.meta_data.languages %}{% if lang.index > 0 %}
{% if loop.first %}
if $rzmUIRenderSettings_TextLanguage == {{lang.index}}
{% else %}
elif $rzmUIRenderSettings_TextLanguage == {{lang.index}}
{% endif %}
vs-t103 = ref ResourceText_Lang{{lang.index}}
{% endif %}
{% endfor %}
else
vs-t103 = ref ResourceText
endif
{% else %}
vs-t103 = ref ResourceText
{% endif %}
vs-t105 = ref ResourceStyleBuffer
vs-t107 = ref ResourceImageBuffer
{% if has_anim %}
vs-t108 = ref ResourceAnimFrames
{% endif %}
ps-t105 = ref ResourceStyleBuffer


x97 = $inputMode
local $isCaptured = 0
if $inputMode == 1
    if $isGamepadEditing == 1
        $isCaptured = 1
    endif
else
    if $capturedID != -1
        $isCaptured = 1
    endif
endif
y97 = $isCaptured
z97 = $hoveredID
local $nav_arrows = 0
if $nav_key_request_up == 1
    $nav_arrows = $nav_arrows + 1
endif
if $nav_key_request_down == 1
    $nav_arrows = $nav_arrows + 2
endif
if $nav_key_request_left == 1
    $nav_arrows = $nav_arrows + 4
endif
if $nav_key_request_right == 1
    $nav_arrows = $nav_arrows + 8
endif
w97 = $nav_arrows

x98 = time
y98 = $devMode
w98 = time % 1
x27 = $RZMSysDebugFloat0
y27 = $RZMSysDebugFloat1
z27 = $RZMSysDebugFloat2
w27 = $RZMSysDebugFloat3
x99 = $cursorX / $ScreenW
y99 = $cursorY / $ScreenH
z99 = $ScreenW / $screen_modifier_scale
w99 = $ScreenH / $screen_modifier_scale
ps-t80 = ResourceIcons
ps-t107 = ResourceImageBuffer
{% if has_anim %}
ps-t108 = ResourceAnimFrames
{% endif %}
{% set used_font_slots = [0] %}
{% if scene.rzm and scene.rzm.elements %}
    {% for elem in scene.rzm.elements %}
        {% if (elem.elem_class == 'TEXT' or elem.elem_class == 'BUTTON') and not elem.disable_export %}
            {% set slot = elem.font_slot | default(0) | int %}
            {% if slot not in used_font_slots %}
                {% set _ = used_font_slots.append(slot) %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
vs-t82 = ResourceFont0
ps-t82 = ResourceFont0
{% if 1 in used_font_slots and scene.rzm.fonts and scene.rzm.fonts|length > 1 and (scene.rzm.fonts[1].custom_path or scene.rzm.fonts[1].font_source != 'DEFAULT') -%}
vs-t83 = ResourceFont1
ps-t83 = ResourceFont1
{% endif -%}
{% if 2 in used_font_slots and scene.rzm.fonts and scene.rzm.fonts|length > 2 and (scene.rzm.fonts[2].custom_path or scene.rzm.fonts[2].font_source != 'DEFAULT') -%}
vs-t84 = ResourceFont2
ps-t84 = ResourceFont2
{% endif -%}
{% if 3 in used_font_slots and scene.rzm.fonts and scene.rzm.fonts|length > 3 and (scene.rzm.fonts[3].custom_path or scene.rzm.fonts[3].font_source != 'DEFAULT') -%}
vs-t85 = ResourceFont3
ps-t85 = ResourceFont3
{% endif -%}
run = CustomShaderDI2D.PASS0.BLUR
run = CustomShaderDI2D.PASS.MAIN
if $inputMode == 1 || $devMode == 1
run = CustomShaderDI2D.PASS.SYSTEM
endif
clear = ResourceDataBuffer
clear = ResourceIndexBuffer


[CustomShaderDI2D.PASS0.BLUR]
{% if scene.rzm.addons.pre_render_blur == 'X1' %}
x101 = 3
run = CustomShaderDI2D.PASS0.BLUR.X1
{% elif scene.rzm.addons.pre_render_blur == 'X2' %}
x101 = 3
run = CustomShaderDI2D.PASS0.BLUR.X1
run = CustomShaderDI2D.PASS0.BLUR.X2
{% elif scene.rzm.addons.pre_render_blur == 'X4' %}
x101 = 12
run = CustomShaderDI2D.PASS0.BLUR.X1
x101 = 8
run = CustomShaderDI2D.PASS0.BLUR.X1.5
x101 = 3
run = CustomShaderDI2D.PASS0.BLUR.X1.75
run = CustomShaderDI2D.PASS0.BLUR.X1.85
run = CustomShaderDI2D.PASS0.BLUR.X2
{% else %}
ps-t90 = bb
{% endif %}

[CustomShaderDI2D.PASS0.BLUR.X1]
ps-t92 = bb
vs = /modules/draw_instancer_pass_0_blur_bb.hlsl
ps = /modules/draw_instancer_pass_0_blur_bb.hlsl
run = BuiltInCommandListUnbindAllRenderTargets
blend = ADD SRC_ALPHA ZERO
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache ResourceBB
Draw = 6,0
{% if scene.rzm.addons.pre_render_blur == 'X2' %}
ps-t91 = copy o0
{% elif scene.rzm.addons.pre_render_blur == 'X4' %}
ps-t93 = copy o0
{% else %}
ps-t90 = copy o0
{% endif %}
[CustomShaderDI2D.PASS0.BLUR.X1.5]
ps-t92 = ps-t93
vs = /modules/draw_instancer_pass_0_blur_bb.hlsl
ps = /modules/draw_instancer_pass_0_blur_bb.hlsl
run = BuiltInCommandListUnbindAllRenderTargets
blend = ADD SRC_ALPHA ZERO
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache ResourceBB
Draw = 6,0
if $ui_graphics_blur != 3
ps-t92 = copy o0
else
ps-t91 = copy o0
endif
[CustomShaderDI2D.PASS0.BLUR.X1.75]
vs = /modules/draw_instancer_pass_0_blur_bb.hlsl
ps = /modules/draw_instancer_pass_0_blur_bb.hlsl
run = BuiltInCommandListUnbindAllRenderTargets
blend = ADD SRC_ALPHA ZERO
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache ResourceBB
Draw = 6,0
ps-t92 = copy o0
[CustomShaderDI2D.PASS0.BLUR.X1.85]
vs = /modules/draw_instancer_pass_0_blur_bb.hlsl
ps = /modules/draw_instancer_pass_0_blur_bb.hlsl
run = BuiltInCommandListUnbindAllRenderTargets
blend = ADD SRC_ALPHA ZERO
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache ResourceBB
Draw = 6,0
ps-t91 = copy o0
[CustomShaderDI2D.PASS0.BLUR.X2]
vs = /modules/draw_instancer_pass_0_5_blur_bb.hlsl
ps = /modules/draw_instancer_pass_0_5_blur_bb.hlsl
blend = ADD SRC_ALPHA ZERO
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache ResourceBB
Draw = 6,0
ps-t90 = copy o0
[CustomShaderDI2D.PASS.MAIN]
vs = /modules/draw_instancer.hlsl
ps = /modules/draw_instancer.hlsl
run = BuiltInCommandListUnbindAllRenderTargets
blend = ADD SRC_ALPHA INV_SRC_ALPHA
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache bb
DrawInstanced = 192, 1024, 0, 0


[CustomShaderDI2D.PASS.SYSTEM]
local $interpolateCursorPosX
local $interpolateCursorPosY
$interpolateCursorPosX = $interpolateCursorPosX + ($CursorX - $interpolateCursorPosX) * ($dtCustom + 0.0069)
$interpolateCursorPosY = $interpolateCursorPosY + ($CursorY - $interpolateCursorPosY) * ($dtCustom + 0.0069)
x99 = $interpolateCursorPosX / $ScreenW
y99 = $interpolateCursorPosY / $ScreenH
run = CustomShaderDI2D.SYSTEM.PROC

[CustomShaderDI2D.SYSTEM.PROC]
vs = /modules/system_draw.hlsl
ps = /modules/system_draw.hlsl
ps-t82 = ResourceFont0
ps-t63 = ResourceRZMSys_SlotHint
ps-t64 = ResourceRZMSys_SlotHint2
ps-t65 = ResourceRZMSys_DebugDataSlots
ps-t66 = ResourceRZMSys_DebugTextConfig
ps-t67 = ResourceRZMSys_DetectTextConfig
{% set _sys_has_hover = {'found': false} %}
{% if mod_file and mod_file.components %}
    {% for component in mod_file.components if component.draw_vb != "" %}
        {% for part in component.parts if part.vertex_count > 0 %}
            {% for entry in part.objects if entry.vertex_count > 0 %}
                {% set real_obj = scene.objects.get(entry.name) if scene and scene.objects else none %}
                {% if real_obj and real_obj.get('rzm.Hover', 0) | int > 0 %}
                    {% if _sys_has_hover.update({'found': true}) %}{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% if _sys_has_hover.found %}
ps-t68 = ResourceRZMPinnedDetectInfo
{% else %}
ps-t68 = ResourceRZMSys_DetectDebugData
{% endif %}

if $inputMode == 1
    ps-t58 = ResourceRZMSys_SlotButtonMode
else
    ps-t58 = ResourceRZMSys_SlotMouseMode
endif

blend = ADD SRC_ALPHA INV_SRC_ALPHA
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache bb
draw = 3, 0

[ResourceRZMSys_SlotHint]
type = Buffer
format = R32_UINT
data = 82 83 104 105 102 116 32 45 32 115 119 105 116 99 104 32 109 111 100 101

[ResourceRZMSys_SlotHint2]
type = Buffer
format = R32_UINT
data = 82 67 116 114 108 32 45 32 99 97 112 116 117 114 101 32 101 108 101 109 101 110 116

[ResourceRZMSys_SlotButtonMode]
type = Buffer
format = R32_UINT
data = 66 117 116 116 111 110 77 111 100 101

[ResourceRZMSys_SlotMouseMode]
type = Buffer
format = R32_UINT
data = 77 111 117 115 101 77 111 100 101

[ResourceRZMSys_GM_ON]
type = Buffer
format = R32_UINT
data = 71 97 109 101 112 97 100 32 79 78

[ResourceRZMSys_GM_OFF]
type = Buffer
format = R32_UINT
data = 75 101 121 98 111 97 114 100 32 79 78

[ResourceRZMSys_NO_API]
type = Buffer
format = R32_UINT
data = 78 111 32 65 80 73

[ResourceRZMSys_TestNotice]
type = Buffer
format = R32_UINT
data = 84 101 115 116 32 78 111 116 105 99 101

[ResourceRZMSys_DebugDataSlots]
type = Buffer
format = R32G32B32A32_FLOAT
array = 4
data = 0 0 0 0  0 0 0 0  0 0 0 0  0 0 0 0

; x=source slot or IniParams row, y=component 0..3, z=source 0 buffer / 1 IniParams, w=enabled
[ResourceRZMSys_DebugTextConfig]
type = Buffer
format = R32G32B32A32_FLOAT
array = 4
data = 27 0 1 1  27 1 1 1  27 2 1 1  27 3 1 1

{% set RZM_SYS_DETECT_DEBUG_FIELDS = [
    ('hit_id', 0, 0),
    ('face_id', 2, 3),
    ('nearest_vertex_index', 7, 3),
    ('hit_point_x', 1, 0),
    ('depth', 0, 1),
    ('first_index', 0, 2),
    ('hit_count', 0, 3),
    ('hit_point_y', 1, 1),
    ('hit_point_z', 1, 2),
    ('object_mode', 1, 3),
    ('face_first_index', 2, 0),
    ('face_index_base', 2, 1),
    ('face_local_triangle', 2, 2),
    ('vertex0_index', 3, 0),
    ('vertex1_index', 3, 1),
    ('vertex2_index', 3, 2),
    ('nearest_vertex_slot', 3, 3),
    ('bary_x', 4, 0),
    ('bary_y', 4, 1),
    ('bary_z', 4, 2),
    ('inside_triangle', 4, 3),
    ('normal_x', 5, 0),
    ('normal_y', 5, 1),
    ('normal_z', 5, 2),
    ('screen_winding', 5, 3),
    ('nearest_vertex_x', 6, 0),
    ('nearest_vertex_y', 6, 1),
    ('nearest_vertex_z', 6, 2),
    ('nearest_screen_dist_sq', 6, 3),
    ('layout_version', 7, 0),
    ('object_map_index', 7, 1),
    ('object_count', 7, 2)
] %}

; Auto detector text config. First 4 fields are active; overflow is commented below.
; x=ResourceRZMPinnedDetectInfo slot, y=component 0..3, z=format/reserved, w=enabled
[ResourceRZMSys_DetectTextConfig]
type = Buffer
format = R32G32B32A32_FLOAT
array = 4
data = {% for field in RZM_SYS_DETECT_DEBUG_FIELDS[:4] %}{{ field[1] }} {{ field[2] }} 0 1  {% endfor %}

{% for field in RZM_SYS_DETECT_DEBUG_FIELDS[4:] %}
; overflow detector field {{ loop.index0 + 4 }}: {{ field[0] }} -> {{ field[1] }} {{ field[2] }} 0 1
{% endfor %}

[ResourceRZMSys_DetectDebugData]
type = Buffer
format = R32G32B32A32_FLOAT
array = 8


[ResourceIndexBuffer]
type = RWBuffer
format = R32_UINT
array = 2048

[ResourceDataBuffer]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 8192

[ResourceText]
type = Buffer
format = R16G16B16A16_UINT
filename = .\res\texts.bin

{% if scene.rzm.meta_data.languages %}
{% for lang in scene.rzm.meta_data.languages %}
{% if lang.index > 0 %}
[ResourceText_Lang{{lang.index}}]
type = Buffer
format = R16G16B16A16_UINT
filename = .\res\texts_{{lang.index}}.bin
{% endif %}
{% endfor %}
{% endif %}
[ResourceImageBuffer]
type = Buffer
format = R16G16B16A16_UINT
filename = .\res\images.bin

{% if has_anim %}
[ResourceAnimFrames]
type = Buffer
format = R16_UINT
filename = .\res\anim_frames.bin
{% endif %}

[ResourceStyleBuffer]
type = Buffer
format = R32G32B32A32_FLOAT
filename = .\res\styles.bin

[ResourceElementStaticMap]
type = Buffer
format = R32G32B32A32_FLOAT
filename = .\res\element_static_map.buf

[ResourceElementDefaultProps]
type = Buffer
format = R32G32B32A32_FLOAT
filename = .\res\element_default_props.buf

[ResourceElementBlackList]
type = Buffer
format = R32G32B32A32_UINT
filename = .\res\element_blacklist.buf

[ResourceElementDrawData]
type = Buffer
format = R32G32B32A32_FLOAT
filename = .\res\element_draw_data.buf

[Constants]
global $debugTexShow = 0
global $elemFlags = 0
[KeyShowTexDebug]
key = L
type = hold
$debugTexShow = 1
post $debugTexShow = 0
{% if scene.rzm.addons.tex_works == 1 %}
    ;[Present]
    ;if $debugTexShow
    ;ResourceTex = copy ResourceAtlasDiffuse
    ;run = CustomShaderDebugShowTexture
    ;endif
    ;[ResourceTex]
    ;[CustomShaderDebugShowTexture]
    ;ps-t50 = ResourceTex
    ;vs = /modules/texworks/simple_draw.hlsl
    ;ps = /modules/texworks/simple_draw.hlsl
    ;run = BuiltInCommandListUnbindAllRenderTargets
    ;blend = ADD SRC_ALPHA INV_SRC_ALPHA
    ;topology = triangle_strip
    ;o0 = set_viewport bb
    ;draw = 4, 0
{% endif %}
{%endmacro%}

{% macro menu_resource_ui(mod_file,scene)%}
;MenuIcons
[ResourceIcons]
filename = .\res\icons.{{ scene.rzm.export_settings.atlas_format.lower() | default('png') }}
{% set font_ext = scene.rzm.export_settings.atlas_format.lower() | default('png') -%}
{% set used_font_slots = [0] %}
{% if scene.rzm and scene.rzm.elements %}
    {% for elem in scene.rzm.elements %}
        {% if (elem.elem_class == 'TEXT' or elem.elem_class == 'BUTTON') and not elem.disable_export %}
            {% set slot = elem.font_slot | default(0) | int %}
            {% if slot not in used_font_slots %}
                {% set _ = used_font_slots.append(slot) %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
[ResourceFont0]
filename = .\res\font_atlas_0.{{ font_ext }}
{% if 1 in used_font_slots and scene.rzm.fonts and scene.rzm.fonts|length > 1 and (scene.rzm.fonts[1].custom_path or scene.rzm.fonts[1].font_source != 'DEFAULT') -%}
[ResourceFont1]
filename = .\res\font_atlas_1.{{ font_ext }}
{% endif -%}
{% if 2 in used_font_slots and scene.rzm.fonts and scene.rzm.fonts|length > 2 and (scene.rzm.fonts[2].custom_path or scene.rzm.fonts[2].font_source != 'DEFAULT') -%}
[ResourceFont2]
filename = .\res\font_atlas_2.{{ font_ext }}
{% endif -%}
{% if 3 in used_font_slots and scene.rzm.fonts and scene.rzm.fonts|length > 3 and (scene.rzm.fonts[3].custom_path or scene.rzm.fonts[3].font_source != 'DEFAULT') -%}
[ResourceFont3]
filename = .\res\font_atlas_3.{{ font_ext }}
{% endif -%}
[ResourceModNameText]
filename = .\res\mod_name.{{ font_ext }}
{% endmacro %}

{% macro shape_generate(mod_file, scene) %}
{% if scene.rzm.shape_configs %}
{{ shapes_native.shape_generate(scene=scene, game_name=scene.rzm.game.name, mod_file=mod_file) }}
{% endif %}
{% endmacro %}

{% macro shape_generate_arknights(extracted_object, merged_object, buffers, scene) %}
{% if scene.rzm.shape_configs %}
{{ shapes_native.shape_generate(scene=scene, game_name=scene.rzm.game.name, extracted_object=extracted_object, merged_object=merged_object, buffers=buffers) }}

{{ weights_native.weight_generate(scene=scene, game_name=scene.rzm.game.name, extracted_object=extracted_object, merged_object=merged_object, buffers=buffers) }}
{% endif %}
{% endmacro %}


{% macro generate_missing_resources(scene) -%}
{% if scene["rzm_missing_textures"] %}
; --- AUTO-GENERATED MISSING RESOURCES ---
    {% for tex_name in scene["rzm_missing_textures"].split(',') %}
        {% if tex_name and tex_name|length > 0 %}
[Resource{{ tex_name }}]
filename = ./Textures/{{ tex_name }}{{ "" if tex_name.endswith(".dds") else ".dds" }}

        {% endif %}
    {% endfor %}
{% endif %}
{%- endmacro %}
