{% import "modules/functions.j2" as fn %}
{% set CLASS_NAME_MAP = {
    0: 'CONTAINER',
    1: 'GRID_CONTAINER',
    2: 'ANCHOR',
    3: 'BUTTON',
    4: 'SLIDER',
    5: 'TEXT',
} %}
{% macro format_var(input_string) -%}
    {%- if input_string -%}
        {#- Список "неправильных" символов, которые нужно удалить с начала строки -#}
        {%- set chars_to_strip = '$@#%' -%}
        {#- Убираем все неправильные символы с начала и добавляем один $ впереди -#}
        {{- '$' ~ input_string.lstrip(chars_to_strip) -}}
    {%- endif -%}
{%- endmacro %}

{%macro generate_variables(mod_file,scene)%}
;macro generate_variables(mod_file,scene)
{% if scene.rzm %}
    {% if scene.rzm.rzm_values %}
        {% for value in scene.rzm.rzm_values %}
            {% if value.value_name %}
                {% if value.int_value %}
                global persist {{format_var(value.value_name)}} = {%if int_value != null%}{{value.int_value}}{%else%}0{%endif%}   
                {% else %}
                global persist {{format_var(value.value_name)}} = {%if float_value != null%}{{value.float_value}}{%else%}0.0{%endif%}    
                {%endif%}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
{%endmacro%}

{% macro generate_toggle(mod_file,scene) %}
    ;macro generate_toggle(mod_file,scene)
    {# --- ИЗМЕНЕНО ЗДЕСЬ: Путь к коллекции теперь 'toggle_definitions' --- #}
{% if scene.rzm %}
    {% if scene.rzm.toggle_definitions %}
        {% for toggle in scene.rzm.toggle_definitions %}
            {% if toggle.toggle_name %}
            global persist ${{ toggle.toggle_name }} = 0   
            {%endif%}
                {#{toggle.toggle_length}#}
        {% endfor %}
    {% endif %}
{% endif %}
{% endmacro %}

{%macro entryPoint(mod_file,scene)%}
[Present]
$rayvich_back_values_x99 = x99
$rayvich_back_values_y99 = y99
$rayvich_back_values_z99 = z99
$rayvich_back_values_w99 = w99

$rayvich_back_values_z100 = z100
$rayvich_back_values_w100 = w100
$rayvich_back_values_x100 = x100
$rayvich_back_values_y100 = y100

$rayvich_back_values_z101 = z101
$rayvich_back_values_w101 = w101
$rayvich_back_values_x101 = x101
$rayvich_back_values_y101 = y101

$rayvich_back_values_x102 = x102
$rayvich_back_values_y102 = y102
$rayvich_back_values_z102 = z102
$rayvich_back_values_w102 = w102

$rayvich_back_values_x110 = x110
$rayvich_back_values_y110 = y110
$rayvich_back_values_z110 = z110
$rayvich_back_values_w110 = w110

$rayvich_back_values_x90 = x90
$rayvich_back_values_y90 = y90
$rayvich_back_values_z90 = z90
$rayvich_back_values_w90 = w90
x99 = 0
y99 = 0
z99 = 0
w99 = 0

z100 = 0
w100 = 0
x100 = 0
y100 = 0

x102 = 0
y102 = 0
z102 = 0
w102 = 0

x110 = 0
y110 = 0
z110 = 0
w110 = 0

x90 = 0
y90 = 0
z90 = 0
w90 = 0

$new_frame_iteration = 1

$new_frame_iteration = 0

{% if scene.rzm.addons.tex_works == 1 %}
if $first_run_texworks
    post run = CommandListAddonsTexWorks
    post run = CommandListAddonsFaceTexWorks
endif
{% endif %}




if $active
    if $first_run

    {% if scene.rzm %}
        {% if scene.rzm.addons.tex_works == 1 %}
        post run = CommandListAddonsTexWorks
        {% endif %}
    {% endif %}
    {% if scene.rzm.shapes %}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
        {% if component.strides %}
            Resource{{ component.fullname }}Position = copy Resource{{ component.fullname }}Position.Base
            {% if mod_file.game.name == "HonkaiStarRail" %}
            Resource{{ component.fullname }}PositionCS = copyResource{{ component.fullname }}PositionCS.Base
            {% endif %}
        {% endif %}
    {% endfor %}
    run = CustomShaderComputeShapes
    {% endif %}
    

    $first_run = 0
    endif
    {% if scene.rzm.shapes %}
    ;run = CustomShaderComputeShapes
    {% endif %}
    run = CommandListEntryPoint
endif

post $active = 0
post $di_count = 0
$click = 0
;run = CustomShaderDI2D
x99 = $rayvich_back_values_x99
y99 = $rayvich_back_values_y99
z99 = $rayvich_back_values_z99
w99 = $rayvich_back_values_w99
z100 = $rayvich_back_values_z100
w100 = $rayvich_back_values_w100
x100 = $rayvich_back_values_x100
y100 = $rayvich_back_values_y100
x101 = $rayvich_back_values_x101
y101 = $rayvich_back_values_y101
z101 = $rayvich_back_values_z101
w101 = $rayvich_back_values_w101
x102 = $rayvich_back_values_x102
y102 = $rayvich_back_values_y102
z102 = $rayvich_back_values_z102
w102 = $rayvich_back_values_w102
x110 = $rayvich_back_values_x110
y110 = $rayvich_back_values_y110
z110 = $rayvich_back_values_z110
w110 = $rayvich_back_values_w110
x90 = $rayvich_back_values_x90
y90 = $rayvich_back_values_y90
z90 = $rayvich_back_values_z90
w90 = $rayvich_back_values_w90

[CommandListEntryPoint]
if $menu
run = CustomShaderDI2D
run = CommandListBaseDataCompute
run = CommandListGamepadProcessInput
x85 = $window0AreaX
w85 = $window0AreaY
z85 = $window0AreaZ
w85 = $window0AreaW
{% if scene.rzm and scene.rzm.elements -%}
{% for element in scene.rzm.elements if element.parent_id == -1 -%}
run = CommandListElement{{ element.element_name }}
{% endfor %}
{% endif -%}
run = CommandListInteractionManager
run = CommandListNavFinalizeSearch
{% if scene.rzm %}
    {% if scene.rzm.addons %}
        {% if scene.rzm.addons.debugger_info == 1 %}
        run = CommandListElementDebug
        {% endif %}
    {% endif %}
{% endif %}
endif

[CommandListInteractionManager]
if $inputMode == 0
    $clickTriggerID = -1

    if $isMouseButtonDown == 1
        if $capturedID == -1
            if $hoveredID != -1
                $capturedID = $hoveredID
            else
                $capturedID = -2
            endif
            $holdTimer = 0.0
        endif
        
        if $capturedID > -1
            $holdTimer = $holdTimer + $dt
        endif
    else
        if $capturedID != -1
            if $capturedID > -1 && $holdTimer < $holdThreshold
                $clickTriggerID = $capturedID
            endif
            
            $capturedID = -1
            $dragState = 0
            $holdTimer = 0.0
        endif
    endif
endif
{%endmacro%}

{%macro baseCompute(mod_file,scene)%}
[CommandListBaseDataCompute]
if $inputMode == 0
    if cursor_x > 0 && cursor_y > 0 && cursor_x < 1 && cursor_y < 1
        $cursorX = cursor_x
        $cursorY = 1.0 - cursor_y
    elif cursor_window_x > 0 && cursor_window_y > 0 && cursor_window_x < 1 && cursor_window_y < 1
        $cursorX = cursor_window_x / rt_width
        $cursorY = 1.0 - cursor_window_y / rt_height
    else
        $cursorX = cursor_screen_x / rt_height
        $cursorY = 1.0 - cursor_screen_y / rt_height
    endif
endif
if window_width != 0 && window_height != 0
  $screenW = window_width
  $screenH = window_height
elif rt_width != 0 && rt_height != 0
  $screenW = rt_width
  $screenH = rt_height
else
  $screenW = res_width
  $screenH = res_height
endif

if $screenW > $screenH
	$ratioCorrection = $screenH / $screenW
else 
	$ratioCorrection = $screenW / $screenH
endif
if $inputMode == 0
    $cursorX = $cursorX * $screenW
    $cursorY = $cursorY * $screenH
endif
{% if scene.rzm %}
    {% for grid in scene.rzm.elements %}
        {% if grid.elem_class == 'GRID_CONTAINER' %}
            ${{ grid.element_name }}_new_frame = 1
        {% endif %}
    {% endfor %}
{% endif %}
$id = -1
if $inputMode == 0
$hoveredID = -1
endif
$dt = time - $ts
$ts = time
{%endmacro%}

{% macro menuDrawUi(mod_file,scene)%}
[CustomShaderRCI2D_POPUP]
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110
cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = $colorR
y101 = $colorG
z101 = $colorB
w101 = $colorA
if $drawType == 1 || $drawType == 2
	x102 = $texPosX / 256
	y102 = $texPosY / 128
	z102 = $texSizeX / 256
	w102 = $texSizeY / 128
elif $drawType == 3
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
elif $drawType == 5
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
else
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
endif
x109 = 0
y109 = 0
z109 = 0
w109 = 0
x110 = x110
y110 = y110
z110 = 0
w110 = $drawType
y111 = 768 + $di_count
dispatch = 1, 1, 1
$di_count = $di_count + 1

[CustomShaderRCI2D_SLIDER]
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110
cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = 0.0
y101 = 0.0
z101 = 0.0
w101 = 0.75
if $drawType == 1 || $drawType == 2
	x102 = $texPosX / 256
	y102 = $texPosY / 128
	z102 = $texSizeX / 256
	w102 = $texSizeY / 128
elif $drawType == 3
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
elif $drawType == 5
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
else
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
endif
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
w110 = 90
y111 = $di_count

dispatch = 1, 1, 1
$di_count = $di_count + 1
run = CommandListCoreFXRenderSliderNumbers


[CustomShaderRCI2D_SLIDER.TEXT]
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110
cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = 0.0
y101 = 0.0
z101 = 0.0
w101 = 0.75
if $drawType == 1 || $drawType == 2
	x102 = $texPosX / 256
	y102 = $texPosY / 128
	z102 = $texSizeX / 256
	w102 = $texSizeY / 128
elif $drawType == 3
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
elif $drawType == 5
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
else
	x102 = $texPosX
	y102 = $texPosY
	z102 = $texSizeX
	w102 = $texSizeY
endif
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
w110 = 90
y111 = $di_count

dispatch = 1, 1, 1
$di_count = $di_count + 1
run = CommandListCoreFXRenderSliderText
run = CommandListCoreFXRenderSliderNumbers

[CustomShaderRCI2D_TEXT_LEFT]
$texSizeX = 0
run = CustomShaderRCI2D_TEXT
[CustomShaderRCI2D_TEXT_CENTER]
$texSizeX = 1
run = CustomShaderRCI2D_TEXT
[CustomShaderRCI2D_TEXT_RIGHT]
$texSizeX = 2
run = CustomShaderRCI2D_TEXT
[CustomShaderRCI2D_TEXT]
$drawType = 3
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110
cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = $colorR
y101 = $colorG
z101 = $colorB
w101 = $colorA
x102 = $texPosX
y102 = $texPosY
z102 = $texSizeX
w102 = $texSizeY
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
w110 = $drawType
y111 = $di_count

dispatch = 1, 1, 1
$di_count = $di_count + 1

[CustomShaderRCI2D_HOVERTEXT]
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110
cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = ($cursorX + $hoverPositionOffsetX - 5) / $ScreenW
y100 = ($cursorY + $hoverPositionOffsetY - 5) / $ScreenH
z100 = ($symbolSizeX * $textLength + 10) / $ScreenW
w100 = ($symbolSizeY + 10) / $ScreenH
x101 = 0
y101 = 0
z101 = 0
w101 = y24 * 2
x102 = 0
y102 = 0
z102 = 0
w102 = 0
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = 0
y110 = 0
z110 = 0
w110 = 0
y111 = 510
dispatch = 1, 1, 1
$di_count = $di_count + 1

z99 = $ScreenW
w99 = $ScreenH
x100 = ($cursorX + $hoverPositionOffsetX) / $ScreenW
y100 = ($cursorY + $hoverPositionOffsetY) / $ScreenH
z100 = ($symbolSizeX * $textLength) / $ScreenW
w100 = $symbolSizeY / $ScreenH
x101 = 1
y101 = 1
z101 = 1
w101 = y24 * 2
x102 = $textOffset
y102 = $textLength
z102 = 0
w102 = 0
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = 0
y110 = 0
z110 = 0
w110 = 3
y111 = 511
dispatch = 1, 1, 1
$di_count = $di_count + 1

[CustomShaderRCI2D]
cs-u0 = ResourceBuffer100
cs-u1 = ResourceBuffer101
cs-u2 = ResourceBuffer102
cs-u3 = ResourceBuffer103
cs-u6 = ResourceBuffer109
cs-u7 = ResourceBuffer110
cs = /modules/draw_controller.hlsl

z99 = $ScreenW
w99 = $ScreenH
x100 = $PositionX / $ScreenW
y100 = $PositionY / $ScreenH
z100 = $sizeX / $ScreenW
w100 = $sizeY / $ScreenH
x101 = $colorR
y101 = $colorG
z101 = $colorB
w101 = $colorA
if $drawType == 1 || $drawType == 2
{% if scene.rzm %}
    {% if scene.rzm.atlas_size %}
    x102 = $texPosX / {{scene.rzm.atlas_size[0] | int}}
    y102 = $texPosY / {{scene.rzm.atlas_size[1] | int}}
    z102 = $texSizeX / {{scene.rzm.atlas_size[0] | int}}
    w102 = $texSizeY / {{scene.rzm.atlas_size[1] | int}}
    {% else %}
    ;ERROR: размеры атласа не были предопределены
    x102 = $texPosX / 0
    y102 = $texPosY / 0
    z102 = $texSizeX / 0
    w102 = $texSizeY / 0
    {%endif%}
{% endif %}
elif $drawType == 3
x102 = $texPosX
y102 = $texPosY
z102 = $texSizeX
w102 = $texSizeY
elif $drawType == 5
x102 = $texPosX
y102 = $texPosY
z102 = $texSizeX
w102 = $texSizeY
else
x102 = $texPosX
y102 = $texPosY
z102 = $texSizeX
w102 = $texSizeY
endif
x109 = $scissorX
y109 = $scissorY
z109 = $scissorZ
w109 = $scissorW
x110 = x110
y110 = y110
z110 = 0
w110 = $drawType
y111 = $di_count

dispatch = 1, 1, 1
$di_count = $di_count + 1

[CustomShaderDI2D]
vs-t100 = ref ResourceBuffer100
vs-t101 = ref ResourceBuffer101
vs-t102 = ref ResourceBuffer102
vs-t103 = ref ResourceBuffer103
vs-t109 = ref ResourceBuffer109
vs-t110 = ref ResourceBuffer110
w98 = time % 1
x99 = $cursorX / $ScreenW
y99 = $cursorY / $ScreenH
z99 = $ScreenW
w99 = $ScreenH
ps-t80 = ResourceIcons
vs-t82 = ResourceFont
ps-t82 = ResourceFont
ps-t89 = bb

vs = /modules/draw_instancer.hlsl
ps = /modules/draw_instancer.hlsl
run = BuiltInCommandListUnbindAllRenderTargets
blend = ADD SRC_ALPHA INV_SRC_ALPHA
cull = none
topology = triangle_list
o0 = set_viewport no_view_cache bb
DrawInstanced = 192, 1024, 0, 0

clear = ResourceBuffer100
clear = ResourceBuffer101
clear = ResourceBuffer102
clear = ResourceBuffer103
clear = ResourceBuffer109
clear = ResourceBuffer110

[ResourceBuffer100]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 1024
[ResourceBuffer101]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 1024
[ResourceBuffer102]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 1024
[ResourceBuffer103]
type = Buffer
array = 1024
format = R8_UINT
[ResourceBuffer109]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 1024
[ResourceBuffer110]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 1024

[Constants]
global $debugTexShow = 0
[KeyShowTexDebug]
key = L
type = hold
$debugTexShow = 1
post $debugTexShow = 0
{% if scene.rzm.addons.tex_works == 1 %}
    [Present]
    if $debugTexShow
    ResourceTex = copy ResourceAtlasDiffuse
    run = CustomShaderDebugShowTexture
    endif
    [ResourceTex]
    [CustomShaderDebugShowTexture]
    ps-t50 = ResourceTex
    vs = /modules/texworks/simple_draw.hlsl
    ps = /modules/texworks/simple_draw.hlsl
    run = BuiltInCommandListUnbindAllRenderTargets
    blend = ADD SRC_ALPHA INV_SRC_ALPHA
    topology = triangle_strip
    o0 = set_viewport bb
    draw = 4, 0
{% endif %}
{%endmacro%}

{% macro menu_resource_ui(mod_file,scene)%}
;MenuIcons
[ResourceIcons]
filename = .\res\icons.png
[ResourceFont]
filename = .\res\font_atlas.png
[ResourceModNameText]
filename = .\res\mod_name.png
{% endmacro %}

{% macro shape_generate(mod_file,scene)%}
[Constants]
global $shape_changed = 0
{% for shape in scene.rzm.shapes %}
global ${{ shape.shape_name | default(Error) | string}}Past
{% endfor %}
{% if scene.rzm.shapes %}
    [Present]
    {% for shape in scene.rzm.shapes %}
    post ${{ shape.shape_name | default(Error) | string}}Past = ${{ shape.shape_name | default(Error) | string}}
    {% endfor %}
    {% for shape in scene.rzm.shapes %}
        {% if shape.shape_type | default(0) | int == 0 %}
            if ${{ shape.shape_name | default(Error) | string}}Past != ${{ shape.shape_name | default(Error) | string}}
                $shape_changed = 1
            endif
        {% endif %}
        {% if shape.shape_type | default(0) | int == 1%}
            if ${{ shape.shape_name | default(Error) | string}} > 0.005
                $shape_changed = 1
            endif
        {% endif %}
    {% endfor %}

    if $shape_changed
        run = CustomShaderComputeShapes
    endif
    post $shape_changed = 0
{% endif %}

{% if scene.rzm.shapes %}
[Constants]
{% for shape in scene.rzm.shapes %}
{% if shape.shape_type | default(0) | int == 1 %}
global ${{ shape.shape_name | default(Error) | string}}Freq
{% endif %}
{% endfor %}
[Present]
local $sppeeedyy = 0.00125
if $dt+$sppeeedyy < $sppeeedyy
{% for shape in scene.rzm.shapes if shape.shape_type | default(0) | int == 1 %}
    {% if shape.anim_condition %}
    if {{ shape.anim_condition }}
        ${{ shape.shape_name | default('Error') | string}}Freq = ${{ shape.shape_name | default('Error') | string}}Freq + ${{ shape.shape_name | default('Error') | string}} * ($sppeeedyy)
    endif
    {% else %}
    ${{ shape.shape_name | default('Error') | string}}Freq = ${{ shape.shape_name | default('Error') | string}}Freq + ${{ shape.shape_name | default('Error') | string}} * ($sppeeedyy)
    {% endif %}
{% endfor %}
else
{% for shape in scene.rzm.shapes if shape.shape_type | default(0) | int == 1 %}
    {% if shape.anim_condition %}
    if {{ shape.anim_condition }}
        ${{ shape.shape_name | default('Error') | string}}Freq = ${{ shape.shape_name | default('Error') | string}}Freq + ${{ shape.shape_name | default('Error') | string}} * ($dt+$sppeeedyy)
    endif
    {% else %}
    ${{ shape.shape_name | default('Error') | string}}Freq = ${{ shape.shape_name | default('Error') | string}}Freq + ${{ shape.shape_name | default('Error') | string}} * ($dt+$sppeeedyy)
    {% endif %}
{% endfor %}
endif

[CustomShaderComputeShapes]
{% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
    {% if component.strides %}
    run = CustomShaderComputeShapes.{{ component.fullname }}
    {% endif %}
{% endfor %}

{% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
    {% if component.strides %}
    [CustomShaderComputeShapes.{{ component.fullname }}]
    cs = ./modules/position_shape_linear.hlsl
    cs-u5 = copy Resource{{ component.fullname }}Position.Base
    {% for shape in scene.rzm.shapes %}
        {% for key in shape.shape_keys %}
            {% if shape.shape_type | default(0) | int == 0 %}
            {% if key.mode == 1 %}
                ;Advanced Key
                x88 = ${{ shape.shape_name | default('Error') | string }}
                {% set range_min = key.input_range_min | default(0.0) | float %}
                {% set range_max = key.input_range_max | default(1.0) | float %}
                {% set multiplier = key.multiplier | default(1.0) | float %}
                {% set range_span = range_max - range_min %}
                if x88 <= {{ range_min }}
                    x88 = 0.0
                else if x88 >= {{ range_max }}
                    x88 = 1.0
                else
                    {% if range_span > 0.0001 %}
                    x88 = (x88 - {{ range_min }}) / {{ range_span }}
                    {% else %}
                    x88 = 0.0
                    {% endif %}
                endif
                x88 = x88 * {{ multiplier }}
                {% else %}
                x88 = ${{ shape.shape_name | default('Error') | string }}
            {% endif %}
            cs-t50 = copy Resource{{ component.fullname }}Position.Base
            cs-t51 = copy Resource{{ component.fullname }}Position.{{ shape.shape_name | default('Error') | string}}_{{ key.key_name }}
            Resource{{ component.fullname }}Position = ref cs-u5
            Dispatch = {{ component.vertex_count }}, 1, 1
            {% endif %}
        {% endfor %}
    {% endfor %}

    run = CustomShaderComputeShapes.{{ component.fullname }}.Anim

    cs-u5 = null
    cs-t50 = null
    cs-t51 = null

    [CustomShaderComputeShapes.{{ component.fullname }}.Anim]
    cs = ./modules/position_shape_anim.hlsl
    {% for shape in scene.rzm.shapes %}
        {% for key in shape.shape_keys %}
            {% if shape.shape_type | default(0) | int == 1 %}
            x88 = ${{ shape.shape_name | default(Error) | string}}Freq
            y88 = {{ key.anim_type_index | default(0) | int }}
            z88 = {{ key.anim_start_frame| default(0.0) | float }}
            w88 = {{ key.anim_end_frame | default(1.0) | float }}
            cs-t50 = copy Resource{{ component.fullname }}Position.Base
            cs-t51 = copy Resource{{ component.fullname }}Position.{{ shape.shape_name | default('Error') | string}}_{{ key.key_name }}
            Resource{{ component.fullname }}Position = ref cs-u5
            Dispatch = {{ component.vertex_count }}, 1, 1
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% endif %}
{% endfor %}


{% endif %}

;BaseShape
{% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
    {% if component.strides %}
        [Resource{{ component.fullname }}Position.Base]
        type = Buffer
        stride = {{ component.strides.position }}
        filename = /0/{{ component.fullname }}Position.buf

        {% if mod_file.game.name == "HonkaiStarRail" %}
            [Resource{{ component.fullname }}PositionCS.Base]
            type = StructuredBuffer
            stride = {{ component.strides.position }}
            filename = /0/{{ component.fullname }}Position.buf
        {% endif %}
    {% endif %}
{% endfor %}

{% for shape in scene.rzm.shapes %}
    {% for key in shape.shape_keys %}
        ;ShapeKey Resource: {{ shape.shape_name }}.{{ key.key_name }}
        {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 and component.strides %}
        [Resource{{ component.fullname }}Position.{{ shape.shape_name | default('Error') | string}}_{{ key.key_name }}]
        type = Buffer
        stride = {{ component.strides.position }}
        filename = /{{ key.key_name }}/{{ component.fullname }}Position.buf

        {% if mod_file.game.name == "HonkaiStarRail" %}
        [Resource{{ component.fullname }}PositionCS.{{ shape.shape_name | default('Error') | string}}_{{ key.key_name }}]
        type = StructuredBuffer
        stride = {{ component.strides.position }}
        filename = /{{ key.key_name }}/{{ component.fullname }}Position.buf
        {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% endmacro %}