{% import "modules/elements.j2" as elements with context %}
{% import "modules/core.j2" as core with context %}
{% import "modules/utils.j2" as utils with context %}

{%macro config(mod_file,scene)%}
[Constants]
global $active = 0
global $mspeed = 0.075

global $CD_INDEX_COUNT = 0
global $CD_INSTANCE_COUNT = 0
global $CD_FIRST_INDEX = 0
global $CD_FIRST_VERTEX = 0
global $CD_FIRST_INSTANCE = 0
global $CD_draw_type = 0

global persist $menu = 0
global persist $menu_move = 1
global $menu_d
global $mms
;global persist $page = 0
;global $page_anim = 0
;global persist $pagex = 0
;global persist $pagey = 0
global $hold
global $holdShape
global $drag
global $navigating
global $navSpeed
global $hovering = 0
global $slot
global $hoveredID = -1
global $clickedID = -1
global $selectedID = -1
global $targetSelectedID = -1
global $slot_count = 4
;global $page_count = 3
global $navDirection = -1
global $first_run = 1
global $initFrame = 0
global $ModInitialised = 0
global $click = 0
global $Freq
global $vertex_loaded = 0
global $di_count = 0

global $isMouseButtonDown = 0
global $holdTimer = 0.0
global persist $holdThreshold = 0.2
global $capturedID = -1
global $dragState = 0
global $clickTriggerID = -1
global $popupInitiatorID = -1
global $popupSelectionID = -1

global persist $sizeMultiplier = 1
{% if scene.rzm %}
    {% if scene.rzm.config %}
    global $canvas_size_x = {{ scene.rzm.config.canvas_size[0] }}
    global $canvas_size_y = {{ scene.rzm.config.canvas_size[1] }}
    {% else %}
    global $canvas_size_x = 1920
    global $canvas_size_y = 1080
    {% endif %}
{% endif %}
global $screenW = 1
global $screenH = 1
global $screenX = 1
global $screenY = 1

global $window0AreaX
global $window0AreaY
global $window0AreaZ
global $window0AreaW

global $HoverID = -1
global $HoverIdHoldTime = -1
global $DragID = -1
global $WasHoveredID = -1
global $currentTheme
global $IdSelected
global $IdCaptured
global $IdState
global $IdTargetState

;ElementCoreAttributes
;InfoPlaceholders
global $classEnum
global $parentID
global $priority
global $tag
global $new_frame_iteration = 1
global $request_weight = 1

;ElementCpuSideParams
global $id

global $shapeCircle
global $shapeBox
global $shapeRoundedBox

global $isMainWindow
global $isClickable
global $isHoldable
global $isDraggable

global $hasImage
global $ImageID
global $hasText
global $TextID
global $hasHoverText
global $textOffset
global $textLength
global $HoverTextID
global $hoverPositionOffsetX = 30
global $hoverPositionOffsetY = -40
global $symbolSizeX = 10
global $symbolSizeY = 16

global $element_align

global $flipX
global $flipY

global $gridWrapMode
global $gridCellSize
global $gridMinCellsX
global $gridMinCellsY
global $gridMaxCellsX
global $gridMaxCellsY

global $varerror

;ElementGpuSideParams
;xyzw100
global $positionX
global $positionY
global $sizeX
global $sizeY
;xyzw101
global $texPosX
global $texPosY
global $texSizeX
global $texSizeY
;xyzw102
global $colorR
global $colorG
global $colorB
global $colorA
;xyzw103
global $gradientColorX
global $gradientColorY
global $gradientColorZ
global $gradientColorW
;xyzw109
global $scissorX = 0
global $scissorY = 0
global $scissorZ = 0
global $scissorW = 0
;xyzw110
global $value
global $placeHolder
global $drawType
global $drawTexture

;Vertex Count Value | TextureSize X Y
global $vcvalue = 80440
global $texturesizeX = 2048
global $texturesizeY = 2048

;mx = Main Window x y
global persist $mw = 0.3125
global persist $mh = 0.035

;menu page show/hide
global $mps = 0.0
global $mph = -0.25

global $cursorX
global $cursorY

global $ratioCorrection = 1.0
;icon width/height
global $iw = 0.05
global $ih = 0.05
global $dt
global $ts

;Desintegration Toggles
global persist $dtg_speed = 0.05
global persist $dtg_ht = 0.95
global persist $dtg_lt = 0.45

global $sppeeedyy = 0.00125

;Panels
global persist $rzmPanelTattoo = 0
global persist $rzmPanelFace = 0

;Options Menu
global persist $rzmUIRenderSettings_ButtonNumbers = 1
global persist $rzmUIRenderSettings_SliderNumbers = 1
global persist $rzmUIRenderSettings_ScrollBarThiccnkess = 6

;Dedicated
global $ui_graphics_blur = 3
global persist $ui_graphics_slider_num = 1
global persist $ui_graphics_toggle_num = 1
global persist $ui_graphics_render_rate = 1
global persist $ui_graphics_lock_position = 0
;Values
global $iVal
global $oVal
global $RZM_IN_VAL
global $RZM_OUT_VAL

global $RZM_INPUT_VALUE_0
global $RZM_INPUT_VALUE_1
global $RZM_INPUT_VALUE_2
global $RZM_INPUT_VALUE_3
global $RZM_INPUT_VALUE_4

global $RZM_OUTPUT_VALUE_0
global $RZM_OUTPUT_VALUE_1
global $RZM_OUTPUT_VALUE_2
global $RZM_OUTPUT_VALUE_3
global $RZM_OUTPUT_VALUE_4
;BackValues
global $rayvich_back_values_x24
global $rayvich_back_values_y24
global $rayvich_back_values_z24
global $rayvich_back_values_w24
global $rayvich_back_values_x30
global $rayvich_back_values_y30
global $rayvich_back_values_z30
global $rayvich_back_values_w30
global $rayvich_back_values_x31
global $rayvich_back_values_y31
global $rayvich_back_values_z31
global $rayvich_back_values_w31
global $rayvich_back_values_x32
global $rayvich_back_values_y32
global $rayvich_back_values_z32
global $rayvich_back_values_w32
global $rayvich_back_values_x33
global $rayvich_back_values_y33
global $rayvich_back_values_z33
global $rayvich_back_values_w33
global $rayvich_back_values_x34
global $rayvich_back_values_y34
global $rayvich_back_values_z34
global $rayvich_back_values_w34
global $rayvich_back_values_x35
global $rayvich_back_values_y35
global $rayvich_back_values_z35
global $rayvich_back_values_w35
global $rayvich_back_values_x36
global $rayvich_back_values_y36
global $rayvich_back_values_z36
global $rayvich_back_values_w36
global $rayvich_back_values_x37
global $rayvich_back_values_y37
global $rayvich_back_values_z37
global $rayvich_back_values_w37
global $rayvich_back_values_x38
global $rayvich_back_values_y38
global $rayvich_back_values_z38
global $rayvich_back_values_w38
global $rayvich_back_values_x39
global $rayvich_back_values_y39
global $rayvich_back_values_z39
global $rayvich_back_values_w39
global $rayvich_back_values_x40
global $rayvich_back_values_y40
global $rayvich_back_values_z40
global $rayvich_back_values_w40
global $rayvich_back_values_x41
global $rayvich_back_values_y41
global $rayvich_back_values_z41
global $rayvich_back_values_w41
global $rayvich_back_values_x42
global $rayvich_back_values_y42
global $rayvich_back_values_z42
global $rayvich_back_values_w42
global $rayvich_back_values_x43
global $rayvich_back_values_y43
global $rayvich_back_values_z43
global $rayvich_back_values_w43
global $rayvich_back_values_x44
global $rayvich_back_values_y44
global $rayvich_back_values_z44
global $rayvich_back_values_w44
global $rayvich_back_values_x45
global $rayvich_back_values_y45
global $rayvich_back_values_z45
global $rayvich_back_values_w45
global $rayvich_back_values_x46
global $rayvich_back_values_y46
global $rayvich_back_values_z46
global $rayvich_back_values_w46
global $rayvich_back_values_x90
global $rayvich_back_values_y90
global $rayvich_back_values_z90
global $rayvich_back_values_w90
global $rayvich_back_values_x99
global $rayvich_back_values_y99
global $rayvich_back_values_z99
global $rayvich_back_values_w99
global $rayvich_back_values_x100
global $rayvich_back_values_y100
global $rayvich_back_values_z100
global $rayvich_back_values_w100
global $rayvich_back_values_x101
global $rayvich_back_values_y101
global $rayvich_back_values_z101
global $rayvich_back_values_w101
global $rayvich_back_values_x102
global $rayvich_back_values_y102
global $rayvich_back_values_z102
global $rayvich_back_values_w102
global $rayvich_back_values_x110
global $rayvich_back_values_y110
global $rayvich_back_values_z110
global $rayvich_back_values_w110
;Vars
{{anchors_generate(mod_file,scene)}}
{{core.generate_variables(mod_file,scene)}}
{{core.generate_toggle(mod_file,scene)}}
{{shape_generate(mod_file,scene)}}
{% if scene.rzm %}
    {% for grid in scene.rzm.elements %}
        {% if utils.get_cls(grid)|trim == 'GRID_CONTAINER' and not (grid.disable_export and not grid.is_preset) %}
            global ${{ grid.element_name }}_new_frame = 1
        {% endif %}
    {% endfor %}
{% endif %}
{{customDrawVars(mod_file,scene)}}
{{special_generate(mod_file,scene)}}
{%endmacro%}

{% macro anchors_generate(mod_file,scene) %}
{% if scene.rzm and scene.rzm.elements %}
    {% for element in scene.rzm.elements %}
        {% if not element.is_preset and not element.disable_export %}
            {% if utils.get_cls(element)|trim == 'GRID_CONTAINER'%}
            global persist ${{element.element_name}}scroll = 0
            {% endif%}
            global persist ${{element.element_name}}PositionX = {{ (element.position | default([0,0]))[0] }}
            global persist ${{element.element_name}}PositionY = {{ (element.position | default([0,0]))[1] }}
            global persist ${{element.element_name}}SizeX = {{ (element.size | default([0,0]))[0] }}
            global persist ${{element.element_name}}SizeY = {{ (element.size | default([0,0]))[1] }}
        {% endif %}
    {% endfor %}
{% endif %}
{% endmacro %}

{% macro special_generate(mod_file,scene) %}
{% if scene.rzm and scene.rzm.elements %}
    {% for element in scene.rzm.elements %}
        {% if element.tag == 'HSVColorPicker' and not (element.disable_export and not element.is_preset) %}
        global persist ${{element.element_name}}_X = 0.0
        global persist ${{element.element_name}}_Y = 1.0
        global persist ${{element.element_name}}_Z = 1.0
        {% endif %}
    {% endfor %}
{% endif %}
{% endmacro %}

{% macro customDrawVars(mod_file,scene) %}
    {% for component in mod_file.components if component.draw_vb != "" %}
        {% for part in component.parts if part.vertex_count > 0 %}
            {% for entry in part.objects if entry.vertex_count > 0 %}
                {% for key, value in entry.obj.items() %}
                    {% if key.startswith('CustomDraw') %}
                        global $CDC_{{ key|replace('CustomDraw', '') }} = {{ entry.index_count }}
                        global $CDO_{{ key|replace('CustomDraw', '') }} = {{ entry.index_offset }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{%endmacro%}

{% macro shape_generate(mod_file,scene) %}
    {% for shape in scene.rzm.shapes %}
        global persist ${{utils.format_var(shape.shape_name | default(Error) | string)}} = 0
    {% endfor %}
{% endmacro%}
