{% set DEBUG = true %}
{% import "modules/container.j2" as class_container with context %}
{% import "modules/utils.j2" as utils with context %}

{% set CLASS_NAME_MAP = {
    0: 'CONTAINER',
    1: 'GRID_CONTAINER',
    2: 'ANCHOR',
    3: 'BUTTON',
    4: 'SLIDER',
    5: 'TEXT',
    6: 'VECTOR_BOX',
} %}

{% set CLASS_ATTRIBUTES = {
    'ANCHOR': ['isMovable'],
    'GRID_CONTAINER': ['isResizable'],
    'BUTTON': ['isClickable', 'isHoldable', 'hadPopup'],
    'SLIDER': ['isClickable', 'isHoldable']
} %}

{% set FN_MAP = {
    0: 'AlignCenterXY',
    1: 'AlignCenterX',
    2: 'AlignCenterY',
    3: 'AlignLeft',
    4: 'AlignRight',
    5: 'AlignBottom',
    6: 'AlignTop',
    7: 'FixAspectRatio',
} %}

{% set FX_MAP = {
    'CommandListCoreFxBoxRound': 'BoxRound',
    'CommandListCoreFxBoxCircle': 'BoxCircle',
    'CommandListCoreFxGradient': 'Gradient',
    'CommandListCoreFxShadow': 'Shadow',
    'CommandListCoreFxBlur': 'Blur',
    'CommandListCoreFxOutline': 'Outline',
    'CommandListCoreFxHover': 'Hover',
    'CommandListCoreFxHover3D': 'Hover3D',
    'CommandListCoreFxGpuAnimRotate': 'GpuAnimRotate'
} %}


{% macro elements_generate(mod_file,scene) %}
    {% if scene.rzm and scene.rzm.elements %}
        {% for element in scene.rzm.elements %}
            {% if not (element.disable_export and not element.is_preset) %}
            {% set parent_element = {'element_name': [], 'elem_class': [], 'grid_wrap_mode': [], 'value_link': []} %}
            {% if element.parent_id > -1 %}
                {% for potential_parent in scene.rzm.elements %}
                    {% if potential_parent.id == element.parent_id %}
                        {% set _ = parent_element['element_name'].insert(0, potential_parent.element_name) %}
                        {% set _ = parent_element['elem_class'].insert(0, potential_parent.elem_class) %}
                        {% set _ = parent_element['grid_wrap_mode'].insert(0, potential_parent.grid_wrap_mode) %}
                        {% if potential_parent.value_link and potential_parent.value_link|length > 0 %}
                            {% set _ = parent_element['value_link'].insert(0, potential_parent.value_link[0].value_name) %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if element.tag == 'ControllerCursor'%}
            {{class_container.ControllerCursor(element,parent_element,mod_file,scene)}}
            {% elif element.tag == 'HSVColorPicker' %}
            {{class_container.HSVColorPicker(element,parent_element,mod_file,scene)}}
            {% else %}
            {% if element.is_helper %}{%else%}{{class_container.main(element,parent_element,mod_file,scene)}}{%endif%}
            {% endif %}
            {% endif %}
        {% endfor %}

    {{elements_additional_generate(mod_file,scene)}}
    {% endif %}
{% endmacro %}


{%macro elements_additional_generate(mod_file,scene)%}
{% for element in scene.rzm.elements %}
    {% if not (element.disable_export and not element.is_preset) %}
    {%if element.elem_class == 'GRID_CONTAINER' %}
    {{generate_grid_scroller(element)}}
    {%elif element.elem_class == 'SLIDER' and element.value_link%}
    {{generate_slider_helper(element)}}
    {%elif element.elem_class == 'VECTOR_BOX'%}
    {{generate_vector_box_helper(element, scene)}}
    {%endif%}
    {% endif %}
{% endfor %}

{# ─── HELPER DEFINITIONS ─── #}
{# Для каждого host-элемента с helper_ids генерируем отдельный CommandList блок хелпера #}
{% for host_element in scene.rzm.elements %}
    {% if not host_element.is_preset and not host_element.is_helper and not host_element.disable_export %}
        {% if host_element.helper_ids %}
            {# --- HELPER GENERATION --- #}
            {% for ref in host_element.helper_ids %}
                {% set helper_item = scene.rzm.elements | selectattr('id', 'equalto', ref.helper_id) | first %}
                {% if helper_item %}
{{ class_container.generate_helper_definition(helper_item, host_element, mod_file, scene) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}

{%endmacro%}


{% macro generate_grid_scroller(grid) %}
[CommandList{{ grid.element_name }}_{{ grid.id }}Scroller]
$id = {{ grid.id }} + 1000
local $thumb_width = 50

local $container_pos_x = $positionX
local $container_pos_y = $positionY
local $container_width = ${{ grid.element_name }}SizeX
local $container_height = ${{ grid.element_name }}SizeY

$positionX = $container_pos_x
$positionY = $container_pos_y
$sizeX = $container_width
$sizeY = $rzmUIRenderSettings_ScrollBarThiccnkess

run = CommandListCoreFNUpdateHoverState
run = CommandListCoreFNHandleClick
run = CommandListCoreFNHandleHold

if $capturedID == $id || $clickTriggerID == $id
	local $target_scroll
	local $progress = ($cursorX - $positionX) / $sizeX
	if $progress < 0.0
		$progress = 0.0
	endif
	if $progress > 1.0
		$progress = 1.0
	endif
	$target_scroll = $progress

	if $clickTriggerID == $id
		${{ grid.element_name }}scroll = $target_scroll
	endif

	if $capturedID == $id
		if w33 > $holdThreshold
			local $current_scroll = ${{ grid.element_name }}scroll
			${{ grid.element_name }}scroll = $current_scroll + ($target_scroll - $current_scroll) * 0.4
		endif
	endif
endif

$colorR = 0.1
$colorG = 0.1
$colorB = 0.1
$colorA = 0.7
run = CustomShaderRCI2D

local $track_width = $sizeX - $thumb_width
if $track_width < 0
	$track_width = 0
endif
$positionX = $positionX + (${{ grid.element_name }}scroll * $track_width)
$sizeX = $thumb_width
$colorR = 0.8
$colorG = 0.8
$colorB = 0.8
$colorA = 0.7
run = CustomShaderRCI2D
$positionX = $container_pos_x
$positionY = $container_pos_y
$sizeX = $container_width
$sizeY = $container_height
{% endmacro %}

{% macro generate_slider_helper(element) %}
[CommandList{{ element.element_name }}_{{ element.id }}Helper]

{# --- MASTER из element.value_link[0] (если есть) --- #}
{% if element.value_link is defined and element.value_link|length > 0 %}
    {% set master = element.value_link[0] %}
    {% set master_name = master.value_name | default('') %}
    {% set master_min = master.value_min | default(0.0) | float %}
    {% set master_max = master.value_max | default(1.0) | float %}
    {% set master_var = '$' ~ utils.get_var_name(master_name, scene) %}
{% else %}
    {% set master = none %}
    {% set master_name = '' %}
    {% set master_min = 0.0 %}
    {% set master_max = 1.0 %}
    {% set master_var = '' %}
{% endif %}

local $TargetValue = ${{utils.get_var_name(master_name, scene)}}
local $range_span = {{ master_max }} - {{ master_min }}

if $capturedID == $id || $clickTriggerID == $id
    if $range_span > 0.0001
        {% set progress = "(($cursorX - $positionX) / $sizeX)" %}
        {% if element.slider_logic_invert_y %}
            {% set progress = "(1.0 - ($cursorY - $positionY) / $sizeY)" %}
        {% endif %}
        {% if element.slider_logic_invert_x %}
            {% set progress = "(1.0 - " ~ progress ~ ")" %}
        {% endif %}
        $TargetValue = {{ master_min }} + {{ progress }} * $range_span
    else
        $TargetValue = {{ master_min }}
    endif
endif

{# RZM_SLIDER_LIMIT: Привязка к динамическому диапазону min/max #}
if $TargetValue < {{ master_min }}
    $TargetValue = {{ master_min }}
else if $TargetValue > {{ master_max }}
    $TargetValue = {{ master_max }}
endif

local $smoothing_factor = 0.25

{% if master_name %}
    if {{ master_var }} != $TargetValue
        {{ master_var }} = {{ master_var }} + ($TargetValue - {{ master_var }}) * $smoothing_factor
    endif

    {# Gamepad управление для MASTER с учетом диапазона #}
    if $isGamepadEditing == 1 && $GamepadEditedID == $id
        local $tap_step = $range_span * 0.1
        local $hold_speed = $range_span * 0.5

        if $Gamepad_Interaction_Increase == 1
            if $Gamepad_Interaction_Type == 1
                {{ master_var }} = {{ master_var }} + $tap_step
            else if $Gamepad_Interaction_Type == 2
                {{ master_var }} = {{ master_var }} + ($hold_speed * $dt)
            endif
        else if $Gamepad_Interaction_Decrease == 1
            if $Gamepad_Interaction_Type == 1
                {{ master_var }} = {{ master_var }} - $tap_step
            else if $Gamepad_Interaction_Type == 2
                {{ master_var }} = {{ master_var }} - ($hold_speed * $dt)
            endif
        endif
    endif

    {# RZM_SLIDER_LIMIT: Финальная привязка MASTER к его min/max параметрам #}
    if {{ master_var }} > {{ master_max }}
        {{ master_var }} = {{ master_max }}
    else if {{ master_var }} < {{ master_min }}
        {{ master_var }} = {{ master_min }}
    endif
{% else %}
    {# Нет master — ничего не делаем (фоллбек) #}
{% endif %}

{# --- SLAVE: все остальные value_link копируют MASTER --- #}
{% if element.value_link is defined and element.value_link|length > 1 and master_name %}
    {% for slave in element.value_link[1:] %}
        {% set slave_name = slave.value_name | default('') %}
        {% if slave_name %}
${{ utils.get_var_name(slave_name, scene) }} = {{ master_var }}
        {% endif %}
    {% endfor %}
{% endif %}
{% endmacro %}

{% macro generate_vector_box_helper(element, scene) %}
[CommandList{{ element.element_name }}_{{ element.id }}Helper]
{# --- VECTOR BOX LOGIC --- #}
{% if element.value_link is defined and element.value_link|length > 0 %}
    {% set links = element.value_link %}
    {% if links|length > 1 %}
        {# First link is indexer #}
        {% set index_link = links[0] %}
        {% set index_var = '$' ~ utils.get_var_name(index_link.value_name, scene) %}
        {% set targets = links[1:] %}
    {% else %}
        {# Only one link, no indexer #}
        {% set index_var = none %}
        {% set targets = links %}
    {% endif %}

    {# Working variables (Local) #}
    local $VB_X = 0
    local $VB_Y = 0
    local $VB_Z = 0
    local $VB_W = 0

    {# Read from current target #}
    {% for target in targets %}
        {% set target_base = utils.get_var_name(target.value_name, scene, false) %}
        {% if index_var %}
    if {{ index_var }} == {{ loop.index0 }}
        {% endif %}
    $VB_X = ${{ target_base }}_X
    $VB_Y = ${{ target_base }}_Y
    $VB_Z = ${{ target_base }}_Z
    $VB_W = ${{ target_base }}_W
        {% if index_var %}
    endif
        {% endif %}
    {% endfor %}

    {# Interaction #}
    {% if not element.disable_default_xy %}
    if $capturedID == $id
        {% set first_target = targets[0] if targets else none %}
        {% set x_min = first_target.value_min | default(0.0) if first_target else 0.0 %}
        {% set x_max = first_target.value_max | default(1.0) if first_target else 1.0 %}
        {% set y_min = first_target.value_min | default(0.0) if first_target else 0.0 %}
        {% set y_max = first_target.value_max | default(1.0) if first_target else 1.0 %}

        $VB_X = {{ x_min }} + (($cursorX - $positionX) / $sizeX) * ({{ x_max }} - {{ x_min }})
        $VB_Y = {{ y_min }} + (1.0 - ($cursorY - $positionY) / $sizeY) * ({{ y_max }} - {{ y_min }})

        {# Clamp #}
        if $VB_X < {{ x_min }}
            $VB_X = {{ x_min }}
        else if $VB_X > {{ x_max }}
            $VB_X = {{ x_max }}
        endif
        if $VB_Y < {{ y_min }}
            $VB_Y = {{ y_min }}
        else if $VB_Y > {{ y_max }}
            $VB_Y = {{ y_max }}
        endif
    endif
    {% endif %}

    {# Exposure to Event Formula - using specific local vars $_X, $_Y, $_Z, $_W as requested #}
    local $_X = $VB_X
    local $_Y = $VB_Y
    local $_Z = $VB_Z
    local $_W = $VB_W

    {% if element.event_formula %}
    {{ utils.normalize_all_vars(element.event_formula, element, scene) }}
    {% endif %}

    {# Sync back to working vars #}
    $VB_X = $_X
    $VB_Y = $_Y
    $VB_Z = $_Z
    $VB_W = $_W

    {# Global Controllers (requested for large link counts) #}
    {% if links|length > 3 %}
    ${{ element.element_name }}_X = $VB_X
    ${{ element.element_name }}_Y = $VB_Y
    ${{ element.element_name }}_Z = $VB_Z
    ${{ element.element_name }}_W = $VB_W
    {% endif %}

    {# Write Back to Targets #}
    {% for target in targets %}
        {% set target_base = utils.get_var_name(target.value_name, scene, false) %}
        {% if index_var %}
    if {{ index_var }} == {{ loop.index0 }}
        {% endif %}
    ${{ target_base }} = $VB_X
    ${{ target_base }} = $VB_Y
    ${{ target_base }} = $VB_Z
    ${{ target_base }} = $VB_W
        {% if index_var %}
    endif
        {% endif %}
    {% endfor %}
{% endif %}
{% endmacro %}
