{% import "modules/elements.j2" as elements with context %}
{% import "modules/utils.j2" as utils with context %}

{% import "modules/debug_snippet.j2" as debug_snippet with context %}


{%macro generate_addons(mod_file,scene)%}
{% if scene.rzm.addons %}
;Addons Activity

{% if scene.rzm.addons.debugger_info == 1 %}
[Constants]
global persist $RZM_DEBUG_VALUE_0 = {{ scene.rzm.addons.debug_var_0 if scene.rzm.addons.debug_var_0 else "0" }}
global persist $RZM_DEBUG_VALUE_1 = {{ scene.rzm.addons.debug_var_1 if scene.rzm.addons.debug_var_1 else "0" }}
global persist $RZM_DEBUG_VALUE_2 = {{ scene.rzm.addons.debug_var_2 if scene.rzm.addons.debug_var_2 else "0" }}
global persist $RZM_DEBUG_VALUE_3 = {{ scene.rzm.addons.debug_var_3 if scene.rzm.addons.debug_var_3 else "0" }}
global persist $RZM_DEBUG_VALUE_4 = {{ scene.rzm.addons.debug_var_4 if scene.rzm.addons.debug_var_4 else "0" }}
global persist $RZM_DEBUG_VALUE_5 = {{ scene.rzm.addons.debug_var_5 if scene.rzm.addons.debug_var_5 else "0" }}
global persist $RZM_DEBUG_VALUE_6 = {{ scene.rzm.addons.debug_var_6 if scene.rzm.addons.debug_var_6 else "0" }}
global persist $RZM_DEBUG_VALUE_7 = {{ scene.rzm.addons.debug_var_7 if scene.rzm.addons.debug_var_7 else "0" }}

[CommandListElementDebug]
; Hover ID Debug
$drawType = 4
$PositionX = 200
$PositionY = -64
$sizeX = (1000) * $sizeMultiplier
$sizeY = (100) * $sizeMultiplier
$colorR = 1
$colorG = 0
$colorB = 1
$colorA = 1
$TexPosX = $hoveredID
run = CustomShaderRCI2D

{% for i in range(8) %}
$PositionY = $PositionY + 100
$TexPosX = $RZM_DEBUG_VALUE_{{ i }}
run = CustomShaderRCI2D
{% endfor %}

{{debug_snippet.debug_snippet()}}
{% endif %}

{% if scene.rzm.addons.sandevistan_zzz == 1 %}
[Constants]
global $Sandevistan_Speed = 32
global $Sandevistan_length = 128
global $SandevistanTime = 0
global $SandevistanTimer = 0
global $Sandevistan_current_index = 0
global $Sandevistan_Base_Interval = 1

[Present]
if $first_run
	$SandevistanTime = time + ($Sandevistan_Base_Interval / ($Sandevistan_Speed * $movement_multiplier))
endif 

[CustomShaderSandevistan]
vs = /modules/trace_vs_Sandevistan.hlsl
ps = /modules/trace_ps_Sandevistan.hlsl
; ps = ps2.hlsl
x0 = $CDC_Sandevistan
x1 = $Sandevistan_length
x2 = $Sandevistan_current_index
vs-t1 = Resource_Sandevistan_MERGED_VB0
vs-t127 = Resource_Sandevistan_Buffer

drawindexedinstanced = $CDC_Sandevistan, $Sandevistan_length, $CDO_Sandevistan, 0, 0
run = CommandListSwapC0

[Constants]
global $movement_trigger
global $movement_trigger_t
global $movement_multiplier = 1
global $blending_threshold = 0.05

[CustomShaderComputeSandevistan]
cs = /modules/ouroboros_position_record.hlsl
cs-u0 = Resource_Sandevistan_Buffer
cs-cb1 = vs-cb1
x1 = $Sandevistan_length
x2 = $Sandevistan_current_index
dispatch = 1, 1, 1

[CustomShaderTriggerSandevistan]
cs = /modules/ouroboros_position_trigger.hlsl
cs-u0 = ResourceMovementTriggerOutput
cs-cb1 = vs-cb1
dispatch = 1, 1, 1
store = $movement_trigger_t, ResourceMovementTriggerOutput, 8
$movement_trigger = $movement_trigger + ($movement_trigger_t - $movement_trigger) * $dt
if $movement_trigger >= -10 && $movement_trigger < 0.5
	$movement_multiplier = 1
elif $movement_trigger >= 0.5 && $movement_trigger < 1.0
	$movement_multiplier = 2
elif $movement_trigger >= 1.0
	$movement_multiplier = 3
endif

[ResourceMovementTriggerOutput]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 3

[CommandListSwapC0]
run = CustomShaderTriggerSandevistan
if (time) >= $SandevistanTime
	run = CustomShaderComputeSandevistan
	run = CustomShaderWriteSandevistan
	$SandevistanTime = time + ($Sandevistan_Base_Interval / ($Sandevistan_Speed * $movement_multiplier))
	run = CustomShaderComputeSandevistan
	run = CustomShaderWriteSandevistan
endif
;Buffer Record Logic

[CustomShaderWriteSandevistan]
cs-t0 = vb0
cs-u0 = ResourceOutput
cs = /modules/ouroboros_buffer_record.hlsl
x0 = $CDC_Sandevistan
x1 = $Sandevistan_length
x2 = $Sandevistan_current_index
dispatch = $CDC_Sandevistan + 1023 // 1024, 1, 1
Resource_Sandevistan_MERGED_VB0 = cs-u0
$Sandevistan_current_index = $Sandevistan_current_index + 1
if $Sandevistan_current_index > $Sandevistan_length
	$Sandevistan_current_index = 0
endif

[Resource_Sandevistan_MERGED_VB0]

[Resource_Sandevistan_Buffer]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 512

[ResourceOutput]
type = RWStructuredBuffer
stride = 40
;VertexCount * $Sandevistan_length
array = 1327104
{% endif %}
{% endif %}
{%endmacro%}