{% import "rayvich/parser.j2" as global %}
{% import "rayvich/static_menu.j2" as static_menu %}
{% import "rayvich/modules.j2" as modules %}
{% import "rayvich/custom_draw.j2" as custom_draw %}
{% import "modules/elements.j2" as elements %}

{%macro generate_addons(mod_file,scene)%}
{% if scene.rzm.addons %}
;Addons Activity

{% if scene.rzm.addons.debugger_info == 1 %}
[CommandListElementDebug]
;HoverID Debug
$drawType = 4
$PositionX = 0
$PositionY = 0
$sizeX = (100) * $sizeMultiplier
$sizeY = (100) * $sizeMultiplier
$colorR = 10
$colorG = 0
$colorB = 10
$colorA = 10
$TexPosX = $hoveredID

run = CustomShaderRCI2D
{% endif %}

{% if scene.rzm.addons.tw_resources %}
;tw_resources

{% for texres in scene.rzm.addons.tw_resources %}
		[Resource{{texres.tex_name}}]
		filename = tex\{{ texres.tex_path.split('\\')[-1] if '.' in texres.tex_path.split('\\')[-1] else texres.tex_path.split('\\')[-1] ~ '.dds' }}
		{% if texres.tex_resource_type == 0 %}
		{% elif texres.tex_resource_type == 1 %}
		{% endif %}
{% endfor %}

{% for textype in scene.rzm.addons.tw_texture_configs %}
	{% set current_textype = textype.tw_config_name | default('ErrorVal') %}
	{% for texres in scene.rzm.addons.tw_resources %}
		{% if texres.tex_resource_type == 0 %}
		{% elif texres.tex_resource_type == 1 %}
		{%else%}
		[Resource{{texres.tex_name}}{{current_textype}}]
		;type = RWTexture2D
		;width = {{textype.tw_atlas_settings.tw_width | default('4096') | int }}
		;height = {{textype.tw_atlas_settings.tw_height | default('4096') | int}}
		;format = {{textype.tw_atlas_settings.tw_format | default('DXGI_FORMAT_R8G8B8A8_TYPELESS') | string}}
		;array = 1
		;msaa = 1
		;mips = 1
		{% endif %}
	{% endfor %}
{% endfor %}

{% endif %}

{% if scene.rzm.addons.tw_overrides %}
;tw_overrides
	{% for override in scene.rzm.addons.tw_overrides%}
		[TextureOverride{{override.tex_name}}]
		hash = {{override.tex_hash}}
		{% if mod_file.game.name == "ZenlessZoneZero"%}
		ps-t3 = Resource{{override.tex_resource_name}}
		{% else %}
		if this != null
		this = Resource{{override.tex_resource_name}}
		else
		ps-t1 = Resource{{override.tex_resource_name}}
		endif
		{% endif %}
	{% endfor %}

{% endif %}

{% if scene.rzm.addons.tex_works == 1 %}
{% if scene.rzm.addons.tw_texture_configs and scene.rzm.addons.tw_textures %}

{# --- 1. ГЕНЕРАЦИЯ ПЕРЕМЕННЫХ ДЛЯ MORPH и HSV --- #}
{# Этот блок создает локальные переменные, если они не были привязаны к глобальным #}
{% for texture in scene.rzm.addons.tw_textures %}
	{# Создаем переменную для Morph, если она нужна и не привязана #}
	{% if texture.tw_use_morph and not texture.tw_morph_value_link %}
[ResourceVar_{{ texture.tw_name }}_Morph]
type = Buffer
format = DXGI_FORMAT_R32_FLOAT
stride = 4
count = 1

[CommandListVar_{{ texture.tw_name }}_Morph]
run = CustomShaderVar_{{ texture.tw_name }}_Morph
	{% endif %}
	{# Создаем переменную для HSV, если она нужна и не привязана #}
	{% if texture.tw_use_hsv and not texture.tw_hsv_value_link %}
[ResourceVar_{{ texture.tw_name }}_HSV]
type = Buffer
format = DXGI_FORMAT_R32_FLOAT
stride = 4
count = 1

[CommandListVar_{{ texture.tw_name }}_HSV]
run = CustomShaderVar_{{ texture.tw_name }}_HSV
	{% endif %}
{% endfor %}


[CommandListAddonsTexWorks]
{% for config in scene.rzm.addons.tw_texture_configs %}
	{% for texture in scene.rzm.addons.tw_textures %}
		run = CustomShaderUpdate{{ texture.tw_name }}{{ config.tw_config_name }}
		{% if texture.tw_use_morph %}
		run = CustomShaderMorph{{ texture.tw_name }}{{ config.tw_config_name }}
		{% endif %}
		{% if texture.tw_use_hsv %}
		run = CustomShaderHSV{{ texture.tw_name }}{{ config.tw_config_name }}
		{% endif %}
		{% if texture.tw_use_decal_tattoo %}
		run = CommandListDecalTattooUpdate
		run = CustomShaderTattoo{{ texture.tw_name }}{{ config.tw_config_name }}
		{% endif %}
		{% if texture.tw_use_decal_fluid %}
		run = CustomShaderfluid{{ texture.tw_name }}{{ config.tw_config_name }}
		{% endif %}
	{% endfor %}
{% endfor %}


{# --- 3. ШЕЙДЕРЫ ДЛЯ КОПИРОВАНИЯ И ОБРАБОТКИ --- #}
{% for config in scene.rzm.addons.tw_texture_configs %}
	{% for texture in scene.rzm.addons.tw_textures %}
		{% if texture.tw_base_resource_name %}
		;Custom Resource Name: {{texture.tw_base_resource_name}}
		{% else %}
		[Resource{{texture.tw_name }}{{config.tw_config_name}}]
		filename = tex/{{texture.tw_name}}{{config.tw_config_name}}.dds
		{% endif %}
		{# 3.1. Базовое копирование из исходной текстуры в атлас #}
		[CustomShaderUpdate{{ texture.tw_name }}{{ config.tw_config_name }}]
		cs = /modules/texworks/cs_update_region.hlsl
		cs-u0 = ref ResourceAtlas{{ config.tw_config_name }}
		{% if texture.tw_base_resource_name %}
		cs-t0 = Resource{{texture.tw_base_resource_name}}
		{% else %}
		cs-t0 = Resource{{ texture.tw_name }}{{ config.tw_config_name }}
		{% endif %}
		x44 = {{ (((texture | default({})).tw_position | default([0,0]))[0]) }}
		y44 = {{ (((texture | default({})).tw_position | default([0,0]))[1]) }}
		z44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[0]) }}
		w44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}
		dispatch = {{ ((texture.tw_size | default([1024,1024]))[0] ) }} // 32, {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}//32, 1

		{# 3.2. Морфинг (если включен) #}
		{% if texture.tw_use_morph %}
		[CustomShaderMorph{{ texture.tw_name }}{{ config.tw_config_name }}]
		cs = /modules/texworks/cs_morph.hlsl
		cs-u0 = ref ResourceAtlas{{ config.tw_config_name }}
		cs-t0 = Resource{{ texture.tw_morph_target_name }}{{ config.tw_config_name }}
		cs-cb0 = {% if texture.tw_morph_value_link %}{{ texture.tw_morph_value_link }}{% else %}ResourceVar_{{ texture.tw_name }}_Morph{% endif %} 
		x44 = {{ (((texture | default({})).tw_position | default([0,0]))[0]) }}
		y44 = {{ (((texture | default({})).tw_position | default([0,0]))[1]) }}
		z44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[0]) }}
		w44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}
		dispatch = {{ ((texture.tw_size | default([1024,1024]))[0] ) }} // 32, {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}//32, 1{% endif %}

		{# 3.3. HSV Коррекция (если включена) #}
		{% if texture.tw_use_hsv %}
		[CustomShaderHSV{{ texture.tw_name }}{{ config.tw_config_name }}]
		cs = /modules/texworks/cs_hsv_{{ "masked" if texture.tw_hsv_mode == 'MASKED' else "unmasked" }}.hlsl
		cs-u0 = ref ResourceAtlas{{ config.tw_config_name }}
		cs-cb0 = {% if texture.tw_hsv_value_link %}{{ texture.tw_hsv_value_link }}{% else %}ResourceVar_{{ texture.tw_name }}_HSV{% endif %} 
		x44 = {{ (((texture | default({})).tw_position | default([0,0]))[0]) }}
		y44 = {{ (((texture | default({})).tw_position | default([0,0]))[1]) }}
		z44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[0]) }}
		w44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}
		dispatch = {{ ((texture.tw_size | default([1024,1024]))[0] ) }} // 32, {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}//32, 1
		{% endif %}

		{# 3.4. Декаль Тату (если включена) #}
		{% if texture.tw_use_decal_tattoo %}
		[Constants]
		global persist $DecalTattooPubic0Index
		global persist $DecalTattooBoobs0Index
		global persist $DecalTattooBoobs1Index
		global persist $DecalTattooButt0Index
		global persist $DecalTattooButt1Index
		global persist $DecalTattooButt2Index
		global $DecalTattooPubic0PastIndex
		global $DecalTattooBoobs0PastIndex
		global $DecalTattooBoobs1PastIndex
		global $DecalTattooButt0PastIndex
		global $DecalTattooButt1PastIndex
		global $DecalTattooButt2PastIndex
		[CommandListTexWorkCheckChanges]
		post $DecalTattooPubic0PastIndex = $DecalTattooPubic0Index
		post $DecalTattooBoobs0PastIndex = $DecalTattooBoobs0Index
		post $DecalTattooBoobs1PastIndex = $DecalTattooBoobs1Index
		post $DecalTattooButt0PastIndex = $DecalTattooButt0Index
		post $DecalTattooButt1PastIndex = $DecalTattooButt1Index
		post $DecalTattooButt2PastIndex = $DecalTattooButt2Index
		if $DecalTattooPubic0PastIndex != $DecalTattooPubic0Index
			run = CommandListAddonsTexWorks
		endif
		if $DecalTattooBoobs0PastIndex != $DecalTattooBoobs0Index
			run = CommandListAddonsTexWorks
		endif
		if $DecalTattooBoobs1PastIndex != $DecalTattooBoobs1Index
			run = CommandListAddonsTexWorks
		endif
		if $DecalTattooButt0PastIndex != $DecalTattooButt0Index
			run = CommandListAddonsTexWorks
		endif
		if $DecalTattooButt1PastIndex != $DecalTattooButt1Index
			run = CommandListAddonsTexWorks
		endif
		if $DecalTattooButt2PastIndex != $DecalTattooButt2Index
			run = CommandListAddonsTexWorks
		endif

		;Правильно
		[KeyTestDecal0]
		key = 1
		type = hold
		run = CommandListDecalTattooPubicSet

		[CommandListDecalTattooPubicSet]
		if $DecalTattooPubic0Index <= 7
		$DecalTattooPubic0Index = $DecalTattooPubic0Index + 1
		elif $DecalTattooPubic0Index > 7
		$DecalTattooPubic0Index = -1
		endif
		run = CommandListAddonsTexWorks

		;Правильно - исправленные кнопки
		[KeyTestDecal2]
		key = 2
		type = hold
		run = CommandListDecalTattooBoobs0Set

		[CommandListDecalTattooBoobs0Set]
		if $DecalTattooBoobs0Index <= 7
		$DecalTattooBoobs0Index = $DecalTattooBoobs0Index + 1
		elif $DecalTattooBoobs0Index > 7
		$DecalTattooBoobs0Index = -1
		endif
		run = CommandListAddonsTexWorks

		[KeyTestDecal3]
		key = 3
		type = hold
		run = CommandListDecalTattooBoobs1Set

		[CommandListDecalTattooBoobs1Set]
		if $DecalTattooBoobs1Index <= 7
		$DecalTattooBoobs1Index = $DecalTattooBoobs1Index + 1
		elif $DecalTattooBoobs1Index > 7
		$DecalTattooBoobs1Index = -1
		endif
		run = CommandListAddonsTexWorks

		[KeyTestDecal4]
		key = 4
		type = hold
		run = CommandListDecalTattooButt0Set

		[CommandListDecalTattooButt0Set]
		if $DecalTattooButt0Index <= 7
		$DecalTattooButt0Index = $DecalTattooButt0Index + 1
		elif $DecalTattooButt0Index > 7
		$DecalTattooButt0Index = -1
		endif
		run = CommandListAddonsTexWorks

		[KeyTestDecal5]
		key = 5
		type = hold
		run = CommandListDecalTattooButt1Set

		[CommandListDecalTattooButt1Set]
		if $DecalTattooButt1Index <= 7
		$DecalTattooButt1Index = $DecalTattooButt1Index + 1
		elif $DecalTattooButt1Index > 7
		$DecalTattooButt1Index = -1
		endif
		run = CommandListAddonsTexWorks

		[KeyTestDecal6]
		key = 6
		type = hold
		run = CommandListDecalTattooButt2Set

		[CommandListDecalTattooButt2Set]
		if $DecalTattooButt2Index <= 4
		$DecalTattooButt2Index = $DecalTattooButt2Index + 1
		elif $DecalTattooButt2Index > 4
		$DecalTattooButt2Index = -1
		endif
		run = CommandListAddonsTexWorks
		[CommandListDecalTattooUpdate]
		run = CommandListDecalTattooPubicCompute
		run = CommandListDecalTattooBoobsLeftCompute
		run = CommandListDecalTattooBoobsRightCompute
		run = CommandListDecalTattooButtLeftCompute
		run = CommandListDecalTattooButtRightCompute
		run = CommandListDecalTattooButtCenterCompute
		[CommandListDecalTattooPubicCompute]
		x70 = 0
		y70 = $DecalTattooPubic0Index
		run = CustomShaderDecalTattooController
		x70 = 1
		y70 = $DecalTattooPubic0Index
		run = CustomShaderDecalTattooController
		[CommandListDecalTattooBoobsLeftCompute]
		x70 = 2
		y70 = $DecalTattooBoobs0Index
		run = CustomShaderDecalTattooController
		[CommandListDecalTattooBoobsRightCompute]
		x70 = 3
		y70 = $DecalTattooBoobs1Index
		run = CustomShaderDecalTattooController
		[CommandListDecalTattooButtLeftCompute]
		x70 = 4
		y70 = $DecalTattooButt0Index
		run = CustomShaderDecalTattooController
		[CommandListDecalTattooButtRightCompute]
		x70 = 5
		y70 = $DecalTattooButt1Index
		run = CustomShaderDecalTattooController
		[CommandListDecalTattooButtCenterCompute]
		x70 = 6
		y70 = $DecalTattooButt2Index
		run = CustomShaderDecalTattooController
		[CustomShaderDecalTattooController]
		cs-u0 = ResourceDecalTattooDataBuffer
		cs = /modules/texworks/tattoo/decal_compute.hlsl
		dispatch = 1, 1, 1
		[ResourceDecalTattooDataBuffer]
		type = RWBuffer
		format = R32G32_UINT
		array = 16
		[ResourceDecalPubicMask]
		filename = /modules/texworks/tattoo/pubic_mask.png
		[ResourceTattooPubic]
		filename = /modules/texworks/tattoo/pubic.png
		[ResourceTattooBoobs]
		filename = /modules/texworks/tattoo/boobs.png
		[ResourceTattooButt]
		filename = /modules/texworks/tattoo/butt.png
		[ResourceTattooButtUP]
		filename = /modules/texworks/tattoo/butt_up.png
		[CustomShaderTattoo{{ texture.tw_name }}{{ config.tw_config_name }}]
		run = CustomShaderDecalTattooController
		cs = /modules/texworks/tattoo/decal_draw.hlsl
		cs-u0 = ResourceAtlasDiffuse
		cs-t1 = ResourceDecalTattooDataBuffer
		cs-t2 = ResourceDecalPubicMask
		cs-t60 = ResourceTattooPubic 
		cs-t61 = ResourceTattooBoobs
		cs-t62 = ResourceTattooButt
		cs-t63 = ResourceTattooButtUP
		x44 = {{ (((texture | default({})).tw_position | default([0,0]))[0]) }}
		y44 = {{ (((texture | default({})).tw_position | default([0,0]))[1]) }}
		z44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[0]) }}
		w44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}
		dispatch = {{ ((texture.tw_size | default([1024,1024]))[0] ) }} // 32, {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}//32, 1
		{% endif %}
		
		{# 3.5. Декаль Кам (если включена) #}
		{% if texture.tw_use_decal_fluid %}
		[CustomShaderfluid{{ texture.tw_name }}{{ config.tw_config_name }}]
		cs = /modules/texworks/cs_fluid_instancer.hlsl
		; ... параметры для шейдера кам ...
		{% endif %}

	{% endfor %}
{% endfor %}

{# --- 4. ОПРЕДЕЛЕНИЕ АТЛАСОВ --- #}
{# Теперь все параметры берутся из глобальных настроек #}
{% for config in scene.rzm.addons.tw_texture_configs %}
[ResourceAtlas{{ config.tw_config_name }}]
type = RWTexture2D
width = {{ config.tw_atlas_settings.tw_width | default(4096) }}
height = {{ config.tw_atlas_settings.tw_height | default(4096) }}
format = {{ config.tw_atlas_settings.tw_format | default('DXGI_FORMAT_R8G8B8A8_TYPELESS') }}
array = 1
msaa = 1
mips = 1
{% endfor %}

{% else %}
[CommandListAddonsTexWorks]
;ERROR: No TexWorks Textures Defined
[CommandListAddonsFaceTexWorks]
;ERROR: No Face TexWorks Textures Defined
[ResourceAtlasDiffuse]
{% endif %}
{% endif %}

{% if scene.rzm.addons.tex_morph == 1 %};texMorph
{% endif %}
{% if scene.rzm.addons.tex_ripper == 1 %};texRipper
{% endif %}
{% if scene.rzm.addons.tex_decal_tattoo == 1 %};texDecalTattoo
{% endif %}
{% if scene.rzm.addons.tex_decal_fluid == 1 %};texDecalfluid
{% endif %}
{% if scene.rzm.addons.tex_hsv_masked == 1 %};texHSVMasked
{% endif %}
{% if scene.rzm.addons.vfx == 1 %};vfx
{% endif %}
{% if scene.rzm.addons.shape_morph == 1 %};shapeMorph
{% endif %}
{% if scene.rzm.addons.shape_morph_anim == 1 %};shapeMorphAnim
{% endif %}
{% if scene.rzm.addons.shape_morph_jiggle == 1 %};shapeMorphJiggle
{% endif %}
{% if scene.rzm.addons.dtoggle_compute == 1 %};dToggleCompute
{% endif %}
{% if scene.rzm.addons.rtoggle_compute == 1 %};rToggleCompute
{% endif %}
{% if scene.rzm.addons.Sandevistan_gi == 1 %};Sandevistan_GI
{% endif %}
{% if scene.rzm.addons.sandevistan_zzz == 1 %}
[Constants]
global $Sandevistan_Speed = 32
global $Sandevistan_length = 128
global $SandevistanTime = 0
global $SandevistanTimer = 0
global $Sandevistan_current_index = 0
global $Sandevistan_Base_Interval = 1

[Present]
if $first_run
	$SandevistanTime = time + ($Sandevistan_Base_Interval / ($Sandevistan_Speed * $movement_multiplier))
endif 

[CustomShaderSandevistan]
vs = /modules/trace_vs_Sandevistan.hlsl
ps = /modules/trace_ps_Sandevistan.hlsl
; ps = ps2.hlsl
x0 = $CDC_Sandevistan
x1 = $Sandevistan_length
x2 = $Sandevistan_current_index
vs-t1 = Resource_Sandevistan_MERGED_VB0
vs-t127 = Resource_Sandevistan_Buffer

drawindexedinstanced = $CDC_Sandevistan, $Sandevistan_length, $CDO_Sandevistan, 0, 0
run = CommandListSwapC0

[Constants]
global $movement_trigger
global $movement_trigger_t
global $movement_multiplier = 1
global $blending_threshold = 0.05

[CustomShaderComputeSandevistan]
cs = /modules/ouroboros_position_record.hlsl
cs-u0 = Resource_Sandevistan_Buffer
cs-cb1 = vs-cb1
x1 = $Sandevistan_length
x2 = $Sandevistan_current_index
dispatch = 1, 1, 1

[CustomShaderTriggerSandevistan]
cs = /modules/ouroboros_position_trigger.hlsl
cs-u0 = ResourceMovementTriggerOutput
cs-cb1 = vs-cb1
dispatch = 1, 1, 1
store = $movement_trigger_t, ResourceMovementTriggerOutput, 8
$movement_trigger = $movement_trigger + ($movement_trigger_t - $movement_trigger) * $dt
if $movement_trigger >= -10 && $movement_trigger < 0.5
	$movement_multiplier = 1
elif $movement_trigger >= 0.5 && $movement_trigger < 1.0
	$movement_multiplier = 2
elif $movement_trigger >= 1.0
	$movement_multiplier = 3
endif

[ResourceMovementTriggerOutput]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 3

[CommandListSwapC0]
run = CustomShaderTriggerSandevistan
if (time) >= $SandevistanTime
	run = CustomShaderComputeSandevistan
	run = CustomShaderWriteSandevistan
	$SandevistanTime = time + ($Sandevistan_Base_Interval / ($Sandevistan_Speed * $movement_multiplier))
	run = CustomShaderComputeSandevistan
	run = CustomShaderWriteSandevistan
endif
;Buffer Record Logic

[CustomShaderWriteSandevistan]
cs-t0 = vb0
cs-u0 = ResourceOutput
cs = /modules/ouroboros_buffer_record.hlsl
x0 = $CDC_Sandevistan
x1 = $Sandevistan_length
x2 = $Sandevistan_current_index
dispatch = $CDC_Sandevistan + 1023 // 1024, 1, 1
Resource_Sandevistan_MERGED_VB0 = cs-u0
$Sandevistan_current_index = $Sandevistan_current_index + 1
if $Sandevistan_current_index > $Sandevistan_length
	$Sandevistan_current_index = 0
endif

[Resource_Sandevistan_MERGED_VB0]

[Resource_Sandevistan_Buffer]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 512

[ResourceOutput]
type = RWStructuredBuffer
stride = 40
;VertexCount * $Sandevistan_length
array = 1327104
{% endif %}

{% endif %}
{%endmacro%}