{% import "rayvich/parser.j2" as global %}
{% import "rayvich/static_menu.j2" as static_menu %}
{% import "rayvich/modules.j2" as modules %}
{% import "rayvich/custom_draw.j2" as custom_draw %}
{% import "modules/elements.j2" as elements %}

{%macro generate_addons(mod_file,scene)%}
{% if scene.rzm.addons %}
;Addons Activity

{% if scene.rzm.addons.debugger_info == 1 %}
[CommandListElementDebug]
;HoverID Debug
$drawType = 4
$PositionX = 0
$PositionY = 0
$sizeX = (100) * $sizeMultiplier
$sizeY = (100) * $sizeMultiplier
$colorR = 10
$colorG = 0
$colorB = 10
$colorA = 10
$TexPosX = $hoveredID

run = CustomShaderRCI2D
{% endif %}

{% if scene.rzm.addons.tw_resources %}
;tw_resources

{% for texres in scene.rzm.addons.tw_resources %}
		[Resource{{texres.tex_name}}]
		filename = tex\{{ texres.tex_path.split('\\')[-1] if '.' in texres.tex_path.split('\\')[-1] else texres.tex_path.split('\\')[-1] ~ '.dds' }}
		{% if texres.tex_resource_type == 0 %}
		{% elif texres.tex_resource_type == 1 %}
		{% endif %}
{% endfor %}

{% for textype in scene.rzm.addons.tw_texture_configs %}
	{% set current_textype = textype.tw_config_name | default('ErrorVal') %}
	{% for texres in scene.rzm.addons.tw_resources %}
		{% if texres.tex_resource_type == 0 %}
		{% elif texres.tex_resource_type == 1 %}
		{%else%}
		[Resource{{texres.tex_name}}{{current_textype}}]
		;type = RWTexture2D
		;width = {{textype.tw_atlas_settings.tw_width | default('4096') | int }}
		;height = {{textype.tw_atlas_settings.tw_height | default('4096') | int}}
		;format = {{textype.tw_atlas_settings.tw_format | default('DXGI_FORMAT_R8G8B8A8_TYPELESS') | string}}
		;array = 1
		;msaa = 1
		;mips = 1
		{% endif %}
	{% endfor %}
{% endfor %}

{% endif %}

{% if scene.rzm.addons.tw_overrides %}
	{% for override in scene.rzm.addons.tw_overrides %}
		[TextureOverride{{override.tex_name}}]
		hash = {{override.tex_hash}}
		this = Resource{{override.tex_resource_name}}
		run = CommandListSafeTexWorks.{{override.tex_resource_name}}.CHECK
	{% endfor %}

	{% set unique_resources = scene.rzm.addons.tw_overrides | map(attribute='tex_resource_name') | unique %}

	{% for res_name in unique_resources %}
		[CommandListSafeTexWorks.{{res_name}}.CHECK]
		local $isInit = 0
		if this === null && $isInit == 0
			this = copy Resource{{res_name}}
			$isInit = 1
		endif
	{% endfor %}
{% endif %}

{% if scene.rzm.addons.tex_works == 1 %}
{% if scene.rzm.addons.tw_texture_configs and scene.rzm.addons.tw_textures %}

{# --- 1. ГЕНЕРАЦИЯ ПЕРЕМЕННЫХ ДЛЯ MORPH и HSV --- #}
{# Этот блок создает локальные переменные, если они не были привязаны к глобальным #}
{% for texture in scene.rzm.addons.tw_textures %}
	{# Создаем переменную для Morph, если она нужна и не привязана #}
	{% if texture.tw_use_morph and not texture.tw_morph_value_link %}
[ResourceVar_{{ texture.tw_name }}_Morph]
type = Buffer
format = DXGI_FORMAT_R32_FLOAT
stride = 4
count = 1

[CommandListVar_{{ texture.tw_name }}_Morph]
run = CustomShaderVar_{{ texture.tw_name }}_Morph
	{% endif %}
	{# Создаем переменную для HSV, если она нужна и не привязана #}
	{% if texture.tw_use_hsv and not texture.tw_hsv_value_link %}
[ResourceVar_{{ texture.tw_name }}_HSV]
type = Buffer
format = DXGI_FORMAT_R32_FLOAT
stride = 4
count = 1

[CommandListVar_{{ texture.tw_name }}_HSV]
run = CustomShaderVar_{{ texture.tw_name }}_HSV
	{% endif %}
{% endfor %}


[CommandListAddonsTexWorks]
{% for config in scene.rzm.addons.tw_texture_configs %}
	{% for texture in scene.rzm.addons.tw_textures %}
		run = CustomShaderUpdate{{ texture.tw_name }}{{ config.tw_config_name }}
		{% if texture.tw_use_morph %}
		run = CustomShaderMorph{{ texture.tw_name }}{{ config.tw_config_name }}
		{% endif %}
		{% if texture.tw_use_hsv %}
		run = CustomShaderHSV{{ texture.tw_name }}{{ config.tw_config_name }}
		{% endif %}
		{% if texture.tw_use_decal_tattoo %}
		run = CommandListDecalTattooUpdate
		run = CustomShaderTattoo{{ texture.tw_name }}{{ config.tw_config_name }}
		{% endif %}
		{% if texture.tw_use_decal_fluid %}
		run = CustomShaderfluid{{ texture.tw_name }}{{ config.tw_config_name }}
		{% endif %}
	{% endfor %}
{% endfor %}


{# --- 3. ШЕЙДЕРЫ ДЛЯ КОПИРОВАНИЯ И ОБРАБОТКИ --- #}
{% for config in scene.rzm.addons.tw_texture_configs %}
	{% for texture in scene.rzm.addons.tw_textures %}
		{% if texture.tw_base_resource_name %}
		;Custom Resource Name: {{texture.tw_base_resource_name}}
		{% else %}
		[Resource{{texture.tw_name }}{{config.tw_config_name}}]
		filename = tex/{{texture.tw_name}}{{config.tw_config_name}}.dds
		{% endif %}
		{# 3.1. Базовое копирование из исходной текстуры в атлас #}
		[CustomShaderUpdate{{ texture.tw_name }}{{ config.tw_config_name }}]
		cs = /modules/texworks/cs_update_region.hlsl
		cs-u0 = ref ResourceAtlas{{ config.tw_config_name }}
		{% if texture.tw_base_resource_name %}
		cs-t0 = Resource{{texture.tw_base_resource_name}}
		{% else %}
		cs-t0 = Resource{{ texture.tw_name }}{{ config.tw_config_name }}
		{% endif %}
		x44 = {{ (((texture | default({})).tw_position | default([0,0]))[0]) }}
		y44 = {{ (((texture | default({})).tw_position | default([0,0]))[1]) }}
		z44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[0]) }}
		w44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}
		dispatch = {{ ((texture.tw_size | default([1024,1024]))[0] ) }} // 32, {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}//32, 1

		{# 3.2. Морфинг (если включен) #}
		{% if texture.tw_use_morph %}
		[CustomShaderMorph{{ texture.tw_name }}{{ config.tw_config_name }}]
		cs = /modules/texworks/cs_morph.hlsl
		cs-u0 = ref ResourceAtlas{{ config.tw_config_name }}
		cs-t0 = Resource{{ texture.tw_morph_target_name }}{{ config.tw_config_name }}
		cs-cb0 = {% if texture.tw_morph_value_link %}{{ texture.tw_morph_value_link }}{% else %}ResourceVar_{{ texture.tw_name }}_Morph{% endif %} 
		x44 = {{ (((texture | default({})).tw_position | default([0,0]))[0]) }}
		y44 = {{ (((texture | default({})).tw_position | default([0,0]))[1]) }}
		z44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[0]) }}
		w44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}
		dispatch = {{ ((texture.tw_size | default([1024,1024]))[0] ) }} // 32, {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}//32, 1{% endif %}

		{# 3.3. HSV Коррекция (если включена) #}
		{% if texture.tw_use_hsv %}
		[CustomShaderHSV{{ texture.tw_name }}{{ config.tw_config_name }}]
		cs = /modules/texworks/cs_hsv_{{ "masked" if texture.tw_hsv_mode == 'MASKED' else "unmasked" }}.hlsl
		cs-u0 = ref ResourceAtlas{{ config.tw_config_name }}
		cs-cb0 = {% if texture.tw_hsv_value_link %}{{ texture.tw_hsv_value_link }}{% else %}ResourceVar_{{ texture.tw_name }}_HSV{% endif %} 
		x44 = {{ (((texture | default({})).tw_position | default([0,0]))[0]) }}
		y44 = {{ (((texture | default({})).tw_position | default([0,0]))[1]) }}
		z44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[0]) }}
		w44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}
		dispatch = {{ ((texture.tw_size | default([1024,1024]))[0] ) }} // 32, {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}//32, 1
		{% endif %}

		{# 3.4. Декаль Тату (если включена) #}
		{% if texture.tw_use_decal_tattoo %}
		[Constants]
		global persist $DecalTattooPubic0Index
		global persist $DecalTattooBoobs0Index
		global persist $DecalTattooBoobs1Index
		global persist $DecalTattooButt0Index
		global persist $DecalTattooButt1Index
		global persist $DecalTattooButt2Index
		global $DecalTattooPubic0PastIndex
		global $DecalTattooBoobs0PastIndex
		global $DecalTattooBoobs1PastIndex
		global $DecalTattooButt0PastIndex
		global $DecalTattooButt1PastIndex
		global $DecalTattooButt2PastIndex
		[CommandListTexWorkCheckChanges]
		post $DecalTattooPubic0PastIndex = $DecalTattooPubic0Index
		post $DecalTattooBoobs0PastIndex = $DecalTattooBoobs0Index
		post $DecalTattooBoobs1PastIndex = $DecalTattooBoobs1Index
		post $DecalTattooButt0PastIndex = $DecalTattooButt0Index
		post $DecalTattooButt1PastIndex = $DecalTattooButt1Index
		post $DecalTattooButt2PastIndex = $DecalTattooButt2Index
		if $DecalTattooPubic0PastIndex != $DecalTattooPubic0Index
			run = CommandListAddonsTexWorks
		endif
		if $DecalTattooBoobs0PastIndex != $DecalTattooBoobs0Index
			run = CommandListAddonsTexWorks
		endif
		if $DecalTattooBoobs1PastIndex != $DecalTattooBoobs1Index
			run = CommandListAddonsTexWorks
		endif
		if $DecalTattooButt0PastIndex != $DecalTattooButt0Index
			run = CommandListAddonsTexWorks
		endif
		if $DecalTattooButt1PastIndex != $DecalTattooButt1Index
			run = CommandListAddonsTexWorks
		endif
		if $DecalTattooButt2PastIndex != $DecalTattooButt2Index
			run = CommandListAddonsTexWorks
		endif

		;Правильно
		[KeyTestDecal0]
		key = 1
		type = hold
		run = CommandListDecalTattooPubicSet

		[CommandListDecalTattooPubicSet]
		if $DecalTattooPubic0Index <= 7
		$DecalTattooPubic0Index = $DecalTattooPubic0Index + 1
		elif $DecalTattooPubic0Index > 7
		$DecalTattooPubic0Index = -1
		endif
		run = CommandListAddonsTexWorks

		;Правильно - исправленные кнопки
		[KeyTestDecal2]
		key = 2
		type = hold
		run = CommandListDecalTattooBoobs0Set

		[CommandListDecalTattooBoobs0Set]
		if $DecalTattooBoobs0Index <= 7
		$DecalTattooBoobs0Index = $DecalTattooBoobs0Index + 1
		elif $DecalTattooBoobs0Index > 7
		$DecalTattooBoobs0Index = -1
		endif
		run = CommandListAddonsTexWorks

		[KeyTestDecal3]
		key = 3
		type = hold
		run = CommandListDecalTattooBoobs1Set

		[CommandListDecalTattooBoobs1Set]
		if $DecalTattooBoobs1Index <= 7
		$DecalTattooBoobs1Index = $DecalTattooBoobs1Index + 1
		elif $DecalTattooBoobs1Index > 7
		$DecalTattooBoobs1Index = -1
		endif
		run = CommandListAddonsTexWorks

		[KeyTestDecal4]
		key = 4
		type = hold
		run = CommandListDecalTattooButt0Set

		[CommandListDecalTattooButt0Set]
		if $DecalTattooButt0Index <= 7
		$DecalTattooButt0Index = $DecalTattooButt0Index + 1
		elif $DecalTattooButt0Index > 7
		$DecalTattooButt0Index = -1
		endif
		run = CommandListAddonsTexWorks

		[KeyTestDecal5]
		key = 5
		type = hold
		run = CommandListDecalTattooButt1Set

		[CommandListDecalTattooButt1Set]
		if $DecalTattooButt1Index <= 7
		$DecalTattooButt1Index = $DecalTattooButt1Index + 1
		elif $DecalTattooButt1Index > 7
		$DecalTattooButt1Index = -1
		endif
		run = CommandListAddonsTexWorks

		[KeyTestDecal6]
		key = 6
		type = hold
		run = CommandListDecalTattooButt2Set

		[CommandListDecalTattooButt2Set]
		if $DecalTattooButt2Index <= 4
		$DecalTattooButt2Index = $DecalTattooButt2Index + 1
		elif $DecalTattooButt2Index > 4
		$DecalTattooButt2Index = -1
		endif
		run = CommandListAddonsTexWorks
		[CommandListDecalTattooUpdate]
		run = CommandListDecalTattooPubicCompute
		run = CommandListDecalTattooBoobsLeftCompute
		run = CommandListDecalTattooBoobsRightCompute
		run = CommandListDecalTattooButtLeftCompute
		run = CommandListDecalTattooButtRightCompute
		run = CommandListDecalTattooButtCenterCompute
		[CommandListDecalTattooPubicCompute]
		x70 = 0
		y70 = $DecalTattooPubic0Index
		run = CustomShaderDecalTattooController
		x70 = 1
		y70 = $DecalTattooPubic0Index
		run = CustomShaderDecalTattooController
		[CommandListDecalTattooBoobsLeftCompute]
		x70 = 2
		y70 = $DecalTattooBoobs0Index
		run = CustomShaderDecalTattooController
		[CommandListDecalTattooBoobsRightCompute]
		x70 = 3
		y70 = $DecalTattooBoobs1Index
		run = CustomShaderDecalTattooController
		[CommandListDecalTattooButtLeftCompute]
		x70 = 4
		y70 = $DecalTattooButt0Index
		run = CustomShaderDecalTattooController
		[CommandListDecalTattooButtRightCompute]
		x70 = 5
		y70 = $DecalTattooButt1Index
		run = CustomShaderDecalTattooController
		[CommandListDecalTattooButtCenterCompute]
		x70 = 6
		y70 = $DecalTattooButt2Index
		run = CustomShaderDecalTattooController
		[CustomShaderDecalTattooController]
		cs-u0 = ResourceDecalTattooDataBuffer
		cs = /modules/texworks/tattoo/decal_compute.hlsl
		dispatch = 1, 1, 1
		[ResourceDecalTattooDataBuffer]
		type = RWBuffer
		format = R32G32_UINT
		array = 16
		[ResourceDecalPubicMask]
		filename = /modules/texworks/tattoo/pubic_mask.png
		[ResourceTattooPubic]
		filename = /modules/texworks/tattoo/pubic.png
		[ResourceTattooBoobs]
		filename = /modules/texworks/tattoo/boobs.png
		[ResourceTattooButt]
		filename = /modules/texworks/tattoo/butt.png
		[ResourceTattooButtUP]
		filename = /modules/texworks/tattoo/butt_up.png
		[CustomShaderTattoo{{ texture.tw_name }}{{ config.tw_config_name }}]
		run = CustomShaderDecalTattooController
		cs = /modules/texworks/tattoo/decal_draw.hlsl
		cs-u0 = ResourceAtlasDiffuse
		cs-t1 = ResourceDecalTattooDataBuffer
		cs-t2 = ResourceDecalPubicMask
		cs-t60 = ResourceTattooPubic 
		cs-t61 = ResourceTattooBoobs
		cs-t62 = ResourceTattooButt
		cs-t63 = ResourceTattooButtUP
		x44 = {{ (((texture | default({})).tw_position | default([0,0]))[0]) }}
		y44 = {{ (((texture | default({})).tw_position | default([0,0]))[1]) }}
		z44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[0]) }}
		w44 = {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}
		dispatch = {{ ((texture.tw_size | default([1024,1024]))[0] ) }} // 32, {{ (((texture | default({})).tw_size | default([1024,1024]))[1]) }}//32, 1
		{% endif %}
		
		{# 3.5. Декаль Кам (если включена) #}
		{% if texture.tw_use_decal_fluid %}
		[CustomShaderfluid{{ texture.tw_name }}{{ config.tw_config_name }}]
		cs = /modules/texworks/cs_fluid_instancer.hlsl
		; ... параметры для шейдера кам ...
		{% endif %}

	{% endfor %}
{% endfor %}

{# --- 4. ОПРЕДЕЛЕНИЕ АТЛАСОВ --- #}
{# Теперь все параметры берутся из глобальных настроек #}
{% for config in scene.rzm.addons.tw_texture_configs %}
[ResourceAtlas{{ config.tw_config_name }}]
type = RWTexture2D
width = {{ config.tw_atlas_settings.tw_width | default(4096) }}
height = {{ config.tw_atlas_settings.tw_height | default(4096) }}
format = {{ config.tw_atlas_settings.tw_format | default('DXGI_FORMAT_R8G8B8A8_TYPELESS') }}
array = 1
msaa = 1
mips = 1
{% endfor %}

{% else %}
[CommandListAddonsTexWorks]
;ERROR: No TexWorks Textures Defined
[CommandListAddonsFaceTexWorks]
;ERROR: No Face TexWorks Textures Defined
[ResourceAtlasDiffuse]
{% endif %}
{% endif %}

{% if scene.rzm.addons.tex_morph == 1 %};texMorph
{% endif %}
{% if scene.rzm.addons.tex_ripper == 1 %};texRipper
{% endif %}
{% if scene.rzm.addons.tex_decal_tattoo == 1 %};texDecalTattoo
{% endif %}
{% if scene.rzm.addons.tex_decal_fluid == 1 %};texDecalfluid
{% endif %}
{% if scene.rzm.addons.tex_hsv_masked == 1 %};texHSVMasked
{% endif %}
{% if scene.rzm.addons.vfx == 1 %};vfx
{% endif %}
{% if scene.rzm.addons.shape_morph == 1 %};shapeMorph
{% endif %}
{% if scene.rzm.addons.shape_morph_anim == 1 %};shapeMorphAnim
{% endif %}
{% if scene.rzm.addons.shape_morph_jiggle == 1 %};shapeMorphJiggle
{% endif %}
{% if scene.rzm.addons.dtoggle_compute == 1 %};dToggleCompute
{% endif %}
{% if scene.rzm.addons.rtoggle_compute == 1 %};rToggleCompute
{% endif %}
{% if scene.rzm.addons.Sandevistan_gi == 1 %};Sandevistan_GI
{% endif %}
{% if scene.rzm.addons.sandevistan_zzz == 1 %}
[Constants]
global $Sandevistan_Speed = 32
global $Sandevistan_length = 128
global $SandevistanTime = 0
global $SandevistanTimer = 0
global $Sandevistan_current_index = 0
global $Sandevistan_Base_Interval = 1

[Present]
if $first_run
	$SandevistanTime = time + ($Sandevistan_Base_Interval / ($Sandevistan_Speed * $movement_multiplier))
endif 

[CustomShaderSandevistan]
vs = /modules/trace_vs_Sandevistan.hlsl
ps = /modules/trace_ps_Sandevistan.hlsl
; ps = ps2.hlsl
x0 = $CDC_Sandevistan
x1 = $Sandevistan_length
x2 = $Sandevistan_current_index
vs-t1 = Resource_Sandevistan_MERGED_VB0
vs-t127 = Resource_Sandevistan_Buffer

drawindexedinstanced = $CDC_Sandevistan, $Sandevistan_length, $CDO_Sandevistan, 0, 0
run = CommandListSwapC0

[Constants]
global $movement_trigger
global $movement_trigger_t
global $movement_multiplier = 1
global $blending_threshold = 0.05

[CustomShaderComputeSandevistan]
cs = /modules/ouroboros_position_record.hlsl
cs-u0 = Resource_Sandevistan_Buffer
cs-cb1 = vs-cb1
x1 = $Sandevistan_length
x2 = $Sandevistan_current_index
dispatch = 1, 1, 1

[CustomShaderTriggerSandevistan]
cs = /modules/ouroboros_position_trigger.hlsl
cs-u0 = ResourceMovementTriggerOutput
cs-cb1 = vs-cb1
dispatch = 1, 1, 1
store = $movement_trigger_t, ResourceMovementTriggerOutput, 8
$movement_trigger = $movement_trigger + ($movement_trigger_t - $movement_trigger) * $dt
if $movement_trigger >= -10 && $movement_trigger < 0.5
	$movement_multiplier = 1
elif $movement_trigger >= 0.5 && $movement_trigger < 1.0
	$movement_multiplier = 2
elif $movement_trigger >= 1.0
	$movement_multiplier = 3
endif

[ResourceMovementTriggerOutput]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 3

[CommandListSwapC0]
run = CustomShaderTriggerSandevistan
if (time) >= $SandevistanTime
	run = CustomShaderComputeSandevistan
	run = CustomShaderWriteSandevistan
	$SandevistanTime = time + ($Sandevistan_Base_Interval / ($Sandevistan_Speed * $movement_multiplier))
	run = CustomShaderComputeSandevistan
	run = CustomShaderWriteSandevistan
endif
;Buffer Record Logic

[CustomShaderWriteSandevistan]
cs-t0 = vb0
cs-u0 = ResourceOutput
cs = /modules/ouroboros_buffer_record.hlsl
x0 = $CDC_Sandevistan
x1 = $Sandevistan_length
x2 = $Sandevistan_current_index
dispatch = $CDC_Sandevistan + 1023 // 1024, 1, 1
Resource_Sandevistan_MERGED_VB0 = cs-u0
$Sandevistan_current_index = $Sandevistan_current_index + 1
if $Sandevistan_current_index > $Sandevistan_length
	$Sandevistan_current_index = 0
endif

[Resource_Sandevistan_MERGED_VB0]

[Resource_Sandevistan_Buffer]
type = RWBuffer
format = R32G32B32A32_FLOAT
array = 512

[ResourceOutput]
type = RWStructuredBuffer
stride = 40
;VertexCount * $Sandevistan_length
array = 1327104
{% endif %}

{% endif %}

{% if scene.rzm.addons.facetexworkspreseted == 1 %};FaceTexWorksPreseted
; =======================================================================================
;                                     FACE TEX WORKS
; =======================================================================================

; SYSTEM: TEXTURE OVERRIDES & SAFETY
[TextureOverrideFaceDiffuse]
hash = 20a1ba58
this = ResourceFaceDiffuse
run = CommandListSafeTexWorks.FACE.Diffuse
[TextureOverrideFaceDiffuse2]
hash = df5fe214
this = ResourceFaceDiffuse
run = CommandListSafeTexWorks.FACE.Diffuse

[TextureOverrideFaceMaterial]
hash = e3a1caa2
this = ResourceFaceMaterial
run = CommandListSafeTexWorks.FACE.Material
[TextureOverrideFaceMaterial2]
hash = b4f554ef
this = ResourceFaceMaterial
run = CommandListSafeTexWorks.FACE.Material

[CommandListSafeTexWorks.FACE.Diffuse]
local $isInit = 0
if this === null && $isInit == 0
    this = copy ResourceFaceDiffuse
    $isInit = 1
endif

[CommandListSafeTexWorks.FACE.Material]
local $isInit = 0
if this === null && $isInit == 0
    this = copy ResourceFaceMaterial
    $isInit = 1
endif

; GLOBAL CONSTANTS & VARIABLES
[Constants]
global $TexWorksFaceSize = 1024
global $TexWorksFaceSizeMaterial = 256
global $TexWorksFaceCenterX = 512
global $TexWorksFaceFirstInit = 1

global persist $FaceDecal_Skin_Index = -1
global persist $FaceDecal_Scars_Index = -1
global persist $FaceDecal_Tattoo_FaceIndex = -1

global $FaceDecal_Skin_PastIndex
global $FaceDecal_Scars_PastIndex
global $FaceDecal_Tattoo_FacePastIndex

global persist $HSV_H_EYEBROWS = 0
global persist $HSV_S_EYEBROWS = 0
global persist $HSV_V_EYEBROWS = 0

global persist $HSV_H_EYELASHES = 0
global persist $HSV_S_EYELASHES = 0
global persist $HSV_V_EYELASHES = 0

global $HSV_H_EYEBROWS_Past
global $HSV_S_EYEBROWS_Past
global $HSV_V_EYEBROWS_Past
global $HSV_H_EYELASHES_Past
global $HSV_S_EYELASHES_Past
global $HSV_V_EYELASHES_Past

global persist $FaceDecal_Makeup_Mouth_0Index = -1
global persist $FaceDecal_Makeup_Cheeks_0Index = -1
global persist $FaceDecal_Makeup_Eyeshadow_0Index = -1
global persist $FaceDecal_Makeup_Face_0Index = -1

global $FaceDecal_Makeup_Mouth_0PastIndex
global $FaceDecal_Makeup_Cheeks_0PastIndex
global $FaceDecal_Makeup_Eyeshadow_0PastIndex
global $FaceDecal_Makeup_Face_0PastIndex

global persist $FaceDecal_Blood_Mouth_0Index = -1
global persist $FaceDecal_Blood_Cheeks_0Index = -1
global persist $FaceDecal_Blood_Face_0Index = -1

global persist $FaceDecal_Cum_Mouth_0Index = -1
global persist $FaceDecal_Cum_Cheeks_0Index = -1
global persist $FaceDecal_Cum_Eyeshadow_0Index = -1
global persist $FaceDecal_Cum_Face_0Index = -1

global persist $FaceDecal_Misc_Index = -1

global $FaceDecal_Blood_Mouth_0PastIndex
global $FaceDecal_Blood_Cheeks_0PastIndex
global $FaceDecal_Blood_Face_0PastIndex

global $FaceDecal_Cum_Mouth_0PastIndex
global $FaceDecal_Cum_Cheeks_0PastIndex
global $FaceDecal_Cum_Eyeshadow_0PastIndex
global $FaceDecal_Cum_Face_0PastIndex

global $FaceDecal_Misc_PastIndex

; --- Render Targets ---
[ResourceFaceDiffuse]
type = RWTexture2D
width = 1024
height = 1024
format = DXGI_FORMAT_R8G8B8A8_TYPELESS
array = 1
msaa = 1
mips = 1

[ResourceFaceMaterial]
type = RWTexture2D
width = 256
height = 256
format = DXGI_FORMAT_R8G8B8A8_TYPELESS
array = 1
msaa = 1
mips = 1

; --- Base Textures ---
[ResourceFaceBaseDiffuse]
filename = tex/FaceD.dds
[ResourceFaceBaseMaterial]
filename = tex/FaceM.dds

; =======================================================================================
; LOGIC LOOP (PRESENT)
; =======================================================================================
[Present]
if $TexWorksFaceFirstInit == 1
    run = CommandListAddonsFaceTexWorks
    $TexWorksFaceFirstInit = 0
endif

run = CommandListAddonsFaceTexWorks.UPDATE.Conditions

[CommandListAddonsFaceTexWorks.Update]
run = CommandListAddonsFaceTexWorks

$FaceDecal_Skin_PastIndex = $FaceDecal_Skin_Index
$FaceDecal_Scars_PastIndex = $FaceDecal_Scars_Index
$FaceDecal_Tattoo_FacePastIndex = $FaceDecal_Tattoo_FaceIndex

$HSV_H_EYEBROWS_Past = $HSV_H_EYEBROWS
$HSV_S_EYEBROWS_Past = $HSV_S_EYEBROWS
$HSV_V_EYEBROWS_Past = $HSV_V_EYEBROWS
$HSV_H_EYELASHES_Past = $HSV_H_EYELASHES
$HSV_S_EYELASHES_Past = $HSV_S_EYELASHES
$HSV_V_EYELASHES_Past = $HSV_V_EYELASHES

$FaceDecal_Makeup_Mouth_0PastIndex = $FaceDecal_Makeup_Mouth_0Index
$FaceDecal_Makeup_Cheeks_0PastIndex = $FaceDecal_Makeup_Cheeks_0Index
$FaceDecal_Makeup_Eyeshadow_0PastIndex = $FaceDecal_Makeup_Eyeshadow_0Index
$FaceDecal_Makeup_Face_0PastIndex = $FaceDecal_Makeup_Face_0Index

$FaceDecal_Blood_Mouth_0PastIndex = $FaceDecal_Blood_Mouth_0Index
$FaceDecal_Blood_Cheeks_0PastIndex = $FaceDecal_Blood_Cheeks_0Index
$FaceDecal_Blood_Face_0PastIndex = $FaceDecal_Blood_Face_0Index

$FaceDecal_Cum_Mouth_0PastIndex = $FaceDecal_Cum_Mouth_0Index
$FaceDecal_Cum_Cheeks_0PastIndex = $FaceDecal_Cum_Cheeks_0Index
$FaceDecal_Cum_Eyeshadow_0PastIndex = $FaceDecal_Cum_Eyeshadow_0Index
$FaceDecal_Cum_Face_0PastIndex = $FaceDecal_Cum_Face_0Index

$FaceDecal_Misc_PastIndex = $FaceDecal_Misc_Index

; MAIN PIPELINE (ORDER MATTERS!)
[CommandListAddonsFaceTexWorks]
run = CustomShaderUpdateFaceDiffuse
run = CustomShaderUpdateFaceMaterial

run = CustomShaderDecalMakeup.Mouth
run = CustomShaderDecalMakeup.Cheeks
run = CustomShaderDecalMakeup.EyeShadow

run = CustomShaderDeum.Mouth
run = CustomShaderDeum.Cheeks

; CORE SHADERS & MASKS

[CustomShaderUpdateFaceDiffuse]
cs = /modules/facetexworks/cs_update_region.hlsl
cs-u0 = ref ResourceFaceDiffuse
cs-t0 = ResourceFaceBaseDiffuse
x44 = 0
y44 = 0
z44 = $TexWorksFaceSize
w44 = $TexWorksFaceSize
dispatch = $TexWorksFaceSize // 32, $TexWorksFaceSize//32, 1

run = CustomShaderUpdateFaceDiffuse.Eyelashes.HSV
run = CustomShaderUpdateFaceDiffuse.EyeBrows.HSV

[CustomShaderUpdateFaceMaterial]
cs = /modules/facetexworks/cs_update_region.hlsl
cs-u0 = ref ResourceFaceMaterial
cs-t0 = ResourceFaceBaseMaterial
x44 = 0
y44 = 0
z44 = $TexWorksFaceSize
w44 = $TexWorksFaceSize

x43 = 0
y43 = 0
z43 = 0
w43 = 0
dispatch = $TexWorksFaceSize // 32, $TexWorksFaceSize//32, 1

; --- HSV SHADERS ---

; SECTION: EyeLashes (Mask Region Only)
[Constants]
global $TWFEyeLashesConfigPosX = 194
global $TWFEyeLashesConfigPosY = 0
global $TWFEyeLashesConfigSizeW = 830
global $TWFEyeLashesConfigSizeH = 644

[Resource_Makeup_EyeLashes.MASK]
filename = /modules/facetexworks/EyeLashes.Mask.png

[CustomShaderUpdateFaceDiffuse.Eyelashes.HSV]
cs = /modules/facetexworks/cs_update_region.hlsl
cs-u0 = ref ResourceFaceDiffuse
cs-t1 = Resource_Makeup_EyeLashes.MASK
x44 = $TWFEyeLashesConfigPosX
y44 = $TWFEyeLashesConfigPosY
z44 = $TWFEyeLashesConfigSizeW
w44 = $TWFEyeLashesConfigSizeH
; HSV Params
x43 = $HSV_H_EYELASHES
y43 = $HSV_S_EYELASHES
z43 = $HSV_V_EYELASHES
w43 = 1
dispatch = ($TWFEyeLashesConfigSizeW + 31) // 32, ($TWFEyeLashesConfigSizeH + 31) //32, 1

; --- MASKS FOR HSV ---
; SECTION: EYEBROWS (Mask Region Only)
[Constants]
global $TWFEyeBrowsConfigPosX = 265
global $TWFEyeBrowsConfigPosY = 24
global $TWFEyeBrowsConfigSizeW = 600
global $TWFEyeBrowsConfigSizeH = 160

[Resource_Makeup_EyeBrows.MASK]
filename = /modules/facetexworks/EyeBrows.Mask.png

[CustomShaderUpdateFaceDiffuse.EyeBrows.HSV]
cs = /modules/facetexworks/cs_update_region.hlsl
cs-u0 = ref ResourceFaceDiffuse
cs-t1 = Resource_Makeup_EyeBrows.MASK
x44 = $TWFEyeBrowsConfigPosX
y44 = $TWFEyeBrowsConfigPosY
z44 = $TWFEyeBrowsConfigSizeW
w44 = $TWFEyeBrowsConfigSizeH
; HSV Params
x43 = $HSV_H_EYEBROWS
y43 = $HSV_S_EYEBROWS
z43 = $HSV_V_EYEBROWS
w43 = 1
dispatch = ($TWFEyeBrowsConfigSizeW + 31) // 32, ($TWFEyeBrowsConfigSizeH + 31) //32, 1


; =======================================================================================
; INPUTS (KEYS)
; =======================================================================================
[KeyTest5]
key = 5
type = cycle
$FaceDecal_Makeup_Mouth_0Index = -1,0,1,2,3,4
[KeyTest6]
key = 6
type = cycle
$FaceDecal_Makeup_EyeShadow_0Index = -1,0,1,2,3
[KeyTest7]
key = 7
type = cycle
$FaceDecal_Makeup_Cheeks_0Index = -1,0,1,3,4
[KeyTest9]
key = 9
type = cycle
[KeyTest10]
key = 0
type = cycle
[KeyTestK]
key = k
type = cycle
$FaceDecal_Cum_Cheeks_0Index = -1,0
$FaceDecal_Cum_Mouth_0Index = -1,0

[KeyTestR]
key = r
$TexWorksFaceFirstInit = 1


; =======================================================================================
; USER CONFIGURATION & SHADERS
; =======================================================================================

; ---------------------------------------------------------------------------------------
; SECTION: Mouth (Pos: 412, 285)
; ---------------------------------------------------------------------------------------
[Constants]
global $TWFMouthConfigPosX = 412
global $TWFMouthConfigPosY = 285
global $TWFMouthConfigSizeW = 200
global $TWFMouthConfigSizeH = 128

[Resource_Makeup_Mouth.0]
filename = /modules/facetexworks/makeup/Mouth/0.png
[Resource_Makeup_Mouth.1]
filename = /modules/facetexworks/makeup/Mouth/1.png
[Resource_Makeup_Mouth.2]
filename = /modules/facetexworks/makeup/Mouth/2.png
[Resource_Makeup_Mouth.3]
filename = /modules/facetexworks/makeup/Mouth/3.png
[Resource_Makeup_Mouth.4]
filename = /modules/facetexworks/makeup/Mouth/4.png
[Resource_Cum_Mouth.0]
filename = /modules/facetexworks/Cum/Mouth/0.png

[Resource.TexWorks.Face.Mouth.Config]
type = Buffer
format = R32_FLOAT
array = 4
data = 0.0 0.0 0.0 0.0

[CustomShaderDecalMakeup.Mouth]
cs = /modules/facetexworks/decal_draw.hlsl
cs-u0 = ResourceFaceDiffuse
cs-u1 = ResourceFaceMaterial
cs-t0 = null

if $FaceDecal_Makeup_Mouth_0Index == 0
    cs-t0 = Resource_Makeup_Mouth.0
elif $FaceDecal_Makeup_Mouth_0Index == 1
    cs-t0 = Resource_Makeup_Mouth.1
elif $FaceDecal_Makeup_Mouth_0Index == 2
    cs-t0 = Resource_Makeup_Mouth.2
elif $FaceDecal_Makeup_Mouth_0Index == 3
    cs-t0 = Resource_Makeup_Mouth.3
elif $FaceDecal_Makeup_Mouth_0Index == 4
    cs-t0 = Resource_Makeup_Mouth.4
endif
cs-t1 = Resource.TexWorks.Face.Mouth.Config
x44 = $TWFMouthConfigPosX
y44 = $TWFMouthConfigPosY
z44 = $TWFMouthConfigSizeW
w44 = $TWFMouthConfigSizeH
run = CommandListAddons.FaceTexWorks.Material.Null
if $FaceDecal_Makeup_Mouth_0Index >= 0
    dispatch = ($TWFMouthConfigSizeW + 31) // 32, ($TWFMouthConfigSizeH + 31) //32, 1
endif

[CustomShaderDeum.Mouth]
cs = /modules/facetexworks/decal_draw_composite.hlsl
cs-u0 = ResourceFaceDiffuse
cs-u1 = ResourceFaceMaterial
cs-t0 = null
if $FaceDecal_Cum_Mouth_0Index == 0
    cs-t0 = Resource_Cum_Mouth.0
endif
cs-t1 = Resource.TexWorks.Face.Mouth.Config
x44 = $TWFMouthConfigPosX
y44 = $TWFMouthConfigPosY
z44 = $TWFMouthConfigSizeW
w44 = $TWFMouthConfigSizeH
run = CommandListAddons.FaceTexWorks.Material.Cum
if $FaceDecal_Cum_Mouth_0Index >= 0
    dispatch = ($TWFMouthConfigSizeW + 31) // 32, ($TWFMouthConfigSizeH + 31) //32, 1
endif

; ---------------------------------------------------------------------------------------
; SECTION: CHEEKS (Pos: 577, 241)
; ---------------------------------------------------------------------------------------
[Constants]
global $TWFCheeksConfigPosX = 577
global $TWFCheeksConfigPosY = 241
global $TWFCheeksConfigSizeW = 267
global $TWFCheeksConfigSizeH = 248

[Resource_Makeup_Cheeks.0]
filename = /modules/facetexworks/makeup/Cheeks/0.png
[Resource_Makeup_Cheeks.1]
filename = /modules/facetexworks/makeup/Cheeks/1.png
[Resource_Makeup_Cheeks.2]
filename = /modules/facetexworks/makeup/Cheeks/2.png
[Resource_Makeup_Cheeks.3]
filename = /modules/facetexworks/makeup/Cheeks/3.png
[Resource_Makeup_Cheeks.4]
filename = /modules/facetexworks/makeup/Cheeks/4.png
[Resource_Cum_Cheeks.0]
filename = /modules/facetexworks/Cum/Cheeks/0.png

[Resource.TexWorks.Face.Cheeks.Config]
type = Buffer
format = R32_FLOAT
array = 4
data = 0.0 0.0 0.0 1.0
[Resource.TexWorks.Face.Cheeks.Config.MIRROR]
type = Buffer
format = R32_FLOAT
array = 4
data = 0.0 0.0 1.0 1.0

[CustomShaderDecalMakeup.Cheeks]
cs = /modules/facetexworks/decal_draw.hlsl
cs-u0 = ResourceFaceDiffuse
cs-u1 = ResourceFaceMaterial
cs-t0 = null
if $FaceDecal_Makeup_Cheeks_0Index == 0
    cs-t0 = Resource_Makeup_Cheeks.0
elif $FaceDecal_Makeup_Cheeks_0Index == 1
    cs-t0 = Resource_Makeup_Cheeks.1
elif $FaceDecal_Makeup_Cheeks_0Index == 2
    cs-t0 = Resource_Makeup_Cheeks.2
elif $FaceDecal_Makeup_Cheeks_0Index == 3
    cs-t0 = Resource_Makeup_Cheeks.3
elif $FaceDecal_Makeup_Cheeks_0Index == 4
    cs-t0 = Resource_Makeup_Cheeks.4
endif
if $FaceDecal_Makeup_Cheeks_0Index >= 0
    run = CommandListAddons.FaceTexWorks.Material.Null
    ; Pass 1
    cs-t1 = Resource.TexWorks.Face.Cheeks.Config
    x44 = $TWFCheeksConfigPosX
    y44 = $TWFCheeksConfigPosY
    z44 = $TWFCheeksConfigSizeW
    w44 = $TWFCheeksConfigSizeH
    dispatch = ($TWFCheeksConfigSizeW + 31) // 32, ($TWFCheeksConfigSizeH + 31) //32, 1
    ; Pass 2
    cs-t1 = Resource.TexWorks.Face.Cheeks.Config.MIRROR
    x44 = (2 * $TexWorksFaceCenterX) - $TWFCheeksConfigPosX - $TWFCheeksConfigSizeW
    y44 = $TWFCheeksConfigPosY
    z44 = $TWFCheeksConfigSizeW
    w44 = $TWFCheeksConfigSizeH
    dispatch = ($TWFCheeksConfigSizeW + 31) // 32, ($TWFCheeksConfigSizeH + 31) //32, 1
endif

[CustomShaderDeum.Cheeks]
cs = /modules/facetexworks/decal_draw_composite.hlsl
cs-u0 = ResourceFaceDiffuse
cs-u1 = ResourceFaceMaterial
cs-t0 = null
if $FaceDecal_Cum_Cheeks_0Index == 0
    cs-t0 = Resource_Cum_Cheeks.0
endif
if $FaceDecal_Cum_Cheeks_0Index >= 0
    run = CommandListAddons.FaceTexWorks.Material.Cum
    x46 = $TexWorksFaceSize
    y46 = $TexWorksFaceSizeMaterial
    ; Pass 1
    cs-t1 = Resource.TexWorks.Face.Cheeks.Config
    x44 = $TWFCheeksConfigPosX
    y44 = $TWFCheeksConfigPosY
    z44 = $TWFCheeksConfigSizeW
    w44 = $TWFCheeksConfigSizeH
    dispatch = ($TWFCheeksConfigSizeW + 31) // 32, ($TWFCheeksConfigSizeH + 31) //32, 1
    ; Pass 2
    cs-t1 = Resource.TexWorks.Face.Cheeks.Config.MIRROR
    x44 = (2 * $TexWorksFaceCenterX) - $TWFCheeksConfigPosX - $TWFCheeksConfigSizeW
    y44 = $TWFCheeksConfigPosY
    z44 = $TWFCheeksConfigSizeW
    w44 = $TWFCheeksConfigSizeH
    dispatch = ($TWFCheeksConfigSizeW + 31) // 32, ($TWFCheeksConfigSizeH + 31) //32, 1
endif

; ---------------------------------------------------------------------------------------
; SECTION: EyeShadow (Pos: 575, 486)
; ---------------------------------------------------------------------------------------
[Constants]
global $TWFEyeShadowConfigPosX = 575
global $TWFEyeShadowConfigPosY = 486
global $TWFEyeShadowConfigSizeW = 234
global $TWFEyeShadowConfigSizeH = 197

[Resource_Makeup_EyeShadow.0]
filename = /modules/facetexworks/makeup/EyeShadow/0.png
[Resource_Makeup_EyeShadow.1]
filename = /modules/facetexworks/makeup/EyeShadow/1.png
[Resource_Makeup_EyeShadow.2]
filename = /modules/facetexworks/makeup/EyeShadow/2.png
[Resource_Makeup_EyeShadow.3]
filename = /modules/facetexworks/makeup/EyeShadow/3.png
[Resource_Cum_EyeShadow.0]
filename = /modules/facetexworks/Cum/EyeShadow/0.png

[Resource.TexWorks.Face.EyeShadow.Config]
type = Buffer
format = R32_FLOAT
array = 4
data = 0.0 0.0 0.0 0.0
[Resource.TexWorks.Face.EyeShadow.Config.MIRROR]
type = Buffer
format = R32_FLOAT
array = 4
data = 0.0 0.0 1.0 0.0

[CustomShaderDecalMakeup.EyeShadow]
cs = /modules/facetexworks/decal_draw.hlsl
cs-u0 = ResourceFaceDiffuse
cs-u1 = ResourceFaceMaterial
cs-t0 = null
if $FaceDecal_Makeup_EyeShadow_0Index == 0
    cs-t0 = Resource_Makeup_EyeShadow.0
elif $FaceDecal_Makeup_EyeShadow_0Index == 1
    cs-t0 = Resource_Makeup_EyeShadow.1
elif $FaceDecal_Makeup_EyeShadow_0Index == 2
    cs-t0 = Resource_Makeup_EyeShadow.2
elif $FaceDecal_Makeup_EyeShadow_0Index == 3
    cs-t0 = Resource_Makeup_EyeShadow.3
endif

if $FaceDecal_Makeup_EyeShadow_0Index >= 0
    run = CommandListAddons.FaceTexWorks.Material.Null
    ; Pass 1
    cs-t1 = Resource.TexWorks.Face.EyeShadow.Config
    x44 = $TWFEyeShadowConfigPosX
    y44 = $TWFEyeShadowConfigPosY
    z44 = $TWFEyeShadowConfigSizeW
    w44 = $TWFEyeShadowConfigSizeH
    dispatch = ($TWFEyeShadowConfigSizeW + 31) // 32, ($TWFEyeShadowConfigSizeH + 31) //32, 1
    ; Pass 2
    cs-t1 = Resource.TexWorks.Face.EyeShadow.Config.MIRROR
    x44 = (2 * $TexWorksFaceCenterX) - $TWFEyeShadowConfigPosX - $TWFEyeShadowConfigSizeW
    y44 = $TWFEyeShadowConfigPosY
    z44 = $TWFEyeShadowConfigSizeW
    w44 = $TWFEyeShadowConfigSizeH
    dispatch = ($TWFEyeShadowConfigSizeW + 31) // 32, ($TWFEyeShadowConfigSizeH + 31) //32, 1
endif

; =======================================================================================
; PRESETS & HELPERS
; =======================================================================================
[CommandListAddons.FaceTexWorks.Material.Cum]
x45 = 0.25
y45 = 0.5
z45 = 0.0
w45 = 5.0
x46 = $TexWorksFaceSize
y46 = $TexWorksFaceSizeMaterial

[CommandListAddons.FaceTexWorks.Material.Null]
x45 = 0.0
y45 = 0.0
z45 = 0.0
w45 = 0.0

[CommandListAddonsFaceTexWorks.UPDATE.Conditions]
local $needsUpdate = 0

if $FaceDecal_Skin_PastIndex != $FaceDecal_Skin_Index 
    $needsUpdate = 1 
endif
if $FaceDecal_Scars_PastIndex != $FaceDecal_Scars_Index 
    $needsUpdate = 1 
endif
if $FaceDecal_Tattoo_FacePastIndex != $FaceDecal_Tattoo_FaceIndex 
    $needsUpdate = 1 
endif

if $HSV_H_EYEBROWS_Past != $HSV_H_EYEBROWS || $HSV_S_EYEBROWS_Past != $HSV_S_EYEBROWS || $HSV_V_EYEBROWS_Past != $HSV_V_EYEBROWS
    $needsUpdate = 1
endif
if $HSV_H_EYELASHES_Past != $HSV_H_EYELASHES || $HSV_S_EYELASHES_Past != $HSV_S_EYELASHES || $HSV_V_EYELASHES_Past != $HSV_V_EYELASHES
    $needsUpdate = 1
endif

if $FaceDecal_Makeup_Mouth_0PastIndex != $FaceDecal_Makeup_Mouth_0Index 
    $needsUpdate = 1 
endif
if $FaceDecal_Makeup_Cheeks_0PastIndex != $FaceDecal_Makeup_Cheeks_0Index 
    $needsUpdate = 1 
endif
if $FaceDecal_Makeup_Eyeshadow_0PastIndex != $FaceDecal_Makeup_Eyeshadow_0Index 
    $needsUpdate = 1 
endif
if $FaceDecal_Makeup_Face_0PastIndex != $FaceDecal_Makeup_Face_0Index 
    $needsUpdate = 1 
endif

if $FaceDecal_Blood_Mouth_0PastIndex != $FaceDecal_Blood_Mouth_0Index 
    $needsUpdate = 1 
endif
if $FaceDecal_Blood_Cheeks_0PastIndex != $FaceDecal_Blood_Cheeks_0Index 
    $needsUpdate = 1 
endif
if $FaceDecal_Blood_Face_0PastIndex != $FaceDecal_Blood_Face_0Index 
    $needsUpdate = 1 
endif

if $FaceDecal_Cum_Mouth_0PastIndex != $FaceDecal_Cum_Mouth_0Index 
    $needsUpdate = 1 
endif
if $FaceDecal_Cum_Cheeks_0PastIndex != $FaceDecal_Cum_Cheeks_0Index 
    $needsUpdate = 1 
endif
if $FaceDecal_Cum_Eyeshadow_0PastIndex != $FaceDecal_Cum_Eyeshadow_0Index 
    $needsUpdate = 1 
endif
if $FaceDecal_Cum_Face_0PastIndex != $FaceDecal_Cum_Face_0Index 
    $needsUpdate = 1 
endif

if $FaceDecal_Misc_PastIndex != $FaceDecal_Misc_Index 
    $needsUpdate = 1 
endif


if $needsUpdate == 1
    run = CommandListAddonsFaceTexWorks.Update
endif
{% endif %}
{%endmacro%}