{# rztemplate/modules/shapes_native.j2 #}
{% import "modules/utils.j2" as utils with context %}

{# ===================================================================== #}
{#                       САБ-МАКРОСЫ (HELPERS)                           #}
{# ===================================================================== #}

{# 1. Общие глобальные переменные и логика Present #}
{% macro _macro_shared_constants_and_present(rzm) %}
[Constants]
global $shape_changed = 0
global persist $SKC_LastTime = 0
{% for config in rzm.shape_configs if not config.disable_export %}
    {% set var_name = "SKC_" ~ utils.format_var(config.shape_name) %}
    global persist ${{ var_name }} = 0
    {% if config.shape_type == "Anim" %}
        global persist ${{ var_name }}Freq = 0
        global persist ${{ var_name }}Final = 0
    {% endif %}
{% endfor %}

[Present]
local $shape_changed = 0
local $pi
$pi = 3.14159265
local $dt
$dt = time - $SKC_LastTime

{% for config in rzm.shape_configs if not config.disable_export %}
    {% set var_name = "SKC_" ~ utils.format_var(config.shape_name) %}
    local ${{ var_name }}Past
    local ${{ var_name }}Input
    
    {% if config.value_link %}
        ${{ var_name }}Input = ${{ utils.format_var(config.value_link) | trim }}
    {% else %}
        {% if config.shape_type == "Anim" %}
            ${{ var_name }}Input = 0.49
        {% else %}
            ${{ var_name }}Input = 0
        {% endif %}
    {% endif %}

    if ${{ var_name }}Past != ${{ var_name }}Input
        $shape_changed = 1
    endif

    {% if config.condition %}
    if {{ config.condition }}
    {% endif %}

    {% if config.shape_type == "Anim" %}
        {# 1. Обновляем флаг изменений если скорость не нулевая #}
        if ${{ var_name }}Input > 0.005
            $shape_changed = 1
        endif

        {# 2. Аккумуляция Freq (Стабильный дельта-таймер) #}
        ${{ var_name }}Freq = (${{ var_name }}Freq + ${{ var_name }}Input * $dt) % 1.0
        if ${{ var_name }}Freq < 0
            ${{ var_name }}Freq = ${{ var_name }}Freq + 1
        endif

        local ${{ var_name }}Weight
        ${{ var_name }}Weight = 0

        {# 3. HYBRID OVERRIDE LOGIC #}
        {% if config.override_switch_condition and config.override_switch_value_link %}
        if {{ config.override_switch_condition }}
            ${{ var_name }}Weight = ${{ utils.format_var(config.override_switch_value_link) | trim }}
        else
        {% endif %}

        {# 4. Локальные вычисления анимации #}
        local ${{ var_name }}Time
        local ${{ var_name }}Duration
        
        {# Используем множитель 10.0 как в HLSL для обратной совместимости по скорости #}
        ${{ var_name }}Time = (${{ var_name }}Freq * 10.0) % 1
        if ${{ var_name }}Time < 0
            ${{ var_name }}Time = ${{ var_name }}Time + 1
        endif

        ${{ var_name }}Duration = {{ config.anim_end_frame }} - {{ config.anim_start_frame }}
        
        if ${{ var_name }}Duration > 0 && ${{ var_name }}Time >= {{ config.anim_start_frame }} && ${{ var_name }}Time <= {{ config.anim_end_frame }}
            local ${{ var_name }}Progress
            ${{ var_name }}Progress = (${{ var_name }}Time - {{ config.anim_start_frame }}) / ${{ var_name }}Duration
            
            {% if config.anim_type_index == 1 %}
                {# Case 1: Hammer (Молоток) #}
                local ${{ var_name }}HStart
                local ${{ var_name }}HEnd
                ${{ var_name }}HStart = 0.2
                ${{ var_name }}HEnd = 0.5
                
                if ${{ var_name }}Progress < ${{ var_name }}HStart
                    $mathinA = (${{ var_name }}Progress / ${{ var_name }}HStart) * ($pi / 2.0)
                    run = CommandListMathSin
                    ${{ var_name }}Weight = $mathout
                else if ${{ var_name }}Progress <= ${{ var_name }}HEnd
                    ${{ var_name }}Weight = 1.0
                else
                    $mathinA = ( (${{ var_name }}Progress - ${{ var_name }}HEnd) / (1.0 - ${{ var_name }}HEnd) ) * ($pi / 2.0)
                    run = CommandListMathCos
                    ${{ var_name }}Weight = $mathout
                endif
            {% elif config.anim_type_index == 200 %}
                {# Case 200: Double Linear #}
                if ${{ var_name }}Progress < 0.5
                    ${{ var_name }}Weight = ${{ var_name }}Progress * 2.0 * 2.0
                else
                    ${{ var_name }}Weight = (1.0 - (${{ var_name }}Progress - 0.5) * 2.0) * 2.0
                endif
            {% else %}
                {# Case 0: Standard Sine #}
                $mathinA = ${{ var_name }}Progress * $pi
                run = CommandListMathSin
                ${{ var_name }}Weight = $mathout
            {% endif %}
        endif

        {% if config.override_switch_condition and config.override_switch_value_link %}
        endif
        {% endif %}

        {% if config.inverse %}
        ${{ var_name }}Final = 1.0 - (${{ var_name }}Weight * {{ config.multiplier }})
        {% else %}
        ${{ var_name }}Final = ${{ var_name }}Weight * {{ config.multiplier }}
        {% endif %}
    {% else %}
        {% if config.inverse %}
        ${{ var_name }} = 1.0 - (${{ var_name }}Input * {{ config.multiplier }})
        {% else %}
        ${{ var_name }} = ${{ var_name }}Input * {{ config.multiplier }}
        {% endif %}
    {% endif %}

    {% if config.condition %}
    endif
    {% endif %}

    post ${{ var_name }}Past = ${{ var_name }}Input
{% endfor %}

if $shape_changed
    run = CustomShaderComputeShapes
endif
post $shape_changed = 0
post $SKC_LastTime = time
{% endmacro %}


{# 2. Генерация секции CustomShaderComputeShapes.NAME #}
{% macro _macro_compute_section(rzm, comp_name, vertex_count, shader_path, affected_names) %}
[CustomShaderComputeShapes.{{ comp_name }}]
cs = {{ shader_path }}
cs-u5 = copy Resource_{{ comp_name }}_Base

{% for config in rzm.shape_configs if not config.disable_export %}
    {% set affected_list = [] %}
    {% for ref in config.affected_objects %}
        {% set r_name = (ref.obj_name if ref.obj_name else (ref.obj.name if ref.obj else "")) | lower %}
        {% for a_name in affected_names %}
            {% if (r_name == a_name) or (a_name in r_name) or (r_name in a_name) %}
                {% set _ = affected_list.append(1) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {% if affected_list | length > 0 %}
        {% set var_name = "SKC_" ~ utils.format_var(config.shape_name) %}
        {% if config.shape_type == "Anim" %}
        ; --- Anim Config for {{ config.shape_name }} ---
        ; multiplier = {{ config.multiplier }}
        ; window = {{ config.anim_start_frame }} -> {{ config.anim_end_frame }}
        ; type = {{ config.anim_type_index }}
        x88 = ${{ var_name }}Final
        y88 = 0
        z88 = 0.0
        w88 = 1.0
        {% else %}
        x88 = ${{ var_name }}
        {% endif %}
        cs-t50 = copy Resource_{{ comp_name }}_Base
        cs-t51 = copy Resource_{{ comp_name }}_{{ utils.format_var(config.shape_name) }}
        Resource_{{ comp_name }} = ref cs-u5
        Dispatch = {{ vertex_count }}, 1, 1
    {% endif %}
{% endfor %}
{% endmacro %}


{# 3. Генерация ресурсов (Base и Shape буферы) #}
{% macro _macro_resources(rzm, comp_name, stride, base_filename, affected_names) %}
[Resource_{{ comp_name }}_Base]
type = Buffer
stride = {{ stride }}
filename = {{ base_filename }}

{% for config in rzm.shape_configs if not config.disable_export %}
    {% set affected_list = [] %}
    {% for ref in config.affected_objects %}
        {% set r_name = (ref.obj_name if ref.obj_name else (ref.obj.name if ref.obj else "")) | lower %}
        {% for a_name in affected_names %}
            {% if (r_name == a_name) or (a_name in r_name) or (r_name in a_name) %}
                {% set _ = affected_list.append(1) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {% if affected_list | length > 0 %}
[Resource_{{ comp_name }}_{{ utils.format_var(config.shape_name) }}]
type = Buffer
stride = {{ stride }}
filename = ./SK/{{ comp_name }}_{{ utils.format_var(config.shape_name) }}.buf
    {% endif %}
{% endfor %}
{% endmacro %}


{# ===================================================================== #}
{#                       ЕДИНЫЙ ГЛАВНЫЙ МАКРОС                           #}
{# ===================================================================== #}
{# Принимает любые данные. Если данные отсутствуют, по умолчанию они none #}
{% macro shape_generate(scene, game_name, mod_file=none, extracted_object=none, merged_object=none, buffers=none) %}
{% set rzm = scene.rzm %}

{# --- КОНФИГУРАТОР СВОЙСТВ ИГР --- #}
{% set GAME_PROPS = {
    'GenshinImpact':     {'stride': 32, 'shader': './modules/position_shape_linear.hlsl',          'path_prefix': '/0/',     'path_suffix': 'Position.buf'},
    'ZenlessZoneZero':   {'stride': 40, 'shader': './modules/position_shape_linear.hlsl',          'path_prefix': '/0/',     'path_suffix': 'Position.buf'},
    'HonkaiStarRail':    {'stride': 40, 'shader': './modules/position_shape_linear.hlsl',          'path_prefix': '/0/',     'path_suffix': 'Position.buf'},
    'ArknightsEndfield': {'stride': 16, 'shader': './modules/position_shape_linear_ENDFIELD.hlsl', 'path_prefix': 'Meshes/', 'path_suffix': '.buf'},
    'WutheringWaves':    {'stride': 16, 'shader': './modules/position_shape_linear_ENDFIELD.hlsl', 'path_prefix': 'Meshes/', 'path_suffix': '.buf'}
} %}

{# Получаем свойства. Если игра не найдена, используем безопасный фоллбэк со страйдом 40 #}
{% set props = GAME_PROPS.get(game_name, {'stride': 40, 'shader': './modules/position_shape_linear.hlsl', 'path_prefix': '/0/', 'path_suffix': 'Position.buf'}) %}

{# 1. Вызов Глобальных переменных (Общие для всех) #}
{{ _macro_shared_constants_and_present(rzm) }}

[CustomShaderComputeShapes]
{# 2. Диспетчер Вызовов (формирование списка run =) #}
{% if mod_file %}
    {# Логика XXMI формата #}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != "" and component.vertex_count > 0 and component.strides %}
    run = CustomShaderComputeShapes.{{ component.fullname }}
    {% endfor %}
{% elif extracted_object and merged_object %}
    {# Логика EFMI формата #}
    {% for id, component in enumerate(extracted_object.components) %}
        {% set vb0_key = 'Component' ~ id ~ '_VB0' %}
        {% if vb0_key in buffers and merged_object.components[id].vertex_count > 0 %}
    run = CustomShaderComputeShapes.{{ vb0_key }}
        {% endif %}
    {% endfor %}
{% endif %}


{# 3. Генерация секций Compute и Ресурсов #}
{% if mod_file %}
    {# --- Обработка XXMI --- #}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != "" and component.vertex_count > 0 and component.strides %}
        {% set comp_name = component.fullname %}
        {% set affected_names = [component.fullname | lower] %}
        {% set base_filename = props.path_prefix ~ comp_name ~ props.path_suffix %}
        
        {{ _macro_compute_section(rzm, comp_name, component.vertex_count, props.shader, affected_names) }}
        {{ _macro_resources(rzm, comp_name, props.stride, base_filename, affected_names) }}
    {% endfor %}

{% elif extracted_object and merged_object %}
    {# --- Обработка EFMI --- #}
    {% for id, component in enumerate(extracted_object.components) %}
        {% set vb0_key = 'Component' ~ id ~ '_VB0' %}
        {% if vb0_key in buffers and merged_object.components[id].vertex_count > 0 %}
            {% set comp_name = vb0_key %}
            {% set vertex_count = merged_object.components[id].vertex_count %}
            {% set base_filename = props.path_prefix ~ comp_name ~ props.path_suffix %}
            
            {# Собираем имена объектов компонента #}
            {% set affected_names = [] %}
            {% for m_obj in merged_object.components[id].objects %}
                {% set _ = affected_names.append(m_obj.name | lower) %}
            {% endfor %}

            {{ _macro_compute_section(rzm, comp_name, vertex_count, props.shader, affected_names) }}
            {{ _macro_resources(rzm, comp_name, props.stride, base_filename, affected_names) }}
        {% endif %}
    {% endfor %}
{% endif %}
{% endmacro %}