{# rztemplate/modules/shapes_native.j2 #}
{% import "modules/utils.j2" as utils with context %}
{% import "modules/weights_native.j2" as weights_native with context %}

{# ===================================================================== #}
{#                       САБ-МАКРОСЫ (HELPERS)                           #}
{# ===================================================================== #}


{# 1. Общие глобальные переменные и логика Present #}
{% macro _macro_shared_constants_and_present(rzm) %}
[Constants]
global persist $SKC_LastTime = 0
{% for config in rzm.shape_configs if not config.disable_export %}
    {% set var_name = "SKC_" ~ utils.format_var(config.shape_name) %}
    global persist ${{ var_name }} = 0
    {% if config.shape_type == "Anim" %}
        global persist ${{ var_name }}Freq = 0
        global persist ${{ var_name }}Final = 0
    {% endif %}
{% endfor %}

[Present]
run = CommandListSKPresent
[CommandListSKPresent]
local $shape_changed = 0
$dt = time - $SKC_LastTime

{% for config in rzm.shape_configs if not config.disable_export %}
    {% set var_name = "SKC_" ~ utils.format_var(config.shape_name) %}
    local ${{ var_name }}Past
    local ${{ var_name }}Input
    
    {% if config.value_link %}
        ${{ var_name }}Input = ${{ utils.format_var(config.value_link) | trim }}
    {% else %}
        {% if config.shape_type == "Anim" %}
            ${{ var_name }}Input = 0.49
        {% else %}
            ${{ var_name }}Input = 0
        {% endif %}
    {% endif %}

    if ${{ var_name }}Past != ${{ var_name }}Input
        $shape_changed = 1
    endif

    {% if config.condition %}
    if {{ config.condition }}
    {% endif %}

    {% if config.shape_type == "Anim" %}
        {# 1. Обновляем флаг изменений если скорость не нулевая #}
        if ${{ var_name }}Input > 0.005
            $shape_changed = 1
        endif

        {# 2. Аккумуляция Freq (Стабильный дельта-таймер) #}
        ${{ var_name }}Freq = (${{ var_name }}Freq + ${{ var_name }}Input * $dt) % 1.0
        if ${{ var_name }}Freq < 0
            ${{ var_name }}Freq = ${{ var_name }}Freq + 1
        endif

        local ${{ var_name }}Weight
        ${{ var_name }}Weight = 0

        {# 3. HYBRID OVERRIDE LOGIC #}
        {% if config.override_switch_condition and config.override_switch_value_link %}
        if {{ config.override_switch_condition }}
            ${{ var_name }}Weight = ${{ utils.format_var(config.override_switch_value_link) | trim }}
        else
        {% endif %}

        {# 4. Локальные вычисления анимации #}
        local ${{ var_name }}Time
        local ${{ var_name }}Duration
        
        {# Используем множитель 10.0 как в HLSL для обратной совместимости по скорости #}
        ${{ var_name }}Time = (${{ var_name }}Freq * 10.0) % 1
        if ${{ var_name }}Time < 0
            ${{ var_name }}Time = ${{ var_name }}Time + 1
        endif

        ${{ var_name }}Duration = {{ config.anim_end_frame }} - {{ config.anim_start_frame }}
        
        if ${{ var_name }}Duration > 0 && ${{ var_name }}Time >= {{ config.anim_start_frame }} && ${{ var_name }}Time <= {{ config.anim_end_frame }}
            local ${{ var_name }}Progress
            ${{ var_name }}Progress = (${{ var_name }}Time - {{ config.anim_start_frame }}) / ${{ var_name }}Duration
            
            {% if config.anim_type_index == 1 %}
                {# Case 1: Hammer (Молоток) #}
                local ${{ var_name }}HStart
                local ${{ var_name }}HEnd
                ${{ var_name }}HStart = 0.2
                ${{ var_name }}HEnd = 0.5
                
                if ${{ var_name }}Progress < ${{ var_name }}HStart
                    $mathinA = (${{ var_name }}Progress / ${{ var_name }}HStart) * ($pi / 2.0)
                    run = CommandListMathSin
                    ${{ var_name }}Weight = $mathout
                else if ${{ var_name }}Progress <= ${{ var_name }}HEnd
                    ${{ var_name }}Weight = 1.0
                else
                    $mathinA = ( (${{ var_name }}Progress - ${{ var_name }}HEnd) / (1.0 - ${{ var_name }}HEnd) ) * ($pi / 2.0)
                    run = CommandListMathCos
                    ${{ var_name }}Weight = $mathout
                endif
            {% elif config.anim_type_index == 200 %}
                {# Case 200: Double Linear #}
                if ${{ var_name }}Progress < 0.5
                    ${{ var_name }}Weight = ${{ var_name }}Progress * 2.0 * 2.0
                else
                    ${{ var_name }}Weight = (1.0 - (${{ var_name }}Progress - 0.5) * 2.0) * 2.0
                endif
            {% else %}
                {# Case 0: Standard Sine #}
                $mathinA = ${{ var_name }}Progress * $pi
                run = CommandListMathSin
                ${{ var_name }}Weight = $mathout
            {% endif %}
        endif

        {% if config.override_switch_condition and config.override_switch_value_link %}
        endif
        {% endif %}

        {% if config.inverse %}
        ${{ var_name }}Final = 1.0 - (${{ var_name }}Weight * {{ config.multiplier }})
        {% else %}
        ${{ var_name }}Final = ${{ var_name }}Weight * {{ config.multiplier }}
        {% endif %}
    {% else %}
        {% set rmin = config.input_range_min %}
        {% set rmax = config.input_range_max %}
        {% set rspan = rmax - rmin %}
        {% if rmin > 0.0001 or rmax < 0.9999 %}
    ; Input range remap: [{{ "%.4f"|format(rmin) }}, {{ "%.4f"|format(rmax) }}] -> [0.0, 1.0]
    local ${{ var_name }}Remapped
            {% if rspan > 0.0001 %}
    ${{ var_name }}Remapped = (${{ var_name }}Input - {{ "%.6f"|format(rmin) }}) / {{ "%.6f"|format(rspan) }}
            {% else %}
    ${{ var_name }}Remapped = 0
            {% endif %}
    if ${{ var_name }}Remapped < 0
        ${{ var_name }}Remapped = 0
    endif
    if ${{ var_name }}Remapped > 1
        ${{ var_name }}Remapped = 1
    endif
            {% if config.inverse %}
    ${{ var_name }} = 1.0 - (${{ var_name }}Remapped * {{ config.multiplier }})
            {% else %}
    ${{ var_name }} = ${{ var_name }}Remapped * {{ config.multiplier }}
            {% endif %}
        {% else %}
            {% if config.inverse %}
    ${{ var_name }} = 1.0 - (${{ var_name }}Input * {{ config.multiplier }})
            {% else %}
    ${{ var_name }} = ${{ var_name }}Input * {{ config.multiplier }}
            {% endif %}
        {% endif %}
    {% endif %}

    {% if config.condition %}
    endif
    {% endif %}

    post ${{ var_name }}Past = ${{ var_name }}Input
{% endfor %}

if $shape_changed
    run = CustomShaderComputeShapes
    {% if weights_native.has_active_weights(rzm) == 'True' %}
    run = CustomShaderComputeWeights
    {% endif %}
endif
post $shape_changed = 0
post $SKC_LastTime = time
{% endmacro %}


{# 2. Генерация секции CustomShaderComputeShapes.NAME #}
{% macro _macro_compute_section(rzm, comp_name, vertex_count, shader_path, affected_names) %}
[CustomShaderComputeShapes.{{ comp_name }}]
cs = {{ shader_path }}
cs-u5 = copy Resource{{ comp_name }}_Base

{% if rzm.addons.debugger_info %}
; === DEBUG SHAPE MATCHING ===
; comp_name: {{ comp_name }}
; affected_names for this component: {{ affected_names }}
{% endif %}
{% for config in rzm.shape_configs if not config.disable_export %}
    {% set affected_list = [] %}
{% if rzm.addons.debugger_info %}
; --- Config: {{ config.shape_name }} ---
{% endif %}
    {% for ref in config.affected_objects %}
        {% set names_to_check = [] %}
        {% if ref.obj_name %}
            {% set _ = names_to_check.append(ref.obj_name | lower) %}
        {% elif ref.obj %}
            {% if ref.obj.type == 'MESH' and ref.obj.data %}
                {% set _ = names_to_check.append(ref.obj.data.name | lower) %}
            {% endif %}
            {% set _ = names_to_check.append(ref.obj.name | lower) %}
        {% endif %}
        
{% if rzm.addons.debugger_info %}
; Names to check: {{ names_to_check }}
{% endif %}
        {% for a_name in affected_names %}
{% if rzm.addons.debugger_info %}
;   Comparing with a_name: "{{ a_name }}"
{% endif %}
            {% for r_name in names_to_check %}
                {% if (r_name == a_name) or (a_name in r_name) or (r_name in a_name) %}
{% if rzm.addons.debugger_info %}
;   >> MATCH FOUND! <<
{% endif %}
                    {% set _ = affected_list.append(1) %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    
    {% if affected_list | length > 0 %}
        {% set var_name = "SKC_" ~ utils.format_var(config.shape_name) %}
        {% if config.shape_type == "Anim" %}
        ; --- Anim Config for {{ config.shape_name }} ---
        ; multiplier = {{ config.multiplier }}
        ; window = {{ config.anim_start_frame }} -> {{ config.anim_end_frame }}
        ; type = {{ config.anim_type_index }}
        x88 = ${{ var_name }}Final
        y88 = 0
        z88 = 0.0
        w88 = 1.0
        {% else %}
        x88 = ${{ var_name }}
        {% endif %}
        cs-t50 = copy Resource{{ comp_name }}_Base
        cs-t51 = copy Resource{{ comp_name }}_{{ utils.format_var(config.shape_name) }}
        Resource{% if rzm.game.selection in ["ArknightsEndfield", "WutheringWaves"] %}_{% endif %}{{ comp_name }}{% if rzm.game.selection in ["ArknightsEndfield", "WutheringWaves"] %}_VB0{% else %}Position{% endif %} = ref cs-u5
        Dispatch = ({{ vertex_count }} + 1023) // 1024, 1, 1
    {% endif %}
{% endfor %}


  
cs-u5 = null
cs-t50 = null
cs-t51 = null
{% endmacro %}


{# 3. Генерация ресурсов (Base и Shape буферы) #}
{% macro _macro_resources(rzm, comp_name, stride, base_filename, affected_names) %}
[Resource{{ comp_name }}_Base]
type = Buffer
stride = {{ stride }}
filename = {{ base_filename }}

{% for config in rzm.shape_configs if not config.disable_export %}
    {% set affected_list = [] %}
    {% for ref in config.affected_objects %}
        {% set names_to_check = [] %}
        {% if ref.obj_name %}
            {% set _ = names_to_check.append(ref.obj_name | lower) %}
        {% elif ref.obj %}
            {% if ref.obj.type == 'MESH' and ref.obj.data %}
                {% set _ = names_to_check.append(ref.obj.data.name | lower) %}
            {% endif %}
            {% set _ = names_to_check.append(ref.obj.name | lower) %}
        {% endif %}
        
        {% for a_name in affected_names %}
            {% for r_name in names_to_check %}
                {% if (r_name == a_name) or (a_name in r_name) or (r_name in a_name) %}
                    {% set _ = affected_list.append(1) %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    
    {% if affected_list | length > 0 %}
[Resource{{ comp_name }}_{{ utils.format_var(config.shape_name) }}]
type = Buffer
stride = {{ stride }}
filename = ./SK/{{ comp_name }}_{{ utils.format_var(config.shape_name) }}.buf
    {% endif %}
{% endfor %}
{% endmacro %}


{# ===================================================================== #}
{#                       ЕДИНЫЙ ГЛАВНЫЙ МАКРОС                           #}
{# ===================================================================== #}
{# Принимает любые данные. Если данные отсутствуют, по умолчанию они none #}
{% macro shape_generate(scene, game_name, mod_file=none, extracted_object=none, merged_object=none, buffers=none) %}
{% set rzm = scene.rzm %}

{# --- КОНФИГУРАТОР СВОЙСТВ ИГР --- #}
{% set GAME_PROPS = {
    'GenshinImpact':     {'stride': 40, 'shader': './modules/position_shape_linear.hlsl',          'path_prefix': '',     'path_suffix': 'Position.buf'},
    'ZenlessZoneZero':   {'stride': 40, 'shader': './modules/position_shape_linear.hlsl',          'path_prefix': '',     'path_suffix': 'Position.buf'},
    'HonkaiStarRail':    {'stride': 40, 'shader': './modules/position_shape_linear.hlsl',          'path_prefix': '',     'path_suffix': 'Position.buf'},
    'ArknightsEndfield': {'stride': 16, 'shader': './modules/position_shape_linear_ENDFIELD.hlsl', 'path_prefix': 'Meshes/', 'path_suffix': '.buf'},
    'WutheringWaves':    {'stride': 16, 'shader': './modules/position_shape_linear_ENDFIELD.hlsl', 'path_prefix': 'Meshes/', 'path_suffix': '.buf'}
} %}

{# Получаем свойства. Если игра не найдена, используем безопасный фоллбэк со страйдом 40 #}
{% set props = GAME_PROPS.get(game_name, {'stride': 40, 'shader': './modules/position_shape_linear.hlsl', 'path_prefix': '/0/', 'path_suffix': 'Position.buf'}) %}

{# 1. Вызов Глобальных переменных (Общие для всех) #}
{{ _macro_shared_constants_and_present(rzm) }}

[CustomShaderComputeShapes]
{# 2. Диспетчер Вызовов (формирование списка run =) #}
{% if rzm_is_quick_export|default(false) and rzm_export_cache|default(none) and rzm_export_cache.components is defined %}
    {% for base_name, comp_data in rzm_export_cache.components.items() %}
    {% set raw_comp_name = rzm_export_cache.mod_name ~ base_name if rzm_export_cache.source == 'xxmi' else base_name %}
    {% set comp_name = utils.format_from_idiot(raw_comp_name) %}
    run = CustomShaderComputeShapes.{{ comp_name }}
    {% endfor %}
{% elif mod_file %}
    {# Логика XXMI формата #}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != "" and component.vertex_count > 0 and component.strides %}
    run = CustomShaderComputeShapes.{{ component.fullname }}
    {% endfor %}
{% elif extracted_object and merged_object %}
    {# Логика EFMI формата #}
    {% for id, component in enumerate(extracted_object.components) %}
        {% set vb0_lookup = 'Component' ~ id ~ '_VB0' %}
        {% if vb0_lookup in buffers and merged_object.components[id].vertex_count > 0 %}
    run = CustomShaderComputeShapes.Component{{ id }}
        {% endif %}
    {% endfor %}
{% endif %}


{# 3. Генерация секций Compute и Ресурсов #}
{% if rzm_is_quick_export|default(false) and rzm_export_cache|default(none) and rzm_export_cache.components is defined %}
    {# --- Обработка из Кэша (Quick Export) --- #}
    {% for base_name, comp_data in rzm_export_cache.components.items() %}
        {% set raw_comp_name = rzm_export_cache.mod_name ~ base_name if rzm_export_cache.source == 'xxmi' else base_name %}
        {% set comp_name = utils.format_from_idiot(raw_comp_name) %}
        {% set vertex_count = comp_data.n_verts %}
        {% set vb0_suff = '_VB0' if game_name in ["ArknightsEndfield", "WutheringWaves"] else '' %}
        {% set base_filename = props.path_prefix ~ comp_name ~ vb0_suff ~ props.path_suffix %}
        
        {# Собираем имена объектов компонента из кэша #}
        {% set affected_names = [raw_comp_name | lower] %}
        {% for obj_data in comp_data.objects %}
            {% set _ = affected_names.append(obj_data.name | lower) %}
        {% endfor %}
        
        {{ _macro_compute_section(rzm, comp_name, vertex_count, props.shader, affected_names) }}
        {{ _macro_resources(rzm, comp_name, props.stride, base_filename, affected_names) }}
    {% endfor %}

{% elif mod_file %}
    {# --- Обработка XXMI --- #}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != "" and component.vertex_count > 0 and component.strides %}
        {% set comp_name = utils.format_from_idiot(component.fullname) %}
        {% set affected_names = [component.fullname | lower] %}
        {% for part in component.parts %}
            {% set _ = affected_names.append(part.fullname | lower) %}
            {% for sub in part.objects %}
                {% set _ = affected_names.append(sub.name | lower) %}
            {% endfor %}
        {% endfor %}
        
        {% set vb0_suff = '_VB0' if game_name in ["ArknightsEndfield", "WutheringWaves"] else '' %}
        {% set base_filename = props.path_prefix ~ comp_name ~ vb0_suff ~ props.path_suffix %}
        
        {{ _macro_compute_section(rzm, comp_name, component.vertex_count, props.shader, affected_names) }}
        {{ _macro_resources(rzm, comp_name, props.stride, base_filename, affected_names) }}
    {% endfor %}

{% elif extracted_object and merged_object %}
    {# --- Обработка EFMI --- #}
    {% for id, component in enumerate(extracted_object.components) %}
        {% set vb0_lookup = 'Component' ~ id ~ '_VB0' %}
        {% if vb0_lookup in buffers and merged_object.components[id].vertex_count > 0 %}
            {% set comp_name = 'Component' ~ id %}
            {% set vertex_count = buffers[vb0_lookup] | length %}
            {% set base_filename = props.path_prefix ~ comp_name ~ '_VB0' ~ props.path_suffix %}
            
            {# Собираем имена объектов компонента #}
            {% set affected_names = [] %}
            {% for m_obj in merged_object.components[id].objects %}
                {% set _ = affected_names.append(m_obj.name | lower) %}
            {% endfor %}

            {{ _macro_compute_section(rzm, comp_name, vertex_count, props.shader, affected_names) }}
            {{ _macro_resources(rzm, comp_name, props.stride, base_filename, affected_names) }}
        {% endif %}
    {% endfor %}
{% endif %}
{% endmacro %}