{% macro snippet()%}
	[TextureOverrideNeferHeadDiffuse]
	hash = 346c7248
	; this = ResourceNeferHeadDiffuse
	this = ResourceAtlasDiffuse

	;[ResourceNeferHeadDiffuse]
	;filename = NeferHeadDiffuse.dds

	[TextureOverrideNeferHeadLightMap]
	hash = ba71406c
	; this = ResourceNeferHeadLightMap
	this = ResourceAtlasLightMap

	[ResourceNeferHeadLightMap]
	filename = NeferHeadLightMap.dds

	[TextureOverrideNeferBodyLightMap]
	hash = f255d7e3
	; this = ResourceNeferBodyLightMap
	this = ResourceAtlasLightMap

	[ResourceNeferBodyLightMap]
	filename = NeferBodyLightMap.dds

	[TextureOverrideNeferBodyNormalMap]
	hash = f4991733
	; this = ResourceNeferBodyNormalMap
	this = ResourceAtlasNormalMap

	[ResourceNeferBodyNormalMap]
	filename = NeferBodyNormalMap.dds

	[TextureOverrideNeferBodyDiffuse]
	hash = 70086643
	; this = ResourceNeferBodyDiffuse
	this = ResourceAtlasDiffuse

	;[ResourceNeferBodyDiffuse]
	;filename = NeferBodyDiffuse.dds

	[TextureOverrideNeferBangsHeadNormalMap]
	hash = 4a88778c
	; this = ResourceNeferBangsHeadNormalMap
	this = ResourceAtlasNormalMap

	[ResourceNeferBangsHeadNormalMap]
	filename = NeferBangsHeadNormalMap.dds

	[ResourceAtlasLightMap]
	filename = tex/AtlasLightMap.dds
	[ResourceAtlasNormalMap]
	filename = tex/AtlasNormalMap.dds
{% endmacro %}