{% macro snippet()%}
;FACE SEGMENT
;[TextureOverrideFaceComponentIB]
;hash = ddf4efa6
;run = CommandListSkinTexture

[Constants]
global $facetexw = 1024
global $facetexh = 1024

[TextureOverrideFaceDiffuse]
hash = 0cd456af
this = ResourceFaceDiffuse
if this === null
	ps-t1 = ResourceFaceDiffuse
endif

[ResourceFaceBaseDiffuse]
filename = tex/Face.dds

[ResourceMakeupLips]
filename = /modules/facetexworks/makeup/lips.png

[CustomShaderUpdateFaceDiffuse]
cs = /modules/facetexworks/cs_update_region.hlsl
cs-u0 = ref ResourceFaceDiffuse
cs-t0 = ResourceFaceBaseDiffuse
x44 = 0
y44 = 0
z44 = $facetexw
w44 = $facetexh
dispatch = $facetexw // 32, $facetexh //32, 1

[CustomShaderDecalMakeupFaceDiffuse]
cs = /modules/facetexworks/makeup/decal_draw.hlsl
cs-u0 = ResourceFaceDiffuse
cs-t1 = ResourceDecalFaceMakeupDataBuffer
cs-t60 = ResourceMakeupLips
x44 = 0
y44 = 0
z44 = $facetexw
w44 = $facetexh
dispatch = $facetexw // 32, $facetexh //32, 1

[ResourceFaceDiffuse]
type = RWTexture2D
width = 1024
height = 1024
format = DXGI_FORMAT_R8G8B8A8_TYPELESS
array = 1
msaa = 1
mips = 1

;DataFaceCompute

[CommandListAddonsFaceTexWorks]
run = CustomShaderUpdateFaceDiffuse
run = CommandListDecalFaceMakeupUpdate
run = CustomShaderDecalMakeupFaceDiffuse

[Constants]
global persist $FaceDecalMakeupFace0Index
global persist $FaceDecalMakeupLips0Index
global persist $FaceDecalMakeupEyeshadow
global persist $FaceDecalMakeupCheek
global $FaceDecalMakeupLips0PastIndex
global $FaceDecalMakeupFace0PastIndex
[Present]
post $FaceDecalMakeupLips0PastIndex = $FaceDecalMakeupLips0Index
post $FaceDecalMakeupFace0PastIndex = $FaceDecalMakeupFace0Index
if $FaceDecalMakeupLips0PastIndex != $FaceDecalMakeupLips0Index
run = CommandListAddonsFaceTexWorks
endif
if $FaceDecalMakeupFace0PastIndex != $FaceDecalMakeupFace0Index
run = CommandListAddonsFaceTexWorks
endif

[CommandListDecalFaceMakeupUpdate]
run = CommandListDecalFaceMakeupFaceCompute
run = CommandListDecalFaceMakeupLipsCompute

[CommandListDecalFaceMakeupFaceCompute]
; x70 = 0
; y70 = 1
; run = CustomShaderDecalFaceMakeupController
[CommandListDecalFaceMakeupLipsCompute]
x70 = 0
y70 = $FaceDecalMakeupLips0Index
run = CustomShaderDecalFaceMakeupController

[CustomShaderDecalFaceMakeupController]
cs-u0 = ResourceDecalFaceMakeupDataBuffer
cs = /modules/facetexworks/makeup/decal_compute.hlsl
dispatch = 1, 1, 1

[ResourceDecalFaceMakeupDataBuffer]
type = RWBuffer
format = R32G32_UINT
array = 16
{% endmacro %}

{#% macro snippet()%}
	[TextureOverrideNeferHeadDiffuse]
	hash = 346c7248
	; this = ResourceNeferHeadDiffuse
	this = ResourceAtlasDiffuse

	;[ResourceNeferHeadDiffuse]
	;filename = NeferHeadDiffuse.dds

	[TextureOverrideNeferHeadLightMap]
	hash = ba71406c
	; this = ResourceNeferHeadLightMap
	this = ResourceAtlasLightMap

	[ResourceNeferHeadLightMap]
	filename = NeferHeadLightMap.dds

	[TextureOverrideNeferBodyLightMap]
	hash = f255d7e3
	; this = ResourceNeferBodyLightMap
	this = ResourceAtlasLightMap

	[ResourceNeferBodyLightMap]
	filename = NeferBodyLightMap.dds

	[TextureOverrideNeferBodyNormalMap]
	hash = f4991733
	; this = ResourceNeferBodyNormalMap
	this = ResourceAtlasNormalMap

	[ResourceNeferBodyNormalMap]
	filename = NeferBodyNormalMap.dds

	[TextureOverrideNeferBodyDiffuse]
	hash = 70086643
	; this = ResourceNeferBodyDiffuse
	this = ResourceAtlasDiffuse

	;[ResourceNeferBodyDiffuse]
	;filename = NeferBodyDiffuse.dds

	[TextureOverrideNeferBangsHeadNormalMap]
	hash = 4a88778c
	; this = ResourceNeferBangsHeadNormalMap
	this = ResourceAtlasNormalMap

	[ResourceNeferBangsHeadNormalMap]
	filename = NeferBangsHeadNormalMap.dds

	[ResourceAtlasLightMap]
	filename = tex/AtlasLightMap.dds
	[ResourceAtlasNormalMap]
	filename = tex/AtlasNormalMap.dds
{% endmacro %#}