{% macro snippet()%}
[TextureOverrideEvernightHairADiffuse]
	hash = 800f0a85
	this = ResourceEvernightHairADiffuse
	[TextureOverrideEvernightHairALightMap]
	hash = 83a1622b
	this = ResourceEvernightHairALightMap
	[ResourceEvernightHairADiffuse]
	filename = tex/EvernightHairADiffuse.dds
	[ResourceEvernightHairALightMap]
	filename = tex/EvernightHairALightMap.dds

	;[TextureOverrideEvernightFaceADiffuse]
	;hash = 5d5d1c29
	;this = ResourceEvernightFaceADiffuse

	[TextureOverrideEvernightBodyADiffuse]
	hash = 75a3a1e4
	this = ResourceAtlasDiffuse
	[TextureOverrideEvernightBodyALightMap]
	hash = a44e80eb
	this = ResourceAtlasLightMap
	[TextureOverrideEvernightBodyAExtraMap]
	hash = b79a3a2d
	this = ResourceAtlasExtraMap


	;[ResourceEvernightFaceADiffuse]
	;filename = EvernightFaceADiffuse.dds


	[ResourceEvernightBodyALightMap]
	filename = tex/EvernightBodyALightMap.dds
	[ResourceEvernightBodyAExtraMap]
	filename = tex/EvernightBodyAExtraMap.dds

	[ResourceAtlasLightMap]
	filename = tex/EvernightBodyALightMap.dds
	[ResourceAtlasExtraMap]
	filename = tex/EvernightBodyAExtraMap.dds

	;BaseMeshRes
	[ResourceBaseMeshLightMap]
	filename = tex/BaseMeshLightMap.dds

	[ResourceBaseMeshExtraMap]
	filename = tex/BaseMeshExtraMap.dds
{% endmacro %}