{% import "modules/utils.j2" as utils with context %}
{# --- Вспомогательный макрос: Получение реального объекта --- #}
{% macro _get_real_object(input_obj) -%}
    {%- set obj_name = input_obj.name if input_obj.name is defined else input_obj -%}
    {%- if scene is defined and obj_name in scene.objects -%}
        {{- scene.objects[obj_name] -}}
    {%- endif -%}
{%- endmacro %}

{# --- ГЛАВНЫЙ МАКРОС ОТРИСОВКИ --- #}
{# 
   input_obj: Объект из цикла (EFMI obj или XXMI entry)
   draw_mode: 'simple' (drawindexed) или 'instanced' (drawindexedinstanced)
   override_count: Если нужно вручную передать кол-во индексов
   override_offset: Если нужно вручную передать оффсет
#}
{% macro smart_draw(input_obj, draw_mode='simple', override_count=none, override_offset=none) %}
    
    {# 1. Находим реальный объект в сцене для доступа к Custom Properties #}
    {% set obj_name = input_obj.name if input_obj.name is defined else input_obj %}
    {% set real_obj = none %}
    {% if scene is defined and obj_name in scene.objects %}
        {% set real_obj = scene.objects[obj_name] %}
    {% endif %}

    {# 2. Определяем данные для отрисовки #}
    {% set idx_count = override_count if override_count is not none else input_obj.index_count %}
    
    {% set idx_offset = override_offset %}
    {% if idx_offset is none %}
        {% if input_obj.index_offset is defined %}
            {% set idx_offset = input_obj.index_offset %}
        {% elif input_obj.first_index is defined %}
            {% set idx_offset = input_obj.first_index %}
        {% else %}
             {% set idx_offset = 0 %}
        {% endif %}
    {% endif %}

    {# 3. Логика SkipDraw #}
    {% set skip = false %}
    {% if real_obj and real_obj.get("SkipDraw", 0) == 1 %}
        {% set skip = true %}
    {% endif %}

    {# 4. Тогглы #}
    {% set active_toggles = [] %}
    {% if real_obj %}
        {% for key, value in real_obj.items() %}
            {% if key.startswith('rzm.Toggle.') %}
                {% set toggle_name = key[11:] %}
                {% set toggle_indices = [] %}
                {% if value is iterable and value is not string %}
                    {% for v in value %}{% if v == 1 %}{% set _ = toggle_indices.append(loop.index0) %}{% endif %}{% endfor %}
                {% elif value == 1 %}
                    {% set _ = toggle_indices.append(1) %}
                {% endif %}
                
                {% if toggle_indices %}
                    {% set _ = active_toggles.append(toggle_name) %}
                    if ${{utils.format_var(toggle_name)}} == {{ toggle_indices|join(' || $' + toggle_name + ' == ') }}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {# 4.5. КАСТОМНЫЕ ТЕКСТУРЫ (TexSlot) #}
    {# Используем массив, так как он мутирует внутри цикла без ошибок #}
    {% set found_textures = [] %}
    {% if real_obj %}
        {% for key, value in real_obj.items() %}
            {% if key.startswith('rzm.TexSlot.') %}
                {% set slot_name = key[12:] %}
            Resource\ZZMI\{{ slot_name }} = ref {{ value }}
                {% set _ = found_textures.append(1) %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {# 5. КОМАНДА ОТРИСОВКИ #}
        {% if skip %}
            ;DrawSkip
            ;drawindexedinstanced = {{ idx_count }}, INSTANCE_COUNT, {{ idx_offset }}, 0, FIRST_INSTANCE
        {% elif draw_mode == 'instanced' %}
            drawindexedinstanced = {{ idx_count }}, INSTANCE_COUNT, {{ idx_offset }}, 0, FIRST_INSTANCE
        {% else %}
            drawindexed = {{ idx_count }}, {{ idx_offset }}, 0
        {% endif %}

    {# 5.5. ВЫЗОВ КОМАНДЫ SETTEXTURES #}
        {# Если в массиве есть хотя бы один элемент, значит текстуры были #}
        {% if found_textures %}
            run = CommandList\ZZMI\SetTextures
        {% endif %}

    {# 6. CUSTOM SHADERS (XXMI Logic) #}
    {% if real_obj %}
        {% set cd_draw_type = 4 if scene.rzm.game.selection == 'ArknightsEndfield' else 2 %}
        {% for key, value in real_obj.items() %}
            {% if key.startswith('CustomDraw.') %}
                {% set cd_name = key[11:] %}
                    
            $CD_INDEX_COUNT = {{ idx_count }}
            $CD_INSTANCE_COUNT = INSTANCE_COUNT
            $CD_FIRST_INDEX = {{ idx_offset }}
            $CD_FIRST_VERTEX = 0
            $CD_FIRST_INSTANCE = FIRST_INSTANCE
            $CD_draw_type = {{ cd_draw_type }}
            run = CustomShader.rzm.CustomDraw.{{ cd_name }}
            {% endif %}
        {% endfor %}

        {# 7. ЗАКРЫТИЕ ТОГГЛОВ #}
        {% for t in active_toggles %}
            endif
        {% endfor %}

    {% endif %}
{% endmacro %}