{% import "modules/utils.j2" as utils with context %}
{# --- Вспомогательный макрос: Получение реального объекта --- #}
{% macro _get_real_object(input_obj) %}
    {% set obj_name = input_obj.name if input_obj.name is defined else input_obj %}
    {% if scene is defined and obj_name in scene.objects %}
        {{- scene.objects[obj_name] -}}
    {% endif %}
{% endmacro %}

{# --- ГЛАВНЫЙ МАКРОС ОТРИСОВКИ --- #}
{# 
   input_obj: Объект из цикла (EFMI obj или XXMI entry)
   draw_mode: 'simple' (drawindexed) или 'instanced' (drawindexedinstanced)
   override_count: Если нужно вручную передать кол-во индексов
   override_offset: Если нужно вручную передать оффсет
#}
{% macro smart_draw(input_obj, draw_mode='simple', override_count=none, override_offset=none) %}
    {# [RZ] MESH METADATA TAG #}
    {% set obj_name = input_obj.name if input_obj.name is defined else input_obj %}
    {% set real_obj = none %}
    {% if scene is defined and obj_name in scene.objects %}{% set real_obj = scene.objects[obj_name] %}{% endif %}
    
    {% set mesh_tags = utils.tier_tags_mesh(real_obj or input_obj, scene) %}
    {% if mesh_tags %}
    ;[META-INFO] [START] [DELETE] [MESH] [{{ obj_name }}] {{ mesh_tags }}
    {% endif %}
    
    {# 1. Находим реальный объект в сцене для доступа к Custom Properties #}
    {% set obj_name = input_obj.name if input_obj.name is defined else input_obj %}
    {% set real_obj = none %}
    {% if scene is defined and obj_name in scene.objects %}
        {% set real_obj = scene.objects[obj_name] %}
    {% endif %}

    {# 2. Определяем данные для отрисовки #}
    {% set idx_count = override_count if override_count is not none else input_obj.index_count %}
    
    {% set idx_offset = override_offset %}
    {% if idx_offset is none %}
        {% if input_obj.index_offset is defined %}
            {% set idx_offset = input_obj.index_offset %}
        {% elif input_obj.first_index is defined %}
            {% set idx_offset = input_obj.first_index %}
        {% else %}
             {% set idx_offset = 0 %}
        {% endif %}
    {% endif %}

    {# 3. Логика SkipDraw #}
    {% set skip = false %}
    {% if real_obj and real_obj.get("SkipDraw", 0) == 1 %}
        {% set skip = true %}
    {% endif %}

    {# 4. Тогглы #}
    {% set active_toggles = [] %}
    {% if real_obj %}
        {% for key, value in real_obj.items() %}
            {% if key.startswith('rzm.Toggle.') %}
                {% set toggle_name = key[11:] %}
                {% set toggle_indices = [] %}
                {% if value is iterable and value is not string %}
                    {% for v in value %}{% if v == 1 %}{% set _ = toggle_indices.append(loop.index0) %}{% endif %}{% endfor %}
                {% elif value == 1 %}
                    {% set _ = toggle_indices.append(1) %}
                {% endif %}
                
                {% if toggle_indices %}
                    {% set _ = active_toggles.append(toggle_name) %}
                    if ${{utils.format_var(toggle_name, none, scene)}} == {{ toggle_indices|join(' || $' + toggle_name + ' == ') }}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {# 4.5. КАСТОМННЫЕ ТЕКСТУРЫ (TexSlot & TexCond) #}
    {% set found_textures = [] %}
    {% if real_obj %}
        {# 1. Сбор уникальных условий для текстур #}
        {% set unique_conditions = [] %}
        {% for key in real_obj.keys() if key.startswith('rzm.TexSlot.') %}
            {% set slot_id = key[12:] %}
            {% set cond_key = 'rzm.TexCond.' + slot_id %}
            {% set cond_val = real_obj.get(cond_key, "") %}
            {% if cond_val and cond_val not in unique_conditions %}
                {% set _ = unique_conditions.append(cond_val) %}
            {% endif %}
        {% endfor %}

        {# 2. Сначала выводим текстуры БЕЗ условий #}
        {% for key, value in real_obj.items() if key.startswith('rzm.TexSlot.') %}
            {% set slot_id = key[12:] %}
            {# --- МЕХАНИЗМ КОРРЕКЦИИ: отсекаем .1, .2 и т.д. --- #}
            {% set clean_slot_id = slot_id.split('.')[0] %}
            
            {% set cond_key = 'rzm.TexCond.' + slot_id %}
            {% if cond_key not in real_obj %}
                {% set safe_val = value | string %}
                {% if safe_val.startswith('Resource\\') %}{% set safe_val = safe_val[9:] %}
                {% elif safe_val.startswith('Resource') %}{% set safe_val = safe_val[8:] %}
                {% endif %}
            Resource\ZZMI\{{ clean_slot_id }} = ref Resource{{ safe_val }}
                {% set _ = found_textures.append(1) %}
            {% endif %}
        {% endfor %}

        {# 3. Группируем текстуры под их условиями (if blocks) #}
        {% for cond in unique_conditions %}
            if {{ utils.normalize_all_vars(cond, none, scene) }}
            {% for key, value in real_obj.items() if key.startswith('rzm.TexSlot.') %}
                {% set slot_id = key[12:] %}
                {# --- МЕХАНИЗМ КОРРЕКЦИИ: отсекаем .1, .2 и т.д. --- #}
                {% set clean_slot_id = slot_id.split('.')[0] %}

                {% if real_obj.get('rzm.TexCond.' + slot_id) == cond %}
                    {% set safe_val = value | string %}
                    {% if safe_val.startswith('Resource\\') %}{% set safe_val = safe_val[9:] %}
                    {% elif safe_val.startswith('Resource') %}{% set safe_val = safe_val[8:] %}
                    {% endif %}
                Resource\ZZMI\{{ clean_slot_id }} = ref Resource{{ safe_val }}
                    {% set _ = found_textures.append(1) %}
                {% endif %}
            {% endfor %}
            endif
        {% endfor %}
    {% endif %}
    {# Если в массиве есть хотя бы один элемент, значит текстуры были #}
    {% if found_textures %}
        run = CommandList\ZZMI\SetTextures
    {% endif %}
    {# 5. КОМАНДА ОТРИСОВКИ #}
    {# --- RZM HOVER: read integer mode (1=Collider, 2=HideWhenHovered, 3=AppearWhenHovered) --- #}
    {% set _hov = {'mode': 0, 'has_hover': false} %}
    {% if real_obj %}
        {% set hover_val = real_obj.get('rzm.Hover', 0) %}
        {% if hover_val and hover_val | int > 0 %}
            {% if _hov.update({'mode': hover_val | int, 'has_hover': true}) %}{% endif %}
        {% endif %}
    {% endif %}



    {# --- Actual draw command --- #}
        {% if skip %}
            ;DrawSkip
            ;drawindexedinstanced = {{ idx_count }}, INSTANCE_COUNT, {{ idx_offset }}, 0, FIRST_INSTANCE
        {% elif _hov.mode == 1 or _hov.mode == 4 %}
            {# Collider / Click Collider: normal draw, no wrapping. Object is registered in ObjectMap only. #}
            {# Hint: use $Detected == {{ idx_offset }} in other modules to react to this object. #}
            {% if draw_mode == 'instanced' %}
            drawindexedinstanced = {{ idx_count }}, INSTANCE_COUNT, {{ idx_offset }}, 0, FIRST_INSTANCE
            {% else %}
            drawindexed = {{ idx_count }}, {{ idx_offset }}, 0
            {% endif %}
        {% elif _hov.mode == 2 or _hov.mode == 5 %}
if $Detected != {{ idx_offset }}
            {% if draw_mode == 'instanced' %}
    drawindexedinstanced = {{ idx_count }}, INSTANCE_COUNT, {{ idx_offset }}, 0, FIRST_INSTANCE
            {% else %}
    drawindexed = {{ idx_count }}, {{ idx_offset }}, 0
            {% endif %}
endif
        {% elif _hov.mode == 3 or _hov.mode == 6 %}
if $Detected == {{ idx_offset }}
            {% if draw_mode == 'instanced' %}
    drawindexedinstanced = {{ idx_count }}, INSTANCE_COUNT, {{ idx_offset }}, 0, FIRST_INSTANCE
            {% else %}
    drawindexed = {{ idx_count }}, {{ idx_offset }}, 0
            {% endif %}
endif
        {% elif draw_mode == 'instanced' %}
            drawindexedinstanced = {{ idx_count }}, INSTANCE_COUNT, {{ idx_offset }}, 0, FIRST_INSTANCE
        {% else %}
            drawindexed = {{ idx_count }}, {{ idx_offset }}, 0
        {% endif %}

    {# 6. CUSTOM SHADERS (XXMI Logic) #}
    {% if real_obj %}
        {% set cd_draw_type = 4 if scene.rzm.game.selection == 'ArknightsEndfield' else 2 %}
        {% for key, value in real_obj.items() %}
            {% if key.startswith('CustomDraw.') %}
                {% set cd_name = key[11:] %}
                    
            $CD_INDEX_COUNT = {{ idx_count }}
            $CD_INSTANCE_COUNT = INSTANCE_COUNT
            $CD_FIRST_INDEX = {{ idx_offset }}
            $CD_FIRST_VERTEX = 0
            $CD_FIRST_INSTANCE = FIRST_INSTANCE
            $CD_draw_type = {{ cd_draw_type }}
            {% if cd_name == 'FRAMETRACE' and scene.rzm.addons.frame_trace == 1 %}
                {% set safe_name = utils.format_from_idiot(real_obj.name) %}
            run = CustomShader{{ safe_name }}Sandevistan
            run = CustomShader.rzm.CustomDraw.FRAMETRACE
            {% else %}
            run = CustomShader.rzm.CustomDraw.{{ cd_name }}
            {% endif %}
            {% endif %}
        {% endfor %}

        {# 7. ЗАКРЫТИЕ ТОГГЛОВ #}
        {% for t in active_toggles %}
            endif
        {% endfor %}

    {% endif %}
    
    {% if mesh_tags %}
    ;[META-INFO] [END] [DELETE] [MESH] [{{ obj_name }}] {{ mesh_tags }}
    {% endif %}
{% endmacro %}

{% macro curve_custom_draw(curve, idx_count, idx_offset) -%}
    {% set real_obj = scene.objects.get(curve.name) if scene and scene.objects else none %}
    {% if real_obj %}
        {% set cd_draw_type = 4 if scene.rzm.game.selection == 'ArknightsEndfield' else 2 %}
        {% for key, value in real_obj.items() if key.startswith('CustomDraw.') %}
            {% set cd_name = key[11:] %}
            {% if not cd_name.startswith('RabbitFxPreset') %}
            $CD_INDEX_COUNT = {{ idx_count }}
            $CD_INSTANCE_COUNT = INSTANCE_COUNT
            $CD_FIRST_INDEX = {{ idx_offset }}
            $CD_FIRST_VERTEX = 0
            $CD_FIRST_INSTANCE = FIRST_INSTANCE
            $CD_draw_type = {{ cd_draw_type }}
            {% endif %}
            {% if cd_name == 'FRAMETRACE' and scene.rzm.addons.frame_trace == 1 %}
                {% set safe_name = utils.format_from_idiot(real_obj.name) %}
            run = CustomShader{{ safe_name }}Sandevistan
            run = CustomShader.rzm.CustomDraw.FRAMETRACE
            {% else %}
            run = CustomShader.rzm.CustomDraw.{{ cd_name }}
            {% endif %}
        {% endfor %}
    {% endif %}
{%- endmacro %}
