{% import "rz_helper.j2" as helper with context %}
{% import "modules/utils.j2" as utils with context %}

{% macro get_vfx_vertex_count(scene, component) %}
    {%- set assoc_curves = [] -%}
    {%- if scene and scene.objects -%}
        {%- for obj in scene.objects if obj.type == 'CURVE' and obj.get('RZM.CURVE_VFX') -%}
            {%- for col in obj.users_collection -%}
                {%- for part in component.parts -%}
                    {%- for entry in part.objects if entry.vertex_count > 0 -%}
                        {%- for col_obj in col.objects if col_obj.name == entry.name -%}
                            {%- if obj not in assoc_curves -%}
                                {%- if assoc_curves.append(obj) %}{% endif -%}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor -%}
                {%- endfor -%}
            {%- endfor -%}
        {%- endfor -%}
    {%- endif -%}
    {%- set result = [0] -%}
    {%- for curve in assoc_curves -%}
        {%- set p_count = curve.get("RZM.CURVE_VFX.PARTICLE_COUNT") | default(1) | int -%}
        {%- set fx_type = curve.get("RZM.CURVE_VFX.MESH_FX_TYPE") | default(0) | int -%}
        {%- set vpp = 3 -%}
        {%- if fx_type == 1 -%}{%- set vpp = 4 -%}{%- endif -%}
        {%- if fx_type == 2 -%}{%- set vpp = 7 -%}{%- endif -%}
        {# fx_type 3 = Custom Mesh stub → fallback triangle (vpp stays 3) #}
        {%- if result.append(result.pop() + p_count * vpp) %}{% endif -%}
    {%- endfor -%}
    {{- result[-1] -}}
{%- endmacro %}

{% macro overridesbuffers(mod_file,scene) %}
    {{ utils.cm_debug_dump(mod_file, scene) }}
    {#--- ОБРАБОТКА КОМПОНЕНТОВ С BLEND И POSITION БУФЕРАМИ ---#}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != "" and component.vertex_count > 0 %}
        {% set comp_vfx_verts = get_vfx_vertex_count(scene, component) | int %}
        {% set total_v_count = component.vertex_count + comp_vfx_verts %}
        ;component.vertex_count: {{component.vertex_count}}
        ;comp_vfx_verts: {{comp_vfx_verts}}
        {# Общий блок для Blend #}
        [TextureOverride{{ component.fullname }}Blend]
        hash = {{ component.blend_vb }}
        handling = skip
        $active = 1
        {# Специфичная для игры логика обработки Blend буфера #}
        {% if mod_file.game.name == "HonkaiStarRail" %}
            vb2 = Resource{{ component.fullname }}Blend
            if DRAW_TYPE == 1
                vb0 = Resource{{ component.fullname }}Position
                draw = {{ total_v_count }}, 0
            elif DRAW_TYPE == 8
                Resource\SRMI\PositionBuffer = ref Resource{{ component.fullname }}PositionCS
                Resource\SRMI\BlendBuffer = ref Resource{{ component.fullname }}BlendCS
                $\SRMI\vertex_count = {{ total_v_count }}
            endif
        {% elif mod_file.game.name == "ZenlessZoneZero" %}
            vb2 = Resource{{ component.fullname }}Blend
            if DRAW_TYPE == 1
                vb0 = Resource{{ component.fullname }}Position
                draw = {{ total_v_count }}, 0
                ;{{component.fullname}}
                {% if utils.cm_vb0_enabled(mod_file, scene, component.fullname) == 'True' %}
                Resource{{component.fullname}}vb0.copy = ref so0
                {% endif %}
            endif
            {% if utils.cm_vb0_enabled(mod_file, scene, component.fullname) == 'True' %}
            [Resource{{component.fullname}}vb0.copy]
            type = Buffer
            stride = 40
            {% endif %}
        {% elif mod_file.game.name == "GenshinImpact" %}
            vb1 = Resource{{ component.fullname }}Blend
            {% if scene.rzm.addons.blend_resize and scene.rzm.addons.blend_resize.is_enabled %}
                {% set br = scene.rzm.addons.blend_resize %}
                {% for mapping in br.component_mappings if mapping.name == component.fullname and (mapping.layers | length) > 0 %}
            vs-t69 = ResourceBlendResize.{{ component.fullname }}Blend.Data
            run = CustomShaderBlendResize
                {% endfor %}
            {% endif %}
            draw = {{ total_v_count }}, 0
        {% endif %}
 
        {# Общий блок для Texcoord #}
        [TextureOverride{{ component.fullname }}Texcoord]
        hash = {{ component.texcoord_vb }}
        vb1 = Resource{{ component.fullname }}Texcoord
        {# Общий блок для Draw/VertexLimitRaise #}
        [TextureOverride{{ component.fullname }}{% if mod_file.game.name == "HonkaiStarRail" %}Draw{% else %}VertexLimitRaise{% endif %}]
        hash = {{ component.draw_vb }}
        {% if mod_file.game.name == "GenshinImpact" %};{% endif %}override_vertex_count = {{ total_v_count }}
        {% if mod_file.game.name == "GenshinImpact" %};{% endif %}override_byte_stride = {{ component.strides.position }}
        {% if mod_file.game.name == "HonkaiStarRail" %}
        uav_byte_stride = 4
        {% endif %}
        
        {# Блок Position для Genshin Impact #}
        {% if mod_file.game.name == "GenshinImpact" %}
        [TextureOverride{{ component.fullname }}Position]
        hash = {{ component.position_vb }}
        vb0 = Resource{{ component.fullname }}Position
        {% endif %}

    {% endfor %}

    {#--- ОБРАБОТКА КОМПОНЕНТОВ ТОЛЬКО С POSITION БУФЕРОМ (без blend) ---#}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb == "" %}
        [TextureOverride{{ component.fullname }}]
        hash = {{ component.position_vb }}
        {% if mod_file.game.name == "HonkaiStarRail" %}
            this = Resource{{ component.fullname }}
        {% else %}
            vb0 = Resource{{ component.fullname }}
        {% endif %}
    {% endfor %}
{%endmacro%}

{% macro handle_textures(part,mod_file,scene,component,seen_hashes=None) %}
    {% for texture in part.textures %}
        {% if (not scene.rzm or scene.rzm.export_texture_slots == 0) or component.draw_vb == "" %}
            {% if seen_hashes is not none and texture.hash not in seen_hashes %}
                [TextureOverride{{part.fullname}}{{ texture.name }}]
                hash = {{ texture.hash }}
                this = Resource{{part.fullname}}{{ texture.name }}
                {% if seen_hashes.append(texture.hash) %}{% endif %}
            {% elif seen_hashes is none %}
                [TextureOverride{{part.fullname}}{{ texture.name }}]
                hash = {{ texture.hash }}
                this = Resource{{part.fullname}}{{ texture.name }}
            {% endif %}
        {% endif %}

        [Resource{{ part.fullname }}{{ texture.name }}]
        filename = {{ part.fullname }}{{ texture.name }}{{ texture.extension }}
    {% endfor %}
{% endmacro %}


{% macro assign_textures(mod_file, part) %}
    {% if mod_file.game.name == "ZenlessZoneZero" and scene.rzm.export_texture_slots %}
        {% for texture in part.textures %}
            Resource\ZZMI\{{ texture.name }} = ref Resource{{ part.fullname }}{{ texture.name }}
        {% endfor %}
        run = CommandList\ZZMI\SetTextures
    {% elif mod_file.game.name == "GenshinImpact" %}
        {% if scene.rzm is defined and scene.rzm.export_texture_slots == 0 %}
            {% for texture in part.textures %}
                ps-t{{ loop.index0 }} = Resource{{ part.fullname }}{{ texture.name }}
            {% endfor %}
        {% endif %}
        {% if scene.rzm is undefined or scene.rzm.export_texture_slots %}
            {% if part.textures|first and (part.textures|first).name|lower == "normalmap" %}
                run = CommandList\global\ORFix\ORFix
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{#--- ГЛАВНЫЙ МАКРОС ДЛЯ ПЕРЕОПРЕДЕЛЕНИЯ ИНДЕКСНЫХ БУФЕРОВ (теперь с под-макросами!) ---#}
{% macro overridesibs(mod_file,scene) %}
    {# Collect all RZM.CURVE_VFX curve objects #}
    {% set curve_list = [] %}
    {% if scene and scene.objects %}
        {% for obj in scene.objects if obj.type == 'CURVE' and obj.get('RZM.CURVE_VFX') %}
            {% if curve_list.append(obj) %}{% endif %}
        {% endfor %}
    {% endif %}

    {% for component in mod_file.components if component.draw_vb != "" %}
        [TextureOverride{{component.fullname}}IB]
        hash = {{ component.ib }}
        handling = skip
        

        {% for part in component.parts if part.vertex_count > 0 %}
            {% if utils.cm_test_subcomp_enabled(mod_file, scene, component.fullname, part.fullname) == 'True' %}
            ;Помечен
            {% endif %}
            [TextureOverride{{ part.fullname }}]
            hash = {{ component.ib }}
            match_first_index = {{ part.first_index }}
            {% if utils.cm_part_is_donor(mod_file, scene, part.fullname) == 'False' %}
            run = CommandListTextureOverride{{ part.fullname }}
            {% endif %}
            [CommandListTextureOverride{{ part.fullname }}]
            ib = Resource{{ part.fullname }}IB
            {# Check if the component has hover/click objects #}
            {% set comp_has_hover = {'val': false} %}
            {% for p in component.parts if p.vertex_count > 0 %}
                {% for entry in p.objects if entry.vertex_count > 0 %}
                    {% set real_obj = scene.objects.get(entry.name) if scene and scene.objects else none %}
                    {% if real_obj and real_obj.get('rzm.Hover', 0) | int > 0 %}
                        {% if comp_has_hover.update({'val': true}) %}{% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if comp_has_hover.val %}
            if $ObjectDetectAllowed == 1
                run = CustomShaderRZMDetect{{ component.fullname }}
            endif
            {% endif %}
            {% if mod_file.game.name == "ZenlessZoneZero" %}run = CommandListSkinTexture{%endif%}
        {% if scene.rzm %}
            {% if scene.rzm.export_texture_slots %}
            
				;Handle Tex
				{{ assign_textures(mod_file, part) }}
            {% endif %}
        {% endif %}

            {% for entry in part.objects if entry.vertex_count > 0 %}
                {% if loop.previtem and loop.previtem.collection_name != entry.collection_name %}
                ;{{ entry.collection_name }}
                {% endif %}
                ; {{ entry.name }} ({{ entry.vertex_count }})
                {{ helper.smart_draw(entry, draw_mode='simple') }}
            {% endfor %}
            {% set assoc_curves = [] %}
            {% if scene and scene.objects %}
                {% for curve in curve_list %}
                    {% for col in curve.users_collection %}
                        {% for entry in part.objects %}
                            {% for col_obj in col.objects if col_obj.name == entry.name %}
                                {% if curve not in assoc_curves %}
                                    {% if assoc_curves.append(curve) %}{% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if assoc_curves | length > 0 %}
                {# Sum index_count only from entries that have vertex_count > 0 (real draw entries) #}
                {% set orig_i_count = [0] %}
                {% for entry in part.objects if entry.vertex_count > 0 %}
                    {% if orig_i_count.append(orig_i_count.pop() + entry.index_count) %}{% endif %}
                {% endfor %}
                {% set current_vfx_offset = [orig_i_count[0]] %}
                {% for curve in assoc_curves %}
                    {% set p_count = curve.get("RZM.CURVE_VFX.PARTICLE_COUNT") | default(1) | int %}
                    {% set fx_type = curve.get("RZM.CURVE_VFX.MESH_FX_TYPE") | default(0) | int %}
                    {% if fx_type == 1 %}{% set i_per_part = 6 %}
                    {% elif fx_type == 2 %}{% set i_per_part = 15 %}
                    {% else %}{% set i_per_part = 3 %}
                    {% endif %}
                    {% set curve_idx_count = p_count * i_per_part %}
                    {% set visibility_cond = curve.get("RZM.CURVE_VFX.VISIBILITY_CONDITION") | default("") | trim %}
            ; RZM VFX Curve: {{ curve.name }}
                    {% if visibility_cond != "" %}
            ;if {{ visibility_cond }}
                drawindexed = {{ curve_idx_count }}, {{ current_vfx_offset[0] }}, 0
            ;endif
                    {% else %}
            drawindexed = {{ curve_idx_count }}, {{ current_vfx_offset[0] }}, 0
                    {% endif %}
                    {% if current_vfx_offset.append(current_vfx_offset.pop() + curve_idx_count) %}{% endif %}
                {% endfor %}
            {% endif %}

            {# Material Transfer Redirection #}
            {% set cm = scene.rzm.component_manager %}
            {% for comp_mt in cm.components %}
                {% set mt_comp_fullname = comp_mt.name %}
                {% if mod_file.game.name in ["GenshinImpact", "ZenlessZoneZero", "HonkaiStarRail"] %}
                    {% set mt_comp_fullname = mod_file.name ~ comp_mt.name %}
                {% endif %}
                {% if mt_comp_fullname == component.fullname %}
                    {% for part_mt in comp_mt.parts %}
                        {% set mt_part_fullname = part_mt.name %}
                        {% if mod_file.game.name in ["GenshinImpact", "ZenlessZoneZero", "HonkaiStarRail"] %}
                            {% set mt_part_fullname = mod_file.name ~ part_mt.name %}
                        {% endif %}
                        {% if mt_part_fullname == part.fullname %}
                            {% for donor in part_mt.donors %}
                                {% set donor_comp_fullname = donor.component_name %}
                                {% set donor_part_fullname = donor.part_name %}
                                {% if mod_file.game.name in ["GenshinImpact", "ZenlessZoneZero", "HonkaiStarRail"] %}
                                    {% set donor_comp_fullname = mod_file.name ~ donor.component_name %}
                                    {% set donor_part_fullname = mod_file.name ~ donor.part_name %}
                                {% endif %}
            vb0 = Resource{{ donor_comp_fullname }}vb0.copy
            vb1 = Resource{{ donor_comp_fullname }}Texcoord
            vb2 = Resource{{ donor_comp_fullname }}Blend
            vb3 = Resource{{ donor_comp_fullname }}vb0.copy
            run = CommandListTextureOverride{{ donor_part_fullname }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            {% if not bufPosCopy%}
                ; Режим подмены буферов АКТИВЕН для {{ part.fullname }}!
                ; Здесь можно добавить свой код для манипуляций с буферами.
            {% endif %}

        {% endfor %}
    {% endfor %}

    {# CustomShader and CommandList for VFX Curves #}
    {% if curve_list | length > 0 %}
    [Present]
    run = CommandListRZM_VFX_Present

    [CommandListRZM_VFX_Present]
    {% for component in mod_file.components if component.draw_vb != "" %}
        {% for part in component.parts if part.vertex_count > 0 %}
            {% set assoc_curves = [] %}
            {% if scene and scene.objects %}
                {% for curve in curve_list %}
                    {% for col in curve.users_collection %}
                        {% for entry in part.objects %}
                            {% for col_obj in col.objects if col_obj.name == entry.name %}
                                {% if curve not in assoc_curves %}
                                    {% if assoc_curves.append(curve) %}{% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if assoc_curves | length > 0 %}
    {# Weight CS FIRST — so blend weights are updated before position CS #}
    run = CustomShaderRZM_VFX_Weight_{{ part.fullname }}
    run = CustomShaderRZM_VFX_{{ part.fullname }}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% for component in mod_file.components if component.draw_vb != "" %}
        {% for part in component.parts if part.vertex_count > 0 %}
            {% set assoc_curves = [] %}
            {% if scene and scene.objects %}
                {% for curve in curve_list %}
                    {% for col in curve.users_collection %}
                        {% for entry in part.objects %}
                            {% for col_obj in col.objects if col_obj.name == entry.name %}
                                {% if curve not in assoc_curves %}
                                    {% if assoc_curves.append(curve) %}{% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if assoc_curves | length > 0 %}
    [CustomShaderRZM_VFX_{{ part.fullname }}]
    ; TEST: VFX Curves Associated:
    {% for c in assoc_curves %}
    ;   - Curve name: "{{ c.name }}"
    ;     * Type: {{ c.rzm_curve_vfx_mesh_fx_type }}
    ;     * Start Size: {{ c.rzm_curve_vfx_particle_size_start }}
    ;     * End Size: {{ c.rzm_curve_vfx_particle_size_end }}
    ;     * Cycle Duration: {{ c.rzm_curve_vfx_cycle_duration }}
    ;     * Dispersion Scale: {{ c.rzm_curve_vfx_dispersion_scale }}
    ;     * Phase Randomness: {{ c.rzm_curve_vfx_phase_randomness }}
    ;     * Position Randomness: {{ c.rzm_curve_vfx_pos_randomness }}
        {% if c.data.splines | length > 0 %}
            {% set spline = c.data.splines[0] %}
    ;     * Spline Type: {{ spline.type }}
            {% if spline.type == 'BEZIER' %}
    ;     * Control Points (Bezier):
                {% for pt in spline.bezier_points %}
    ;       Point {{ loop.index0 }}: ({{ "%.4f"|format(pt.co.x) }}, {{ "%.4f"|format(pt.co.y) }}, {{ "%.4f"|format(pt.co.z) }}) | Radius: {{ "%.4f"|format(pt.radius) }}
                {% endfor %}
            {% else %}
    ;     * Control Points (NURBS/Poly):
                {% for pt in spline.points %}
    ;       Point {{ loop.index0 }}: ({{ "%.4f"|format(pt.co.x) }}, {{ "%.4f"|format(pt.co.y) }}, {{ "%.4f"|format(pt.co.z) }}) | Radius: {{ "%.4f"|format(pt.radius) }}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
    cs = ./modules/vfx_curve_cs.hlsl
    cs-u5 = copy Resource{{ component.fullname }}Position
    cs-t50 = copy ResourceRZM_CurveData
    x98 = time
    w98 = time % 1
    Resource{{ component.fullname }}Position = ref cs-u5
    {# Per-part VFX vertex count for THIS part's associated curves only #}
    {% set part_vfx_verts = [0] %}
    {% for curve in assoc_curves %}
        {% set p_count = curve.get("RZM.CURVE_VFX.PARTICLE_COUNT") | default(1) | int %}
        {% set fx_type = curve.get("RZM.CURVE_VFX.MESH_FX_TYPE") | default(0) | int %}
        {% if fx_type == 1 %}{% set vpp = 4 %}
        {% elif fx_type == 2 %}{% set vpp = 6 %}
        {% else %}{% set vpp = 3 %}
        {% endif %}
        {% if part_vfx_verts.append(part_vfx_verts.pop() + p_count * vpp) %}{% endif %}
    {% endfor %}
    {# x115 = cutoff_index in shader = number of ORIGINAL vertices to skip in the shared component Position buffer #}
    {# dispatch must cover orig_verts + ALL vfx verts appended to this component buffer #}
    {% set comp_vfx_verts = get_vfx_vertex_count(scene, component) | int %}
    {% set total_comp_v = component.vertex_count + comp_vfx_verts %}
    x115 = {{ component.vertex_count }}
    dispatch = {{ ((total_comp_v + 127) // 128) | int }}, 1, 1
    cs-u5 = null
    ;cs-t50 = null обнулять вообще не нужно их, это не просто бесполезно, это вредно
    ;cs-t120 = null ОСОБЕННО ЭТО, ЭТО ВООБЩЕ ДИКО, нельзя снмиать байнд с 120 слота
            {% endif %}
        {% endfor %}
    {% endfor %}

    {# Weight CustomShader blocks — one per part with VFX curves #}
    {% for component in mod_file.components if component.draw_vb != "" %}
        {% for part in component.parts if part.vertex_count > 0 %}
            {% set assoc_curves = [] %}
            {% if scene and scene.objects %}
                {% for curve in curve_list %}
                    {% for col in curve.users_collection %}
                        {% for entry in part.objects %}
                            {% for col_obj in col.objects if col_obj.name == entry.name %}
                                {% if curve not in assoc_curves %}
                                    {% if assoc_curves.append(curve) %}{% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if assoc_curves | length > 0 %}
    {% set comp_vfx_verts = get_vfx_vertex_count(scene, component) | int %}
    {% set total_comp_v = component.vertex_count + comp_vfx_verts %}
    [CustomShaderRZM_VFX_Weight_{{ part.fullname }}]
    cs = ./modules/vfx_weight_cs.hlsl
    cs-u5 = copy Resource{{ component.fullname }}Blend
    cs-t50 = copy Resource{{ component.fullname }}Position
    cs-t51 = copy ResourceRZM_CurveData
    cs-t52 = copy ResourceRZM_CurveWeightData
    x98 = time
    x115 = {{ component.vertex_count }}
    Resource{{ component.fullname }}Blend = ref cs-u5
    dispatch = {{ ((total_comp_v + 127) // 128) | int }}, 1, 1
    cs-u5 = null
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% endif %}

    {#% for component in mod_file.components %}
        {% for part in component.parts %}
            {{ handle_textures(part) }}
        {% endfor %}
    {% endfor % #}
{%endmacro%}

{% macro resourcebuffers(mod_file,scene) %}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
        {% if component.strides %}
            {% if scene.rzm.shapes %}
            [Resource{{ component.fullname }}Position]
            {% else %}
            [Resource{{ component.fullname }}Position]
            type = Buffer
            stride = {{ component.strides.position }}
            filename = {{ component.fullname }}Position.buf
            {% endif %}

            [Resource{{ component.fullname }}Blend]
            type = Buffer
            stride = {{ component.strides.blend }}
            filename = {{ component.fullname }}Blend.buf

            {% if scene.rzm.addons.blend_resize.is_enabled %}
                {% set br = scene.rzm.addons.blend_resize %}
                {% for mapping in br.component_mappings %}
                    {% if mapping.name == component.fullname and (mapping.layers | length) > 0 %}
                        [ResourceBlendResize.{{ component.fullname }}Blend.Data]
                        type = Buffer
                        format = R32G32B32A32_FLOAT
                        data = {% for layer in mapping.layers -%}
                            69 {{ layer.bone_count }} {{ layer.slot_id }} 0   {{ layer.head_mapped[0] | round(4) }} {{ layer.head_mapped[1] | round(4) }} {{ layer.head_mapped[2] | round(4) }} 0   {{ layer.bone_x_mapped[0] | round(4) }} {{ layer.bone_x_mapped[1] | round(4) }} {{ layer.bone_x_mapped[2] | round(4) }} 0   {{ layer.bone_y_mapped[0] | round(4) }} {{ layer.bone_y_mapped[1] | round(4) }} {{ layer.bone_y_mapped[2] | round(4) }} 0   {% for b in layer.bones %}{{ b.scale_mapped[0] | round(4) }} {{ b.scale_mapped[1] | round(4) }} {{ b.scale_mapped[2] | round(4) }} {{ b.bone_index }}   {{ b.offset_mapped[0] | round(4) }} {{ b.offset_mapped[1] | round(4) }} {{ b.offset_mapped[2] | round(4) }} 0   {{ b.rotation_euler_mapped[0] | round(4) }} {{ b.rotation_euler_mapped[1] | round(4) }} {{ b.rotation_euler_mapped[2] | round(4) }} 0  {% endfor -%}
                        {%- endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            [Resource{{ component.fullname }}Texcoord]
            type = Buffer
            stride = {{ component.strides.texcoord }}
            filename = {{ component.fullname }}Texcoord.buf
 
            {# HSR дополнительно требует StructuredBuffer #}
            {% if mod_file.game.name == "HonkaiStarRail" %}
            [Resource{{ component.fullname }}PositionCS]
            {% if scene.rzm.shapes %}
            {% else %}
            [Resource{{ component.fullname }}PositionCS]
            type = StructuredBuffer
            stride = {{ component.strides.position }}
            filename = {{ component.fullname }}Position.buf
            {% endif %}
            

            [Resource{{ component.fullname }}BlendCS]
            type = StructuredBuffer
            stride = {{ component.strides.blend }}
            filename = {{ component.fullname }}Blend.buf
            {% endif %}
        {% endif %}

        {% for part in component.parts %}
            [Resource{{ part.fullname }}IB]
            type = Buffer
            format = DXGI_FORMAT_R32_UINT
            filename = {{ part.fullname }}.ib
        {% endfor %}
    {% endfor %}
    
    {# Этот цикл полностью идентичен для всех игр #}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb == "" and component.vertex_count > 0 %}
        {% if component.strides %}
            [Resource{{ component.fullname }}]
            type = Buffer
            stride = {{ component.strides.position }}
            filename = {{ component.fullname }}.buf
        {% endif %}
        {% for part in component.parts %}
            [Resource{{ part.fullname }}IB]
            type = Buffer
            format = DXGI_FORMAT_R32_UINT
            filename = {{ part.fullname }}.ib
        {% endfor %}
    {% endfor %}

    {# Curve VFX resources #}
    {% set curve_list = [] %}
    {% if scene and scene.objects %}
        {% for obj in scene.objects if obj.type == 'CURVE' and obj.get('RZM.CURVE_VFX') %}
            {% if curve_list.append(obj) %}{% endif %}
        {% endfor %}
    {% endif %}
    {% if curve_list | length > 0 %}
    [ResourceRZM_CurveData]
    type = StructuredBuffer
    stride = 40
    filename = res/curve_data.buf

    [ResourceRZM_CurveWeightData]
    type = StructuredBuffer
    stride = 32
    filename = res/curve_weight_data.buf
    {% endif %}
{%endmacro%}

{% macro resourcetextures(mod_file,scene) %}
    {# Этот макрос полностью идентичен для всех игр #}
    {% set seen_hashes = [] %}
    {% for component in mod_file.components %}
        {% for part in component.parts %}
            {{ handle_textures(part,mod_file,scene,component,seen_hashes) }}
        {% endfor %}
    {% endfor %}
{%endmacro%}