{% import "rz_helper.j2" as helper with context %}

{% macro overridesbuffers(mod_file,scene) %}
    {#--- ОБРАБОТКА КОМПОНЕНТОВ С BLEND И POSITION БУФЕРАМИ ---#}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != "" and component.vertex_count > 0 %}
        
        {# Общий блок для Blend #}
        [TextureOverride{{ component.fullname }}Blend]
        hash = {{ component.blend_vb }}
        handling = skip
        $active = 1
        {# Специфичная для игры логика обработки Blend буфера #}
        {% if mod_file.game.name == "HonkaiStarRail" %}
            vb2 = Resource{{ component.fullname }}Blend
            if DRAW_TYPE == 1
                vb0 = Resource{{ component.fullname }}Position
                draw = {{ component.vertex_count }}, 0
            elif DRAW_TYPE == 8
                Resource\SRMI\PositionBuffer = ref Resource{{ component.fullname }}PositionCS
                Resource\SRMI\BlendBuffer = ref Resource{{ component.fullname }}BlendCS
                $\SRMI\vertex_count = {{ component.vertex_count }}
            endif
        {% elif mod_file.game.name == "ZenlessZoneZero" %}
            vb2 = Resource{{ component.fullname }}Blend
            if DRAW_TYPE == 1
                vb0 = Resource{{ component.fullname }}Position
                draw = {{ component.vertex_count }}, 0
                Resource{{component.fullname}}vb0.copy = copy so0
            endif
            [Resource{{component.fullname}}vb0.copy]
            type = Buffer
            stride = 40
        {% elif mod_file.game.name == "GenshinImpact" %}
            vb1 = Resource{{ component.fullname }}Blend
            {% if scene.rzm.addons.blend_resize and scene.rzm.addons.blend_resize.is_enabled %}
                {% set br = scene.rzm.addons.blend_resize %}
                {% for mapping in br.component_mappings if mapping.name == component.fullname and (mapping.layers | length) > 0 %}
            vs-t69 = ResourceBlendResize.{{ component.fullname }}Blend.Data
            run = CustomShaderBlendResize
                {% endfor %}
            {% endif %}
            draw = {{ component.vertex_count }}, 0
        {% endif %}

        {# Общий блок для Texcoord #}
        [TextureOverride{{ component.fullname }}Texcoord]
        hash = {{ component.texcoord_vb }}
        vb1 = Resource{{ component.fullname }}Texcoord
        {# Общий блок для Draw/VertexLimitRaise #}
        [TextureOverride{{ component.fullname }}{% if mod_file.game.name == "HonkaiStarRail" %}Draw{% else %}VertexLimitRaise{% endif %}]
        hash = {{ component.draw_vb }}
        ;override_vertex_count = {{ component.vertex_count }}
        ;override_byte_stride = {{ component.strides.position }}
        {% if mod_file.game.name == "HonkaiStarRail" %}
        override_vertex_count = {{ component.vertex_count }}
        override_byte_stride = {{ component.strides.position }}
            uav_byte_stride = 4
        {% endif %}
        
        {# Блок Position для Genshin Impact #}
        {% if mod_file.game.name == "GenshinImpact" %}
        [TextureOverride{{ component.fullname }}Position]
        hash = {{ component.position_vb }}
        vb0 = Resource{{ component.fullname }}Position
        {% endif %}

    {% endfor %}

    {#--- ОБРАБОТКА КОМПОНЕНТОВ ТОЛЬКО С POSITION БУФЕРОМ (без blend) ---#}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb == "" %}
        [TextureOverride{{ component.fullname }}]
        hash = {{ component.position_vb }}
        {% if mod_file.game.name == "HonkaiStarRail" %}
            this = Resource{{ component.fullname }}
        {% else %}
            vb0 = Resource{{ component.fullname }}
        {% endif %}
    {% endfor %}
{%endmacro%}

{% macro handle_textures(part,mod_file,scene) %}
    {% for texture in part.textures %}
	{% set banlist = ["EvernightFaceA","EvernightHairA"] %}
        {% if scene.rzm and scene.rzm.export_texture_slots == 1 %}
            [TextureOverride{{part.fullname}}{{ texture.name }}]
            hash = {{ texture.hash }}
            {% if scene.rzm %}
                {% if scene.rzm.addons.atlas_merger == 1 and not part.fullname in banlist %}
                this = ResourceAtlas{{ texture.name }}
                {% else %}
                this = Resource{{part.fullname}}{{ texture.name }}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if scene.rzm.export_texture_slots == 1 or scene.rzm.export_texture_slots == 1 %}
		[Resource{{ part.fullname }}{{ texture.name }}]
		filename = {{ part.fullname }}{{ texture.name }}{{ texture.extension }}
        {% else %}
        ;there nothing
        {% endif %}
	{% endfor %}
{% endmacro %}


{% macro assign_textures(mod_file, part) %}
    {% if mod_file.game.name == "ZenlessZoneZero" and scene.rzm.export_texture_slots %}
        {% for texture in part.textures %}
            Resource\ZZMI\{{ texture.name }} = ref Resource{{ part.fullname }}{{ texture.name }}
        {% endfor %}
        run = CommandList\ZZMI\SetTextures
    {% elif mod_file.game.name == "GenshinImpact" %}
        {% if scene.rzm is defined and scene.rzm.export_texture_slots == 0 %}
            {% for texture in part.textures %}
                ps-t{{ loop.index0 }} = Resource{{ part.fullname }}{{ texture.name }}
            {% endfor %}
        {% endif %}
        {% if scene.rzm is undefined or scene.rzm.export_texture_slots %}
            {% if part.textures|first and (part.textures|first).name|lower == "normalmap" %}
                run = CommandList\global\ORFix\ORFix
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{#--- ГЛАВНЫЙ МАКРОС ДЛЯ ПЕРЕОПРЕДЕЛЕНИЯ ИНДЕКСНЫХ БУФЕРОВ (теперь с под-макросами!) ---#}
{% macro overridesibs(mod_file,scene) %}
    {% for component in mod_file.components if component.draw_vb != "" %}
        [TextureOverride{{component.fullname}}IB]
        hash = {{ component.ib }}
        handling = skip
        

        {% for part in component.parts if part.vertex_count > 0 %}
            [TextureOverride{{ part.fullname }}]
            hash = {{ component.ib }}
            match_first_index = {{ part.first_index }}
            run = CommandListTextureOverride{{ part.fullname }}
            [CommandListTextureOverride{{ part.fullname }}]
            ib = Resource{{ part.fullname }}IB
            {% if mod_file.game.name == "ZenlessZoneZero" %}run = CommandListSkinTexture{%endif%}
        {% if scene.rzm %}
            {% if scene.rzm.export_texture_slots %}
            
				;Handle Tex
				{{ assign_textures(mod_file, part) }}
            {% endif %}
        {% endif %}

            {% for entry in part.objects if entry.vertex_count > 0 %}
                {% if loop.previtem and loop.previtem.collection_name != entry.collection_name %}
                ;{{ entry.collection_name }}
                {% endif %}
                ; {{ entry.name }} ({{ entry.vertex_count }})
                {{ helper.smart_draw(entry, draw_mode='simple') }}
            {% endfor %}

            {% if not bufPosCopy%}
                ; Режим подмены буферов АКТИВЕН для {{ part.fullname }}!
                ; Здесь можно добавить свой код для манипуляций с буферами.
            {% endif %}

        {% endfor %}
    {% endfor %}

    {#% for component in mod_file.components %}
        {% for part in component.parts %}
            {{ handle_textures(part) }}
        {% endfor %}
    {% endfor % #}
{%endmacro%}

{% macro resourcebuffers(mod_file,scene) %}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
        {% if component.strides %}
            {% if scene.rzm.shapes %}
            [Resource{{ component.fullname }}Position]
            {% else %}
            [Resource{{ component.fullname }}Position]
            type = Buffer
            stride = {{ component.strides.position }}
            filename = {{ component.fullname }}Position.buf
            {% endif %}

            [Resource{{ component.fullname }}Blend]
            type = Buffer
            stride = {{ component.strides.blend }}
            filename = {{ component.fullname }}Blend.buf

            {% if scene.rzm.addons.blend_resize.is_enabled %}
                {% set br = scene.rzm.addons.blend_resize %}
                {% for mapping in br.component_mappings %}
                    {% if mapping.name == component.fullname and (mapping.layers | length) > 0 %}
                        [ResourceBlendResize.{{ component.fullname }}Blend.Data]
                        type = Buffer
                        format = R32G32B32A32_FLOAT
                        data = {% for layer in mapping.layers -%}
                            69 {{ layer.bone_count }} {{ layer.slot_id }} 0   {{ layer.head_mapped[0] | round(4) }} {{ layer.head_mapped[1] | round(4) }} {{ layer.head_mapped[2] | round(4) }} 0   {{ layer.tail_mapped[0] | round(4) }} {{ layer.tail_mapped[1] | round(4) }} {{ layer.tail_mapped[2] | round(4) }} 0   {% for b in layer.bones %}{{ b.scale_mapped[0] | round(4) }} {{ b.scale_mapped[1] | round(4) }} {{ b.scale_mapped[2] | round(4) }} {{ b.bone_index }}  {% endfor -%}
                        {%- endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            [Resource{{ component.fullname }}Texcoord]
            type = Buffer
            stride = {{ component.strides.texcoord }}
            filename = {{ component.fullname }}Texcoord.buf
 
            {# HSR дополнительно требует StructuredBuffer #}
            {% if mod_file.game.name == "HonkaiStarRail" %}
            [Resource{{ component.fullname }}PositionCS]
            {% if scene.rzm.shapes %}
            {% else %}
            [Resource{{ component.fullname }}PositionCS]
            type = StructuredBuffer
            stride = {{ component.strides.position }}
            filename = {{ component.fullname }}Position.buf
            {% endif %}
            

            [Resource{{ component.fullname }}BlendCS]
            type = StructuredBuffer
            stride = {{ component.strides.blend }}
            filename = {{ component.fullname }}Blend.buf
            {% endif %}
        {% endif %}

        {% for part in component.parts %}
            [Resource{{ part.fullname }}IB]
            type = Buffer
            format = DXGI_FORMAT_R32_UINT
            filename = {{ part.fullname }}.ib
        {% endfor %}
    {% endfor %}
    
    {# Этот цикл полностью идентичен для всех игр #}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb == "" and component.vertex_count > 0 %}
        {% if component.strides %}
            [Resource{{ component.fullname }}]
            type = Buffer
            stride = {{ component.strides.position }}
            filename = {{ component.fullname }}.buf
        {% endif %}
        {% for part in component.parts %}
            [Resource{{ part.fullname }}IB]
            type = Buffer
            format = DXGI_FORMAT_R32_UINT
            filename = {{ part.fullname }}.ib
        {% endfor %}
    {% endfor %}
{%endmacro%}

{% macro resourcetextures(mod_file,scene) %}
    {# Этот макрос полностью идентичен для всех игр #}
    {% for component in mod_file.components %}
        {% for part in component.parts %}
            {{ handle_textures(part,mod_file,scene) }}
        {% endfor %}
    {% endfor %}
{%endmacro%}