{% import "rz_MERGED_HOYO.j2" as hoyo  with context %}
{% import "rz_MERGED_NOHOYO.j2" as efmi  with context %}
{% import "modules/core.j2" as core  with context %}
{% import "modules/data.j2" as data  with context %}
{% import "modules/functions.j2" as fn with context %}
{% import "modules/keymap.j2" as keymap  with context %}
{% import "modules/run_links.j2" as run_links with context %}
{% import "modules/elements.j2" as elements with context %}
{% import "modules/elements_helpers.j2" as elements_helpers with context %}
{% import "modules/modules.j2" as modules with context %}
{% import "modules/utils.j2" as utils with context %}
{% import "texworks.j2" as texworks with context %}
{% import "modules/meta.j2" as meta with context %}
{{ meta.mod_info_generate(mod_file, scene) }}

;[META-INFO] [START] [MOD-BLOCK]

{% call utils.clean_ws(max_empty=1) %}
{% if mod_file.extracted_object or mod_file.components or extracted_object %}
{% if scene.rzm.game.name == "ArknightsEndfield" %}
    {{ efmi.main_logic(extracted_object, merged_object, mod_info, buffers, textures, cfg) }}
{% else %}
    {% block hoyo_main %}
        {{ hoyo.overridesbuffers(mod_file, scene) }}
        {{ hoyo.overridesibs(mod_file, scene) }}
        {{ hoyo.resourcebuffers(mod_file, scene) }}
        {{ hoyo.resourcetextures(mod_file, scene) }}
        {{ data.hoverDetectResources(mod_file, scene) }}
        {{ data.hoverDetectVars(mod_file,scene) }}
        {{ core.hoverDetectShaders(mod_file,scene) }}
        {{ core.jiggleShaders(mod_file,scene) }}
        {{ core.object_data_runtime(mod_file,scene) }}
        {{ modules.generate_addons(mod_file,scene, geometry_only=true) }}
    {% endblock %}
{% endif %}
{% if scene.rzm %}
{% if scene.rzm.game.name == "ArknightsEndfield" %}
{{core.shape_generate_arknights(extracted_object, merged_object, buffers, scene)}}
{% else %}
{{core.shape_generate(mod_file,scene)}}
{% endif %}
{% endif %}
{% else %}
;[RZM-QUICK-UPDATE-PLACEHOLDER]
{% endif %}


;[META-INFO] [END] [MOD-BLOCK]


{% block rz_menu_core %}
{{core.menu_resource_ui(mod_file,scene)}}
{{core.generate_missing_resources(scene)}}
{{core.entryPoint(mod_file,scene)}}
{{core.baseCompute(mod_file,scene)}}
{{core.menuDrawUi(mod_file,scene)}}
{% endblock %}

{{fn.Base()}}

[CommandListClickedSlot]

{% if scene.rzm %}
	{#{ elements_helpers.popup_helpers_generate(mod_file,scene)}#}
	{{ elements_helpers.resources_generate(mod_file,scene)}}
	{{ elements_helpers.grid_helpers_generate(mod_file,scene)}}
	{{modules.generate_addons(mod_file,scene)}}
	{{texworks.generate_texworks(mod_file,scene)}}
	{{elements.elements_generate(mod_file,scene)}}
{% endif %}

{% if scene.rzm %}
{% if scene.rzm.conditions %}
	{% for condition in scene.rzm.conditions %}
		{% if condition %}
			[TextureOverride{{condition.condition_name}}]
			hash = {{condition.condition_hash}}
			match_priority = 24
			${{condition.condition_name}} = 1
		{% endif %}
	{%endfor%}
{% endif %}
{% endif %}

{% block rz_menu_data %}
{{keymap.main_button(mod_file,scene)}}
{{keymap.generate_keybinds(mod_file,scene)}}
{{run_links.generate_run_links(mod_file,scene)}}
{{data.config(mod_file,scene)}}
{{data.generate_profiles(mod_file,scene)}}
{% endblock %}

{% endcall %}

[CommandListPreSnippet]
{% if scene.rzm %}
{{ scene.rzm.config.pre_snippet | default(";There Nothing")}}
{% endif %}
[CommandListPostSnippet]
{% if scene.rzm %}
{{ scene.rzm.config.post_snippet | default(";There Nothing")}}
{% endif %}


;DEBUG STUFF WITH CACHE
{% if mod_file.extracted_object or mod_file.components or extracted_object %}
;oups, it's full game export, not fast export
{% else %}
;Fast Export, debug information starts there
;CACHE EXISTS: {{ rzm_export_cache is not none }}
{% if rzm_export_cache %}
;SOURCE: {{ rzm_export_cache.source }}
;TIMESTAMP: {{ rzm_export_cache.timestamp }}
;COMPONENTS:
{% for comp_name, comp_data in rzm_export_cache.components.items() %}
;  {{ comp_name }}: {{ comp_data.n_verts }} verts
{% for obj in comp_data.objects %}
;    [{{ obj.vb_offset }} .. {{ obj.vb_offset + obj.vb_count - 1 }}] {{ obj.name }}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}
