{% import "rz_MERGED_HOYO.j2" as hoyo  with context %}
{% import "rz_MERGED_NOHOYO.j2" as efmi  with context %}
{% import "modules/core.j2" as core  with context %}
{% import "modules/data.j2" as data  with context %}
{% import "modules/functions.j2" as fn with context %}
{% import "modules/keymap.j2" as keymap  with context %}
{% import "modules/elements.j2" as elements with context %}
{% import "modules/elements_helpers.j2" as elements_helpers with context %}
{% import "modules/modules.j2" as modules with context %}
{% import "modules/utils.j2" as utils with context %}
{% import "texworks.j2" as texworks with context %}
{% import "modules/meta.j2" as meta with context %}
{{ meta.mod_info_generate(mod_file, scene) }}

{% call utils.clean_ws(max_empty=1) %}
{% if scene.rzm.game.name == "ArknightsEndfield" %}
    {{ efmi.main_logic(extracted_object, merged_object, mod_info, buffers, textures, cfg) }}
{% else %}
    {% block hoyo_main %}
        {{ hoyo.overridesbuffers(mod_file, scene) }}
        {{ hoyo.overridesibs(mod_file, scene) }}
        {{ hoyo.resourcebuffers(mod_file, scene) }}
        {{ hoyo.resourcetextures(mod_file, scene) }}
    {% endblock %}
{% endif %}

{% block rz_menu_core %}
{{core.menu_resource_ui(mod_file,scene)}}
{{core.entryPoint(mod_file,scene)}}
{{core.baseCompute(mod_file,scene)}}
{{core.menuDrawUi(mod_file,scene)}}
{% if scene.rzm.game.name == "ArknightsEndfield" %}
{{core.shape_generate_arknights(extracted_object, merged_object, buffers, scene)}}
{% else %}
{{core.shape_generate(mod_file,scene)}}
{% endif %}
{% endblock %}

{{fn.Base()}}

[CommandListClickedSlot]

{% if scene.rzm %}
	{{ elements_helpers.popup_helpers_generate(mod_file,scene)}}
	{{ elements_helpers.resources_generate(mod_file,scene)}}
	{{ elements_helpers.grid_helpers_generate(mod_file,scene)}}
	{{modules.generate_addons(mod_file,scene)}}
	{{texworks.generate_texworks(mod_file,scene)}}
	{{elements.elements_generate(mod_file,scene)}}
{% endif %}

{% if scene.rzm %}
{% if scene.rzm.conditions %}
	{% for condition in scene.rzm.conditions %}
		{% if condition %}
			[TextureOverride{{condition.condition_name}}]
			hash = {{condition.condition_hash}}
			match_priority = 24
			${{condition.condition_name}} = 1
		{% endif %}
	{%endfor%}
{% endif %}
{% endif %}

{% block rz_menu_data %}
{{keymap.main_button(mod_file,scene)}}
{{data.config(mod_file,scene)}}
{% endblock %}

{% endcall %}

[CommandListPreSnippet]
{%- if scene.rzm %}
{{ scene.rzm.config.pre_snippet | default(";There Nothing")}}
{% endif %}
[CommandListPostSnippet]
{%- if scene.rzm %}
{{ scene.rzm.config.post_snippet | default(";There Nothing")}}
{% endif %}