{% macro overridesbuffers_pre(mod_file) %}
;overridesbuffers_pre
{% endmacro %}
{% macro overridesbuffers_post(mod_file) %}
;overridesbuffers_post
{% endmacro %}
{% macro overridesibs_pre(mod_file) %}
;overridesibs_pre
{% endmacro %}
{% macro overridesibs_post(mod_file) %}
;overridesibs_post
{% endmacro %}
{% macro resourcebuffers_pre(mod_file) %}
;resourcebuffers_pre
{% endmacro %}
{% macro resourcebuffers_post(mod_file) %}
;resourcebuffers_post
{% endmacro %}
{% macro resourcetextures_pre(mod_file) %}
;resourcetextures_pre
{% endmacro %}
{% macro resourcetextures_post(mod_file) %}
;resourcetextures_post
{% endmacro %}
{% macro customSnippet()%}

{% endmacro%}