{% import "modules/utils.j2" as utils with context %}

{% macro generate_texworks(mod_file, scene) %}
{% set rzm = scene.rzm %}

{% call utils.clean_ws(max_empty=1) %}
; =======================================================================================
;                                     TEXWORKS CORE (v3.5.6)
; =======================================================================================

; --- 1. GLOBAL RESOURCES ---
{% for res in rzm.tw_resources %}
[Resource{{ utils.clean_resource(res.name) }}]
{% if res.type == 'ON_DISK' %}
filename = Textures\{{ res.path.split('\\')[-1] if '.' in res.path.split('\\')[-1] else res.path.split('\\')[-1] ~ '.dds' }}
{% elif res.type == 'VIRTUAL' %}
type = RWTexture2D
width = {{ res.resolution[0] }}
height = {{ res.resolution[1] }}
format = {{ res.format }}
array = 1
msaa = 1
mips = 1
{% endif %}
{% endfor %}

; --- 2. GLOBAL OVERRIDES (Atlas Protection) ---
{% for over in rzm.tw_overrides %}
[TextureOverride{{ over.name }}]
hash = {{ over.hash }}
this = Resource{{ utils.clean_resource(over.resource_name) }}
run = CommandListSafeTexWorks.{{ utils.clean_resource(over.resource_name) }}.CHECK
{% endfor %}

{% set unique_over_resources = rzm.tw_overrides | map(attribute='resource_name') | unique %}
{% for res_name in unique_over_resources %}
[CommandListSafeTexWorks.{{ utils.clean_resource(res_name) }}.CHECK]
local $isInit = 0
if this === null && $isInit == 0
    this = copy Resource{{ utils.clean_resource(res_name) }}
    if this === null
        $isInit = 0
    else
        $isInit = 1
    endif
endif
{% endfor %}

; --- 3. MAIN BLOCKS ---
{% for block in rzm.tw_blocks %}
; Block: {{ block.name }} ({{ block.shader_type }})
{% set block_res = utils.clean_resource(block.resource_name) %}

{# Auto-generate resource if output resource name is missing #}
{% if not block.resource_name %}
{% set block_res = block.name ~ "_Atlas" %}
[Resource{{ block_res }}]
type = RWTexture2D
width = 4096
height = 4096
format = DXGI_FORMAT_R8G8B8A8_TYPELESS
array = 1
msaa = 1
mips = 1
{% endif %}

{% if block.backdrop_enabled and block.backdrop_resource_name %}
[CommandListBlock_{{ block.name }}.GlobalInit]
run = CustomShaderBlockBackdrop_{{ block.name }}
$TW_Global_Init_Needed_{{ block.name }} = 0

[CustomShaderBlockBackdrop_{{ block.name }}]
cs = /modules/texworks/cs_update_region.hlsl
cs-u0 = ref Resource{{ block_res }}
cs-t0 = Resource{{ utils.clean_resource(block.backdrop_resource_name) }}
cs-t1 = null
x43 = 0
y43 = 0
z43 = 0
w43 = 1.0
x44 = {{ block.backdrop_rect[0] }}
y44 = {{ block.backdrop_rect[1] }}
z44 = {{ block.backdrop_rect[2] }}
w44 = {{ block.backdrop_rect[3] }}
x45 = 0.0
y45 = 0.0
z45 = 0.0
w45 = 1.0
dispatch = {{ block.backdrop_rect[2] }} // 32, {{ block.backdrop_rect[3] }} // 32, 1
{% endif %}

{% for comp in block.components %}
; --- Component: {{ comp.name }} ---
{% set comp_path = "modules/texworks/" ~ comp.name %}
{% if comp.mask_enabled %}
[Resource{{ comp.name }}Mask]
filename = {{ comp_path }}/mask.png
{% endif %}

[CommandListUpdateComp_{{ block.name }}_{{ comp.name }}]
{# 1. Base initialization pass #}
run = CustomShaderUpdateCompBase_{{ block.name }}_{{ comp.name }}

{# 2. HSV Adjustments #}
{% for slot in comp.slots if slot.active %}
    {% if slot.hsv_link %}
run = CustomShaderUpdateSlotHSV_{{ block.name }}_{{ comp.name }}_{{ slot.name }}
    {% endif %}
{% endfor %}

{# 3. Decal Layers #}
{% for slot in comp.slots if slot.active %}
    {% for layer in slot.decal_layers if layer.active %}
run = CustomShaderUpdateLayer_{{ block.name }}_{{ comp.name }}_{{ slot.name }}_{{ layer.name }}
    {% endfor %}
{% endfor %}

{# --- Shaders for Component --- #}

[CustomShaderUpdateCompBase_{{ block.name }}_{{ comp.name }}]
cs = /modules/texworks/cs_update_region.hlsl
cs-u0 = ref Resource{{ block_res }}
{% if comp.base_resource_name %}
cs-t0 = Resource{{ utils.clean_resource(comp.base_resource_name) }}
{% elif block.backdrop_enabled and block.backdrop_resource_name %}
cs-t0 = Resource{{ utils.clean_resource(block.backdrop_resource_name) }}
{% else %}
cs-t0 = null
{% endif %}
cs-t1 = {% if comp.mask_enabled %}Resource{{ comp.name }}Mask{% else %}null{% endif %}
x43 = 0
y43 = 0
z43 = 0
w43 = 1.0
x44 = {{ comp.rect[0] }}
y44 = {{ comp.rect[1] }}
z44 = {{ comp.rect[2] }}
w44 = {{ comp.rect[3] }}
{# Mapping source rect #}
x45 = {{ "%.3f"|format(comp.base_rect[0] / 4096) }}
y45 = {{ "%.3f"|format(comp.base_rect[1] / 4096) }}
z45 = 0.0
w45 = 1.0
dispatch = {{ comp.rect[2] }} // 32, {{ comp.rect[3] }} // 32, 1

{% for slot in comp.slots if slot.active %}
{# Slot Resources (Masks, Decal variations) #}
{% if slot.mask_enabled %}
[Resource{{ comp.name }}{{ slot.name }}Mask]
filename = {{ comp_path }}/{{ slot.name }}/{{ comp.name }}{{ slot.name }}.Mask.png
{% endif %}

{% for layer in slot.decal_layers if layer.active %}
    {% for i in range(layer.count) %}
        {% set file_suffix = "" %}
        {% if block.shader_type == 'NORMAL' %}{% set file_suffix = "_N" %}{% endif %}
        {% if block.shader_type == 'MATERIAL' %}{% set file_suffix = "_M" %}{% endif %}
[Resource_{{ block.name }}_{{ comp.name }}_{{ slot.name }}_{{ layer.name }}.{{ i }}]
filename = {{ comp_path }}/{{ slot.name }}/{{ layer.name }}/{{ i }}{{ file_suffix }}.png
    {% endfor %}
{% endfor %}

{# HSV Compute Shader #}
{% if slot.hsv_link %}
[CustomShaderUpdateSlotHSV_{{ block.name }}_{{ comp.name }}_{{ slot.name }}]
cs = /modules/texworks/cs_update_region.hlsl
cs-u0 = ref Resource{{ block_res }}
cs-t0 = null
cs-t1 = {% if slot.hsv_mask_enabled %}Resource{{ comp.name }}{{ slot.name }}Mask{% elif comp.mask_enabled %}Resource{{ comp.name }}Mask{% else %}null{% endif %}
{% set v_name = utils.format_var(slot.hsv_link) %}
x43 = ${{ v_name }}_X - {{ "%.3f"|format(slot.hsv_base[0] if slot.hsv_base else 0.0) }}
y43 = ${{ v_name }}_Y - {{ "%.3f"|format(slot.hsv_base[1] if slot.hsv_base else 0.0) }}
z43 = ${{ v_name }}_Z - {{ "%.3f"|format(slot.hsv_base[2] if slot.hsv_base else 0.0) }}
w43 = 1.0 {# HSV Enabled #}
x44 = {{ comp.rect[0] + slot.rect[0] }}
y44 = {{ comp.rect[1] + slot.rect[1] }}
z44 = {{ slot.rect[2] }}
w44 = {{ slot.rect[3] }}
{% set mir_val = 1.0 if slot.multi_pass_mode == 'DUPLICATE' else (2.0 if slot.multi_pass_mode == 'INDIVIDUAL' else 0.0) %}
x45 = {{ "%.3f"|format(slot.multi_pass_data[0]) }}
y45 = {{ "%.3f"|format(slot.multi_pass_data[1]) }}
z45 = {{ "%.1f"|format(mir_val) }}
w45 = {{ "%.1f"|format(slot.multi_pass_data[3]) }}
dispatch = {{ slot.rect[2] }} // 32, {{ slot.rect[3] }} // 32, 1
{% endif %}

{# Layer Compute Shaders #}
{% for layer in slot.decal_layers if layer.active %}
{% set l_var = "TW_D" ~ block.name ~ comp.name ~ slot.name ~ layer.name ~ "Index" %}
{% set material = rzm.tw_materials.get(layer.name) %}
[CustomShaderUpdateLayer_{{ block.name }}_{{ comp.name }}_{{ slot.name }}_{{ layer.name }}]
{% if block.shader_type == 'MATERIAL' or block.shader_type == 'NORMAL' %}
cs = /modules/texworks/decal_draw_material.hlsl
{% else %}
cs = /modules/texworks/decal_draw.hlsl
{% endif %}
cs-u0 = ref Resource{{ block_res }}
cs-t0 = null

{# Index Switching #}
{% for i in range(layer.count) %}
{% if loop.first %}if ${{ l_var }} == {{ i }}{% else %}elif ${{ l_var }} == {{ i }}{% endif %}
    cs-t0 = Resource_{{ block.name }}_{{ comp.name }}_{{ slot.name }}_{{ layer.name }}.{{ i }}
{% endfor %}
endif

if ${{ l_var }} >= 0
    {# Apply Material Parameters (x46) #}
    {% if material %}
    x46 = {{ "%.3f"|format(material.parameters[0]) }}
    y46 = {{ "%.3f"|format(material.parameters[1]) }}
    z46 = {{ "%.3f"|format(material.parameters[2]) }}
    w46 = {{ "%.3f"|format(material.parameters[3]) }}
    {% endif %}
    
    {# Pass 0 (Original) #}
    cs-t1 = {% if slot.pass0_use_mask %}{% if slot.mask_enabled %}Resource{{ comp.name }}{{ slot.name }}Mask{% elif comp.mask_enabled %}Resource{{ comp.name }}Mask{% else %}null{% endif %}{% else %}null{% endif %}
    x44 = {{ comp.rect[0] + slot.rect[0] }}
    y44 = {{ comp.rect[1] + slot.rect[1] }}
    z44 = {{ slot.rect[2] }}
    w44 = {{ slot.rect[3] }}
    x45 = 0.0
    y45 = 0.0
    z45 = 0.0
    w45 = 1.0
    dispatch = ({{ slot.rect[2] }} + 31) // 32, ({{ slot.rect[3] }} + 31) // 32, 1
    
    {# Pass 1 (Multi-Pass / Mirror) #}
    {% if slot.multi_pass_mode != 'NONE' %}
    ; Pass 1 (Multi-Pass)
    cs-t1 = {% if slot.pass1_use_mask %}{% if slot.mask_enabled %}Resource{{ comp.name }}{{ slot.name }}Mask{% elif comp.mask_enabled %}Resource{{ comp.name }}Mask{% else %}null{% endif %}{% else %}null{% endif %}
    {% set atlas_center = "2048" %}
    {% if slot.multi_pass_mode == 'DUPLICATE' or slot.multi_pass_mode == 'INDIVIDUAL' %}
    x44 = (2 * {{ atlas_center }}) - {{ comp.rect[0] + slot.rect[0] }} - {{ slot.rect[2] }}
    {% endif %}
    x45 = {{ "%.3f"|format(slot.multi_pass_data[0]) }}
    y45 = {{ "%.3f"|format(slot.multi_pass_data[1]) }}
    z45 = 1.0 {# Individual or Duplicate both use mirrored layout #}
    w45 = {{ "%.1f"|format(slot.multi_pass_data[3]) }}
    dispatch = ({{ slot.rect[2] }} + 31) // 32, ({{ slot.rect[3] }} + 31) // 32, 1
    {% endif %}
endif
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}

; --- 4. INITIALIZATION & HIERARCHY ---
[Constants]
global $TW_Init_Needed = 1
{% for block in rzm.tw_blocks %}
global $TW_Global_Init_Needed_{{ block.name }} = 1
{% endfor %}

{% set ns = namespace(processed_vars=[]) %}
{% for block in rzm.tw_blocks %}
    {% for comp in block.components %}
global $TW_{{ comp.name }}_Is_Updated = 0
global $Comp_{{ block.name }}_{{ comp.name }}_PastSum = -1
        {% for slot in comp.slots if slot.active %}
            {% if slot.hsv_link and slot.hsv_link not in ns.processed_vars %}
                {% set v_name = utils.format_var(slot.hsv_link) %}
global persist ${{ v_name }}_X = {{ "%.3f"|format(slot.hsv_base[0] if slot.hsv_base else 0.0) }}
global persist ${{ v_name }}_Y = {{ "%.3f"|format(slot.hsv_base[1] if slot.hsv_base else 0.0) }}
global persist ${{ v_name }}_Z = {{ "%.3f"|format(slot.hsv_base[2] if slot.hsv_base else 0.0) }}
global persist ${{ v_name }}_W = 0.0
                {% set _ = ns.processed_vars.append(slot.hsv_link) %}
            {% endif %}
            {% for layer in slot.decal_layers if layer.active %}
                {% set l_var = "TW_D" ~ block.name ~ comp.name ~ slot.name ~ layer.name ~ "Index" %}
global persist ${{ l_var }} = {{ layer.index }}
global ${{ l_var }}Past = -1
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endfor %}

[CommandListTexWorks]
if $ModInitialised == 1
    {% for block in rzm.tw_blocks %}
    run = CommandListBlock_{{ block.name }}
    {% endfor %}
endif

{% for block in rzm.tw_blocks %}
[CommandListBlock_{{ block.name }}]
{# Global Backdrop Init (Runs Once) #}
{% if block.backdrop_enabled and block.backdrop_resource_name %}
if $TW_Global_Init_Needed_{{ block.name }} == 1
    run = CommandListBlock_{{ block.name }}.GlobalInit
endif
{% endif %}

{# Initialization #}
if $TW_Init_Needed == 1
    {% for comp in block.components %}
    $TW_{{ comp.name }}_Is_Updated = 1
    {% endfor %}
    $TW_Init_Needed = 0
endif

{% for comp in block.components %}
{# 1. Check Decal Changes #}
{% for slot in comp.slots if slot.active %}
    {% for layer in slot.decal_layers if layer.active %}
        {% set l_var = "TW_D" ~ block.name ~ comp.name ~ slot.name ~ layer.name ~ "Index" %}
if ${{ l_var }} != ${{ l_var }}Past
    $TW_{{ comp.name }}_Is_Updated = 1
    ${{ l_var }}Past = ${{ l_var }}
endif
    {% endfor %}
{% endfor %}

{# 2. Check HSV Changes #}
{% set sum_parts = [] %}
{% for slot in comp.slots if slot.active %}
    {% if slot.hsv_link %}
        {% set v_name = utils.format_var(slot.hsv_link) %}
        {% set _ = sum_parts.append("$" ~ v_name ~ "_X") %}
        {% set _ = sum_parts.append("$" ~ v_name ~ "_Y") %}
        {% set _ = sum_parts.append("$" ~ v_name ~ "_Z") %}
        {% set _ = sum_parts.append("$" ~ v_name ~ "_W") %}
    {% endif %}
{% endfor %}
{% if sum_parts %}
local $current_sum_{{ block.name }}_{{ comp.name }} = {{ sum_parts | join(' + ') }}
if $Comp_{{ block.name }}_{{ comp.name }}_PastSum != $current_sum_{{ block.name }}_{{ comp.name }}
    $TW_{{ comp.name }}_Is_Updated = 1
    $Comp_{{ block.name }}_{{ comp.name }}_PastSum = $current_sum_{{ block.name }}_{{ comp.name }}
endif
{% endif %}

{# 3. Conditional Update #}
if $TW_{{ comp.name }}_Is_Updated == 1
    run = CommandListUpdateComp_{{ block.name }}_{{ comp.name }}
    $TW_{{ comp.name }}_Is_Updated = 0
endif
{% endfor %}
{% endfor %}

{% endcall %}
{% endmacro %}
