{% import "modules/utils.j2" as utils with context %}

{% macro generate_texworks(mod_file, scene) %}
{% set rzm = scene.rzm %}

{% call utils.clean_ws(max_empty=1) %}
; =======================================================================================
;                                     TEXWORKS CORE (v3.5.6)
; =======================================================================================

; --- 1. GLOBAL RESOURCES ---
{% for res in rzm.tw_resources %}
[Resource{{ utils.clean_resource(res.name) }}]
{% if res.type == 'ON_DISK' %}
filename = Textures\{{ res.path.split('\\')[-1] if '.' in res.path.split('\\')[-1] else res.path.split('\\')[-1] ~ '.dds' }}
{% elif res.type == 'VIRTUAL' %}
type = RWTexture2D
width = {{ res.resolution[0] }}
height = {{ res.resolution[1] }}
format = {{ res.format }}
array = 1
msaa = 1
mips = 1
{% endif %}
{% endfor %}

; --- 2. GLOBAL OVERRIDES (Atlas Protection) ---
{% for over in rzm.tw_overrides %}
[TextureOverride{{ over.name }}]
hash = {{ over.hash }}
this = Resource{{ utils.clean_resource(over.resource_name) }}
run = CommandListSafeTexWorks.{{ utils.clean_resource(over.resource_name) }}.CHECK
{% endfor %}

{% set unique_over_resources = rzm.tw_overrides | map(attribute='resource_name') | unique %}
{% for res_name in unique_over_resources %}
[CommandListSafeTexWorks.{{ utils.clean_resource(res_name) }}.CHECK]
local $isInit = 0
if this === null && $isInit == 0
    this = copy Resource{{ utils.clean_resource(res_name) }}
    if this === null
        $isInit = 0
    else
        $isInit = 1
    endif
endif
{% endfor %}

; --- 3. MAIN BLOCKS ---
{% for block in rzm.tw_blocks %}
; Block: {{ block.name }} ({{ block.shader_type }})
{% set block_res = utils.clean_resource(block.resource_name) %}

{# Auto-generate resource if output resource name is missing #}
{% if not block.resource_name %}
{% set block_res = block.name ~ "_Atlas" %}
[Resource{{ block_res }}]
type = RWTexture2D
width = 4096
height = 4096
format = DXGI_FORMAT_R8G8B8A8_TYPELESS
array = 1
msaa = 1
mips = 1
{% endif %}

{% if block.backdrop_enabled and block.backdrop_resource_name %}
[CommandListBlock_{{ block.name }}.GlobalInit]
run = CustomShaderBlockBackdrop_{{ block.name }}
$TW_Global_Init_Needed_{{ block.name }} = 0

[CustomShaderBlockBackdrop_{{ block.name }}]
cs = /modules/texworks/cs_update_region.hlsl
cs-u0 = ref Resource{{ block_res }}
cs-t0 = Resource{{ utils.clean_resource(block.backdrop_resource_name) }}
cs-t1 = null
x43 = 0
y43 = 0
z43 = 0
w43 = 1.0
x44 = {{ block.backdrop_rect[0] }}
y44 = {{ block.backdrop_rect[1] }}
z44 = {{ block.backdrop_rect[2] }}
w44 = {{ block.backdrop_rect[3] }}
x45 = 0.0
y45 = 0.0
z45 = 0.0
w45 = 1.0
x24 = 0.0
dispatch = {{ block.backdrop_rect[2] }} // 32, {{ block.backdrop_rect[3] }} // 32, 1
{% endif %}

{% for comp in block.components %}
; --- Component: {{ comp.name }} ---
{% set comp_path = "TexWorks/" ~ block.name ~ "/" ~ comp.name %}
{% if comp.mask_enabled %}
[Resource{{ comp.name }}Mask]
filename = {{ comp_path }}/mask.png
{% endif %}

[CommandListUpdateComp_{{ block.name }}_{{ comp.name }}]
{# 1. Base initialization pass #}
run = CustomShaderUpdateCompBase_{{ block.name }}_{{ comp.name }}

{# 2. HSV Adjustments #}
{% for slot in comp.slots if slot.active %}
    {% if slot.hsv_enabled and slot.hsv_link %}
run = CustomShaderUpdateSlotHSV_{{ block.name }}_{{ comp.name }}_{{ slot.name }}
    {% endif %}
{% endfor %}

{# 3. Decal Layers #}
{% for slot in comp.slots if slot.active %}
    {% for layer in slot.decal_layers if layer.active %}
run = CustomShaderUpdateLayer_{{ block.name }}_{{ comp.name }}_{{ slot.name }}_{{ layer.name }}
    {% endfor %}
{% endfor %}

{# --- Shaders for Component --- #}

[CustomShaderUpdateCompBase_{{ block.name }}_{{ comp.name }}]
cs = /modules/texworks/cs_update_region.hlsl
cs-u0 = ref Resource{{ block_res }}
{% if comp.base_resource_name %}
cs-t0 = Resource{{ utils.clean_resource(comp.base_resource_name) }}
{% elif block.backdrop_enabled and block.backdrop_resource_name %}
cs-t0 = Resource{{ utils.clean_resource(block.backdrop_resource_name) }}
{% else %}
cs-t0 = null
{% endif %}
cs-t1 = {% if comp.mask_enabled %}Resource{{ comp.name }}Mask{% else %}null{% endif %}
{# RZM_TEXMORPH: Добавляем текстуру для морфинга #}
{% if comp.tex_morph_enabled and comp.tex_morph_resource_name %}
cs-t2 = Resource{{ utils.clean_resource(comp.tex_morph_resource_name) }}
{% else %}
cs-t2 = null
{% endif %}
x43 = 0
y43 = 0
z43 = 0
w43 = 1.0
x44 = {{ comp.rect[0] }}
y44 = {{ comp.rect[1] }}
z44 = {{ comp.rect[2] }}
w44 = {{ comp.rect[3] }}
{# Mapping source rect #}
x45 = {{ "%.3f"|format(comp.base_rect[0] / 4096) }}
y45 = {{ "%.3f"|format(comp.base_rect[1] / 4096) }}
z45 = 0.0
w45 = 1.0

{# RZM_TEXMORPH: Фактор смешивания #}
{% if comp.tex_morph_enabled and comp.tex_morph_link %}
x24 = ${{ utils.format_var(comp.tex_morph_link) }}
{% else %}
x24 = 0.0
{% endif %}
dispatch = {{ comp.rect[2] }} // 32, {{ comp.rect[3] }} // 32, 1

{% for slot in comp.slots if slot.active %}
{# Slot Resources (Masks, Decal variations, Config Buffer) #}
{% if slot.mask_enabled %}
[Resource{{ comp.name }}{{ slot.name }}Mask]
{% set clean_comp = comp.name.replace(" ", "") %}
{% set clean_slot = slot.name.replace(" ", "") %}
filename = {{ comp_path }}/{{ slot.name }}/{{ clean_comp }}{{ clean_slot }}.MASK.png
{% endif %}

{# New Config Buffer for Slot #}
[Resource.TexWorks.{{ block.name }}.{{ comp.name }}.{{ slot.name }}.Config]
type = Buffer
format = R32_FLOAT
{% if slot.multi_pass_mode != 'NONE' %}
array = 16
{% else %}
array = 8
{% endif %}
{% set p0_x = comp.rect[0] + slot.rect[0] %}
{% set p0_y = comp.rect[1] + slot.rect[1] %}
{% set p0_w = slot.rect[2] %}
{% set p0_h = slot.rect[3] %}
{% set p0_rot = slot.rotation %}
{% set p0_dmy = slot.dummy %}
{% set p0_mir = 1.0 if slot.mirror else 0.0 %}
{% set p0_flp = 1.0 if slot.flip else 0.0 %}
{% if slot.multi_pass_mode != 'NONE' %}
    {% set p1_x = slot.multi_pass_rect[0] %}
    {% set p1_y = slot.multi_pass_rect[1] %}
    {% set p1_w = slot.multi_pass_rect[2] %}
    {% set p1_h = slot.multi_pass_rect[3] %}
    {% set p1_rot = slot.multi_pass_rotation %}
    {% set p1_dmy = slot.multi_pass_dummy %}
    {% set p1_mir = 1.0 if slot.multi_pass_mirror else 0.0 %}
    {% set p1_flp = 1.0 if slot.multi_pass_flip else 0.0 %}
    data = {{ p0_x }} {{ p0_y }} {{ p0_w }} {{ p0_h }} {{ p0_rot }} {{ p0_dmy }} {{ p0_mir }} {{ p0_flp }} {{ p1_x }} {{ p1_y }} {{ p1_w }} {{ p1_h }} {{ p1_rot }} {{ p1_dmy }} {{ p1_mir }} {{ p1_flp }}
{% else %}
    data = {{ p0_x }} {{ p0_y }} {{ p0_w }} {{ p0_h }} {{ p0_rot }} {{ p0_dmy }} {{ p0_mir }} {{ p0_flp }}
{% endif %}

{% for layer in slot.decal_layers if layer.active %}
    {% for i in range(layer.count) %}
        {% set file_suffix = "" %}
        {% if block.shader_type == 'NORMAL' %}{% set file_suffix = "_N" %}{% endif %}
        {% if block.shader_type == 'MATERIAL' %}{% set file_suffix = "_M" %}{% endif %}
[Resource_{{ block.name }}_{{ comp.name }}_{{ slot.name }}_{{ layer.name }}.{{ i }}]
filename = {{ comp_path }}/{{ slot.name }}/{{ layer.name }}/{{ i }}{{ file_suffix }}.png
    {% endfor %}
{% endfor %}

{# HSV Compute Shader (TODO: Optional - currently updated to use buffer logic if needed) #}
{% if slot.hsv_enabled and slot.hsv_link %}
[CustomShaderUpdateSlotHSV_{{ block.name }}_{{ comp.name }}_{{ slot.name }}]
cs = /modules/texworks/cs_update_region.hlsl
cs-u0 = ref Resource{{ block_res }}
cs-t0 = null
cs-t1 = {% if slot.hsv_mask_enabled %}Resource{{ comp.name }}{{ slot.name }}Mask{% elif comp.mask_enabled %}Resource{{ comp.name }}Mask{% else %}null{% endif %}
{% set v_name = utils.format_var(slot.hsv_link) %}
x43 = ${{ v_name }}_X - {{ "%.3f"|format(slot.hsv_base[0] if slot.hsv_base else 0.0) }}
y43 = ${{ v_name }}_Y - {{ "%.3f"|format(slot.hsv_base[1] if slot.hsv_base else 0.0) }}
z43 = ${{ v_name }}_Z - {{ "%.3f"|format(slot.hsv_base[2] if slot.hsv_base else 0.0) }}
w43 = 1.0 {# HSV Enabled #}
x44 = {{ comp.rect[0] + slot.rect[0] }} {# USAGE: comp.rect and slot.rect #}
y44 = {{ comp.rect[1] + slot.rect[1] }}
z44 = {{ slot.rect[2] }}
w44 = {{ slot.rect[3] }}
{# Old multi_pass_data usage removed #}
x45 = 0.0 
y45 = 0.0
z45 = 0.0
w45 = 1.0
x24 = 0.0
dispatch = {{ slot.rect[2] }} // 32, {{ slot.rect[3] }} // 32, 1
{% endif %}

{# Layer Compute Shaders #}
{% for layer in slot.decal_layers if layer.active %}
{% set l_var_base = "TW_D" ~ block.name ~ comp.name ~ slot.name ~ layer.name %}
{% set material = rzm.tw_materials.get(layer.name) %}
[CustomShaderUpdateLayer_{{ block.name }}_{{ comp.name }}_{{ slot.name }}_{{ layer.name }}]
cs = /modules/texworks/decal_draw_NEW.hlsl
cs-u0 = ref Resource{{ block_res }}
cs-t0 = null
cs-t1 = {% if comp.mask_enabled %}Resource{{ comp.name }}Mask{% else %}null{% endif %}
cs-t2 = {% if slot.mask_enabled %}Resource{{ comp.name }}{{ slot.name }}Mask{% else %}null{% endif %}
cs-t3 = Resource.TexWorks.{{ block.name }}.{{ comp.name }}.{{ slot.name }}.Config

{# Pass Variables setup #}
{# USAGE: xyzw45 - Component Rect #}
x45 = {{ "%.1f"|format(comp.rect[0]) }}
y45 = {{ "%.1f"|format(comp.rect[1]) }}
z45 = {{ "%.1f"|format(comp.rect[2]) }}
w45 = {{ "%.1f"|format(comp.rect[3]) }}

{# USAGE: xyzw41/42 - Debug Override (If active) #}
{% if scene.rzm.addons.debugger_info %}
; Debug override data from UI (Linked to persist vars)
;x41 = $RZM_DEBUG_VALUE_0
;y41 = $RZM_DEBUG_VALUE_1
;z41 = $RZM_DEBUG_VALUE_2
;w41 = $RZM_DEBUG_VALUE_3
;x42 = $RZM_DEBUG_VALUE_4
;y42 = $RZM_DEBUG_VALUE_5
;z42 = $RZM_DEBUG_VALUE_6
;w42 = $RZM_DEBUG_VALUE_7
{% endif %}

{% if material %}
x46 = {{ "%.3f"|format(material.parameters[0]) }}
y46 = {{ "%.3f"|format(material.parameters[1]) }}
z46 = {{ "%.3f"|format(material.parameters[2]) }}
w46 = {{ "%.3f"|format(material.parameters[3]) }}
{% endif %}

{# --- PASS 0 (Original) --- #}
if ${{ l_var_base }}Index0 >= 0
    {# Index Switching Pass 0 #}
    {% for i in range(layer.count) %}
    {% if loop.first %}if ${{ l_var_base }}Index0 == {{ i }}{% else %}elif ${{ l_var_base }}Index0 == {{ i }}{% endif %}
        cs-t0 = Resource_{{ block.name }}_{{ comp.name }}_{{ slot.name }}_{{ layer.name }}.{{ i }}
    {% endfor %}
    endif

    x44 = 0
    w44 = {{ 1.0 if (slot.mask_enabled and slot.pass0_use_mask) else 0.0 }}
    dispatch = ({{ slot.rect[2] }} + 31) // 32, ({{ slot.rect[3] }} + 31) // 32, 1
endif

{# --- PASS 1 (Multi-Pass) --- #}
{% if slot.multi_pass_mode != 'NONE' %}
    {% set p1_idx_var = l_var_base ~ "Index1" if slot.multi_pass_mode == 'INDIVIDUAL' else l_var_base ~ "Index0" %}
if ${{ p1_idx_var }} >= 0
    ; Reset cs-t0 before second pass switch
    cs-t0 = null

    {# Index Switching Pass 1 #}
    {% for i in range(layer.count) %}
    {% if loop.first %}if ${{ p1_idx_var }} == {{ i }}{% else %}elif ${{ p1_idx_var }} == {{ i }}{% endif %}
        cs-t0 = Resource_{{ block.name }}_{{ comp.name }}_{{ slot.name }}_{{ layer.name }}.{{ i }}
    {% endfor %}
    endif

    x44 = 1
    w44 = {{ 1.0 if (slot.mask_enabled and slot.pass1_use_mask) else 0.0 }}
    dispatch = ({{ slot.multi_pass_rect[2] }} + 31) // 32, ({{ slot.multi_pass_rect[3] }} + 31) // 32, 1
endif
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}

; --- 4. INITIALIZATION & HIERARCHY ---
[Constants]
global $TW_Init_Needed = 1
{% for block in rzm.tw_blocks %}
global $TW_Global_Init_Needed_{{ block.name }} = 1
{% endfor %}

{% set ns = namespace(processed_vars=[]) %}
{% for block in rzm.tw_blocks %}
    {% for comp in block.components %}
global $TW_{{ comp.name }}_Is_Updated = 0
global $Comp_{{ block.name }}_{{ comp.name }}_PastSum = -1
        {% for slot in comp.slots if slot.active %}
            {% if slot.hsv_enabled and slot.hsv_link %}
                {% set v_name = utils.format_var(slot.hsv_link) %}
                {% if v_name not in ns.processed_vars %}
                    {# Проверяем, есть ли эта переменная в глобальном списке. Если нет - создаем #}
                    {% set from_coll = namespace(found=false) %}
                    {% for v in rzm.rzm_values if utils.format_var(v.value_name) == v_name %}{% set from_coll.found = true %}{% endfor %}
                    {% if not from_coll.found %}
global persist ${{ v_name }}_X = {{ "%.3f"|format(slot.hsv_base[0] if slot.hsv_base else 0.0) }}
global persist ${{ v_name }}_Y = {{ "%.3f"|format(slot.hsv_base[1] if slot.hsv_base else 0.5) }}
global persist ${{ v_name }}_Z = {{ "%.3f"|format(slot.hsv_base[2] if slot.hsv_base else 0.6) }}
global persist ${{ v_name }}_W = 0.0
                    {% endif %}
                    {% set _ = ns.processed_vars.append(v_name) %}
                {% endif %}
            {% endif %}
            {% for layer in slot.decal_layers if layer.active %}
                {% set l_var_base = "TW_D" ~ block.name ~ comp.name ~ slot.name ~ layer.name %}
global persist ${{ l_var_base }}Index0 = -1
global ${{ l_var_base }}IndexPast0 = -1
                {% if slot.multi_pass_mode == 'INDIVIDUAL' %}
global persist ${{ l_var_base }}Index1 = -1
global ${{ l_var_base }}IndexPast1 = -1
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endfor %}

[CommandListTexWorks]
if $ModInitialised == 1
    {% for block in rzm.tw_blocks %}
    run = CommandListBlock_{{ block.name }}
    {% endfor %}
endif

{% for block in rzm.tw_blocks %}
[CommandListBlock_{{ block.name }}]
{# Global Backdrop Init (Runs Once) #}
{% if block.backdrop_enabled and block.backdrop_resource_name %}
if $TW_Global_Init_Needed_{{ block.name }} == 1
    run = CommandListBlock_{{ block.name }}.GlobalInit
endif
{% endif %}

{# Initialization #}
if $TW_Init_Needed == 1
    {% for comp in block.components %}
    $TW_{{ comp.name }}_Is_Updated = 1
    {% endfor %}
    $TW_Init_Needed = 0
endif

{% for comp in block.components %}
{# 1. Check Decal Changes #}
{% for slot in comp.slots if slot.active %}
    {% for layer in slot.decal_layers if layer.active %}
        {% set l_var_base = "TW_D" ~ block.name ~ comp.name ~ slot.name ~ layer.name %}
if ${{ l_var_base }}Index0 != ${{ l_var_base }}IndexPast0
    $TW_{{ comp.name }}_Is_Updated = 1
    ${{ l_var_base }}IndexPast0 = ${{ l_var_base }}Index0
endif
        {% if slot.multi_pass_mode == 'INDIVIDUAL' %}
if ${{ l_var_base }}Index1 != ${{ l_var_base }}IndexPast1
    $TW_{{ comp.name }}_Is_Updated = 1
    ${{ l_var_base }}IndexPast1 = ${{ l_var_base }}Index1
endif
        {% endif %}
    {% endfor %}
{% endfor %}

{# 2. Check HSV Changes #}
{% set sum_parts = [] %}
{% for slot in comp.slots if slot.active %}
    {% if slot.hsv_link %}
        {% set v_name = utils.format_var(slot.hsv_link) %}
        {% set _ = sum_parts.append("$" ~ v_name ~ "_X") %}
        {% set _ = sum_parts.append("$" ~ v_name ~ "_Y") %}
        {% set _ = sum_parts.append("$" ~ v_name ~ "_Z") %}
        {% set _ = sum_parts.append("$" ~ v_name ~ "_W") %}
    {% endif %}
{% endfor %}
{# RZM_TEXMORPH: Учитываем фактор морфинга в сумме изменений компонента #}
{% if comp.tex_morph_enabled and comp.tex_morph_link %}
    {% set m_var = utils.format_var(comp.tex_morph_link) %}
    {% set _ = sum_parts.append("$" ~ m_var) %}
{% endif %}
{% if sum_parts %}
local $current_sum_{{ block.name }}_{{ comp.name }} = {{ sum_parts | join(' + ') }}
if $Comp_{{ block.name }}_{{ comp.name }}_PastSum != $current_sum_{{ block.name }}_{{ comp.name }}
    $TW_{{ comp.name }}_Is_Updated = 1
    $Comp_{{ block.name }}_{{ comp.name }}_PastSum = $current_sum_{{ block.name }}_{{ comp.name }}
endif
{% endif %}

{# 3. Conditional Update #}
if $TW_{{ comp.name }}_Is_Updated == 1
    run = CommandListUpdateComp_{{ block.name }}_{{ comp.name }}
    $TW_{{ comp.name }}_Is_Updated = 0
endif
{% endfor %}
{% endfor %}

{% endcall %}
{% endmacro %}
